<h3 class="custom-content-heading">
    <div ng-switch on="authentication.user.organization.effectiveOrgType" class="pull-right">
        <div ng-switch-when="networkAdmin">
            <role-switcher></role-switcher>
        </div>
    </div>
    <section ng-include="'/modules/core/views/partials/breadcrumbs.html'"></section>
</h3>
<section>
    <div ng-switch on="role">
        <div ng-switch-when="advertiser">
            <div ng-include="'/modules/core/views/partials/advdashboard.html'"></div>
        </div>
        <div ng-switch-when="publisher">
            <div ng-include="'/modules/core/views/partials/pubdashboard.html'"></div>
        </div>
        <div ng-switch-when="networkAdmin">
            <!--<div ng-include="'/modules/core/views/partials/advdashboard.html'"></div>-->
            <div ng-include="'/modules/core/views/partials/admindashboard.html'"></div>
        </div>
    </div>
</section>