<h3 class="custom-content-heading color-white">
   <!-- START Language list-->
   <div class="pull-right">
      <!--<div dropdown="" is-open="language.listIsOpen" class="btn-group">-->
         <!--<button type="button" dropdown-toggle="" class="btn btn-default">{{language.selected}}-->
            <!--<span class="caret"></span>-->
         <!--</button>-->
         <!--<ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">-->
            <!--<li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)">{{langName}}</a>-->
            <!--</li>-->
         <!--</ul>-->
      <!--</div>-->
   </div>
   <!-- END Language list    -->
   Home
   <!--<small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>-->
    <!-- <small class="color-white">Welcome to the Cliques Console</small> -->
</h3>
<section>
    <div ng-switch on="role">
        <div ng-switch-when="advertiser">
            <div ng-include="'/modules/core/views/partials/advdashboard.html'"></div>
        </div>
        <div ng-switch-when="publisher">
            <div ng-include="'/modules/core/views/partials/pubdashboard.html'"></div>
        </div>
        <div ng-switch-when="networkAdmin">
            <div ng-include="'/modules/core/views/partials/admindashboard.html'"></div>
        </div>
    </div>
</section>