<section>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Cliques Labs Inc. Privacy Policy</h4>

            <p><strong class="text-muted">Last Updated: September 28, 2015</strong></p>

            <p>
                This privacy policy (“Policy”) describes how Cliques Labs Inc. (“we” or “us”) collects, uses and shares
                your information by us when you use the website located at <a href="http://console.cliquesads.com" analytics-on="click" analytics-event="PrivacyPolicy_VisitWebsite">console.cliquesads.com</a>
                and related services (“Service”) and how Personal Information is collected, used, and processed through
                our technology on behalf of online advertisers, publishers, business partners, and other businesses that
                use our Service.
            </p>

            <p>
                “Personal Information” means information that alone or when in combination with other information may be
                used to readily identify, contact or locate you, such as: name, address, email address, or phone number.
                We do not consider Personal Information to include information that has been anonymized so that it does
                not allow a third party to easily identify a specific individual.
            </p>

            <p><strong>WHAT WE COLLECT</strong></p>

            <p>
                We and third parties that provide functionality on our Service collect information from you when you
                interact with our Service. This information includes:
            </p>

            <p>
                <strong>Information You Provide Us.</strong> When you set up an account with us, we collect the Personal
                Information you provide us including your name and contact information, like your postal address,
                telephone number and email address. If you are an advertiser, you will need to provide billing
                information. If you are a publisher, you will need to provide information about your website and payment
                information. You may choose to provide us with other optional information.
            </p>

            <p>
                <strong>Cookies, Automatic Data Collected, and Related Technologies. </strong>When you use our Service,
                we automatically collect certain information about your visit using cookies or similar technology. This
                information includes the type of Internet browser used, your computer operating system and IP address.
                We use this information to provide, measure, customize and improve our Service. We do not consider this
                automatically collected information or device data to be Personal Information.
            </p>

            <p>
                <strong>HOW WE USE INFORMATION</strong>
            </p>

            <p>We may use information, including your Personal Information, as follows:</p>

            <p>
                <strong>Internal and Service-Related Usage.</strong> We use information, including Personal Information,
                for internal and service-related purposes and may provide it to third parties to allow us to facilitate
                the Service. We may use and retain any data we collect to provide and improve our Service.
            </p>

            <p>
                <strong>Communications.</strong> We may send email to the email address you provide to us to verify your
                account and for informational and operational purposes, such as account management, customer service, or
                system maintenance.
            </p>

            <p>
                <strong>Aggregated Data.</strong> We may anonymize and aggregate data collected through the Site and use
                it for any purpose.
            </p>

            <p><strong>HOW WE SHARE INFORMATION</strong></p>

            <p>We may share information, including your Personal Information, as follows:</p>


            <p>
                <strong>As Required by Law and Similar Disclosures.</strong> We may access, preserve and share your
                information, including Personal Information if we believe doing so is required by law or if those
                actions are reasonably necessary to:
            </p>
            <ul>
                <li>comply with legal process, such as a court order or subpoena;</li>
                <li>enforce this Policy or our Terms of Service;</li>
                <li>respond to claims that any content violates the rights of third parties;</li>
                <li>respond to your requests for customer service;</li>
                <li>respond to law enforcement;</li>
                <li>investigate and prevent unauthorized transactions or other illegal activities; or</li>
                <li>protect our or others’ rights, property, or personal safety.</li>
            </ul>
            <p>
                <strong>Third Party Service Providers.</strong> We may share any information we receive with vendors and
                service providers who need it to do work for us.
            </p>
            <p>
                <strong>Business Transfers. </strong>If we are involved in a merger, acquisition, reorganization,
                bankruptcy, sale of all or part of our assets or business, or transition of service to another provider,
                your information may be sold or transferred as part of such a transaction as permitted by law and/or contract.
            </p>

            <p><strong>Consent. </strong>We may share Personal Information with your consent.</p>

            <p><strong>ABOUT THE TECHNOLOGY </strong></p>

            <p>
                We may employ cookies to collect information in the course of providing clients with ad-serving services.
                A cookie is a small text file that can be stored on a user’s computer that are designed to store
                information. The cookies we use are associated with and unique to the specific computer. The cookie
                stores aggregate and anonymous information such as the type of operating system, type of internet
                browsing software, web pages viewed and access time as well as location data.
            </p>

            <p>
                <strong>Removing Our Technology From Your Browser. </strong>You can adjust your browser setting to
                remove cookies.
            </p>

            <p><strong>YOUR INFORMATION CHOICES AND CHANGES</strong></p>

            <p>
                <strong>Update, Modify or Delete your Personal Information. </strong>You may send requests about
                Personal Information to our contact information below. You can request to change contact choices,
                opt-out of our sharing with others, and update your personal information. If you need to change or
                correct any Personal Information provided to us, or wish to have all Personal Information we have
                collected removed from our files, please contact us at: (617)-545-4984 / support@cliquesads.com.
            </p>

            <p>
                <strong>Data Retention. </strong>We will retain your information for as long as you are active on our
                Service or as needed to provide our Service. We will retain and use your information as necessary to
                comply with our legal obligations, resolve disputes, and enforce our agreements.
            </p>

            <p><strong>INTERNATIONAL USERS</strong></p>

            <p>
                <strong>International Transfer. </strong>We process and store all of the information we receive on
                servers located in the United States. If you are using our Service in the European Union or other
                regions with laws governing data collection and use, please note that you are agreeing to the transfer
                of your information to the United States and processing globally. By providing your information to us,
                you consent to any transfer and processing in accordance with this Policy.
            </p>

            <p><strong>SECURITY </strong></p>

            <p>
                We take steps to ensure that your information is treated securely and in accordance with this Policy.
                Unfortunately, the Internet cannot be guaranteed to be 100% secure, and we cannot ensure or warrant the
                security of any information you provide to us. We do not accept liability for unintentional disclosure.
            </p>

            <p>
                <strong>Electronic Communication. </strong>By using our Service or providing Personal Information to us,
                you agree that we may communicate with you electronically regarding security, privacy, and administrative
                issues relating to your use of the Service. If we learn of a security system’s breach, we may attempt to
                notify you electronically by posting a notice on the Service or sending an email to you. You may have a
                legal right to receive this notice in writing. To receive free written notice of a security breach (or
                to withdraw your consent from receiving electronic notice), please notify us as at: (617)-545-4984 /
                support@cliquesads.com.
            </p>

            <p><strong>CHANGES TO THIS PRIVACY POLICY</strong></p>

            <p>
                <strong>Posting of Revised Policy. </strong>We will post any adjustments to this Policy on our Service,
                and the revised version will be effective when it is posted.
            </p>

            <p>
                <strong>Changes to this Policy. </strong>From time to time, we may change this Policy to reflect changes in
                our practices. If at any point we decide to retain or use previously collected Personal Information in a
                materially less restrictive manner, we will post a notice on our Service prior to the change becoming
                effective. Revisions to this Policy are effective upon posting. You should periodically visit this page to
                review the current information on our Policy.
            </p>

            <p><strong>CONTACT INFORMATION</strong></p>

            <p>We welcome your questions or concerns about this Policy. You may contact us at our address:</p>

            Cliques Labs Inc.<br/>
            172 Green St.<br/>
            Unit 9<br/>
            Boston, MA 02130<br/>
        </div>
    </div>
</section>