<div ng-show="stateError" class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6 alert alert-danger text-center">
    <h3 data-ng-bind="stateError"></h3>
</div>
<section ng-hide="stateError" class="row">
    <h3 class="col-md-12 text-center text-white">Sign Up for Cliques Beta</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6 panel panel-default">
        <div class="panel-body">
            <form name="userform" id="userform" data-ng-submit="signup()" form-wizard="" validate-steps="true" validate-form="" steps="4" autocomplete="off">
                <div class="form-wizard wizard-horizontal">
                    <!-- START wizard steps indicator-->
                    <ol class="row" style="margin-left: -15px; margin-right: -15px">
                        <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-sm-3 skinny">
                            <h4><i class="fa fa-info"></i> Basic Info</h4>
                        </li>
                        <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-3 skinny">
                            <h4><i class="fa fa-building-o"></i> Organization Info</h4>
                        </li>
                        <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-sm-3 skinny">
                            <h4><i class="fa fa-user"></i> Create an Account</h4>
                        </li>
                        <li ng-class="{'active':wizard.active(4)}" class="col-md-3 skinny">
                            <h4><i class="fa fa-file-text-o"></i> Terms & Conditions</h4>
                        </li>
                    </ol>
                    <!-- END wizard steps indicator-->

                    <!-- START User Inputs -->
                    <!-- Add analytics event trigger on load of this step since user will almost never explicitly click
                        on any button to get to step 1 -->
                    <div id="step1" ng-show="wizard.active(1)">
                        <div ng-show="!organizationInvite">
                            <legend>Account Type</legend>
                            <p class="legend-help-text text-muted">Please tell us what type of account you'd like to create.</p>
                            <div class="box-form">
                                <ol class="row" style="margin-left: -15px; margin-right: -15px">
                                    <li ng-class="{'active':organization.type === 'advertiser'}" ng-click="organization.type = 'advertiser'" class="col-sm-6">
                                        <h4>{{ organization_types.advertiser.name }}</h4>
                                        <p>{{ organization_types.advertiser.description }}</p>
                                    </li>
                                    <li ng-class="{'active':organization.type === 'publisher'}" ng-click="organization.type = 'publisher'" class="col-sm-6">
                                        <h4>{{ organization_types.publisher.name }}</h4>
                                        <p>{{ organization_types.publisher.description }}</p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Basic Info</legend>
                            <div class="row pt">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">First Name *</label>
                                        <input type="text" required="required" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" data-parsley-group="step1"  placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastName">Last Name *</label>
                                        <input type="text" required="required" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" data-parsley-group="step1" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row pt">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="email">Email *</label>
                                        <input type="email" required="required" id="email" name="email" class="form-control" data-ng-model="credentials.email" data-parsley-group="step1" placeholder="Email">
                                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tz">Reporting Timezone *</label>
                                        <select id="tz" name="tz" required="required" class="form-control" ng-options="timezone.value as timezone.name for timezone in timezoneChoices" data-parsley-group="step1" data-ng-model="credentials.tz"></select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <small class="text-muted">* Required</small>
                        <ul class="pager">
                            <li class="next">
                                <a href="#" ng-click="wizard.go(2)" analytics-on="click" analytics-event="Signup_Step2"> Next <span>&rarr;</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- START Organization Inputs -->
                    <div id="step2" ng-show="wizard.active(2)" ng-switch on="organizationInvite">
                        <fieldset ng-switch-when="true">
                            <legend>Organization</legend>
                            <p class="legend-help-text text-muted">You have been invited to join the following organization:</p>
                            <h4>{{ organization.name }}</h4>
                            <small><em class="text-muted">If you do not recognize this organization or believe you have received this invite in error, please <a href="mailto:support@cliquesads.com">contact us.</a></em></small>
                        </fieldset>
                        <fieldset ng-switch-default>
                            <legend>Organization Info</legend>
                            <p class="legend-help-text text-muted">Please tell us about your company.  We will use this information for billing purposes only.</p>
                            <div class="row pt">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="company">Company Name *</label>
                                        <input type="text" required="required" id="company" name="company" class="form-control" data-ng-model="organization.name" data-parsley-group="step2"  placeholder="Company Name, Inc.">
                                    </div>
                                </div>
                            </div>
                            <!-- Logo uploader -->
                            <div class="row pt">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Logo</label>
                                        <logo-uploader model="organization" uploader="logo_uploader"></logo-uploader>
                                    </div>
                                </div>
                            </div>
                            <!-- End of logo uploader -->
                            <div class="row pt">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Website *</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">http://</span>
                                            <input name="website" type="text" data-parsley-pattern="{{ domain_regex }}" data-parsley-error-message="This must be a valid website." data-ng-model="organization.website" id="website" data-parsley-group="step2" class="form-control" placeholder="example.com" required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="phone">Phone Number *</label>
                                        <input type="text" required="required" id="phone" data-parsley-intlphone name="phone" class="form-control" data-ng-model="organization.phone" data-parsley-group="step2">
                                    </div>
                                </div>
                            </div>
                            <div class="row pt">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="address">Address *</label>
                                        <input type="text" required="required" id="address" name="address" class="form-control" data-ng-model="organization.address" data-parsley-group="step2" placeholder="123 Green Acres Ln.">
                                    </div>
                                </div>
                            </div>
                            <div class="row pt">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="address2">Address 2</label>
                                        <input type="text" id="address2" name="address2" class="form-control" data-ng-model="organization.address2" data-parsley-group="step2" placeholder="Apartment, suite, unit, building, floor, etc.">
                                    </div>
                                </div>
                            </div>
                            <div class="row pt">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="country">Country *</label>
                                        <div id="country" required="required" class="form-control" data-parsley-group="step2" data-ng-model="organization.country" country-select></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="city">City *</label>
                                        <input type="text" id="city" name="city" required="required" class="form-control" data-parsley-group="step2" data-ng-model="organization.city" placeholder="Funkytown">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="state">State/Province/Region *</label>
                                        <div id="state" required="required" class="form-control" data-parsley-group="step2" data-ng-model="organization.state" country="{{ organization.country}}" state-select></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="zip">Zip/Postal Code *</label>
                                        <input type="text" id="zip" name="zip" required="required" class="form-control" data-parsley-group="step2" data-ng-model="organization.zip" placeholder="86753">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <small class="text-muted">* Required</small>
                        <ul class="pager">
                            <li class="previous">
                                <a href="#" ng-click="wizard.go(1)"><span>&larr; Previous</span></a>
                            </li>
                            <li class="next">
                                <a href="#" ng-click="wizard.go(3)" analytics-on="click" analytics-event="Signup_Step3"> Next <span>&rarr;</span></a>
                            </li>
                        </ul>
                    </div>
                    <div id="step3" ng-show="wizard.active(3)">
                        <fieldset>
                            <legend>Create a Username & Password</legend>
                            <p class="legend-help-text text-muted">Please create a username & password for the Cliques Console.</p>
                            <div class="row pt">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label for="username">Username</label>
                                        <input type="text" id="username" required="required" data-parsley-minlength="5" ng-minlength="5" name="username" ng-init="credentials.username = credentials.email" data-parsley-group="step3" class="form-control" data-ng-model="credentials.username" placeholder="{{ credentials.email }}">
                                        <span class="fa fa-user form-control-feedback text-muted"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div ng-show="credentials.username.length < 5" class="form-message form-message-danger" style=""><i class="fa fa-exclamation-circle"></i> 5 characters min.</div>
                                    <div ng-show="credentials.username && userNameTaken" class="form-message form-message-danger" style=""><i class="fa fa-exclamation-circle"></i> This username is taken.</div>
                                    <div ng-show="credentials.username && !userNameTaken" class="form-message form-message-success" style=""><i class="fa fa-check-circle"></i> This username is available</div>
                                </div>
                            </div>
                            <div class="row pt">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" required="required" id="password" name="password" tr-trustpass="{special: false, messageGuide: 'Make sure your password meets these requirements:'}" ng-minlength="8" class="form-control" data-ng-model="credentials.password"  data-parsley-group="step3" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-md-6" id="password-helper"></div>
                            </div>
                            <div class="row pt">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="confirmpassword">Confirm Password</label>
                                        <input type="password" data-parsley-equalto="#password" required="required" id="confirmpassword" name="confirmpassword" ng-minlength="8" class="form-control" data-ng-model="credentials.confirmpassword" data-parsley-group="step3" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div ng-show="credentials.password === credentials.confirmpassword" class="form-message form-message-success" style=""><i class="fa fa-check-circle"></i> Passwords match</div>
                                </div>
                            </div>
                        </fieldset>
                        <small class="text-muted">* Required</small>
                        <ul class="pager">
                            <li class="previous">
                                <a href="#" ng-click="wizard.go(2)"><span>&larr; Previous</span></a>
                            </li>
                            <li class="next">
                                <a href="#" ng-show="credentials.username && !userNameTaken && userform.password.$valid" ng-click="wizard.go(4)" analytics-on="click" analytics-event="Signup_Step4"> Next <span>&rarr;</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Start Terms & Conditions Stuff -->
                    <div id="step4" ng-show="wizard.active(4)">
                        <div ng-show="promos[organization.type].length > 0" class="alert alert-success">
                            <p>You've used an access code that comes with the following promotions:</p>
                            <ul>
                                <li ng-repeat="promo in promos[organization.type]" class="text-md">{{ promo.description }}</li>
                            </ul>
                        </div>
                        <fieldset>
                            <legend>Terms & Conditions</legend>
                            <p class="legend-help-text text-muted">Before completing your registration, you must accept the Cliques Terms & Conditions below.</p>
                            <div ng-hide="organizationInvite">
                                <div ng-switch on="organization.type">
                                    <div ng-switch-when="advertiser">
                                        <p><strong>Service Fees Summary</strong></p>
                                        <ul>
                                            <li>The Cliques Fees (as defined in the Terms and Conditions) are equal to <strong>{{ fees[organization.type].percentage | percentage:1 }}</strong> of the Client Bid (as defined in the Terms and Conditions).</li>
                                            <li>Cliques will send you an invoice for the Total Media Cost (as defined in the Terms and Conditions) at the end of each month.  The total due for each month is payable within <strong>fifteen (15)</strong> days of the invoice date.</li>
                                            <li>Please see the complete payment terms set forth in the Terms and Conditions below.</li>
                                        </ul>
                                        <div class="bs-callout bs-callout-primary">
                                            <h4>Don't worry</h4>
                                            <p>Accepting the terms does not obligate you to spend any money. You will only be billed once you create and start a campaign.</p>
                                        </div>
                                    </div>
                                    <div ng-switch-when="publisher">
                                        <p><strong>Revenue Share Summary</strong></p>
                                        <ul>
                                            <li>Cliques charges a revenue-share equal to <strong>{{ fees[organization.type].percentage | percentage:1 }}</strong> of your gross advertising revenue.</li>
                                            <li>Cliques will pay you your gross advertising revenue (minus {{ fees[organization.type].percentage | percentage:1 }} revenue share) no later than <strong>30 days</strong> after the end of each calendar month.</li>
                                        </ul>
                                        <div class="bs-callout bs-callout-primary">
                                            <h4>Don't worry</h4>
                                            <p>Accepting the terms does not obligate you run Cliques placements on your site.  You will only begin to run ads once you create and export placements.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div terms-panel class="terms-text-narrow text-center" template="{{ template }}"></div>
                            <div class="text-center">
                                <div class="checkbox c-checkbox"><label>
                                    <input name="acceptedTerms" type="checkbox" ng-model="acceptedTerms" data-parsley-group="step4" analytics-on="click" analytics-event="Signup_AcceptTerms" required="required">
                                    <span class="fa fa-check"></span> I Accept</label></div>
                            </div>
                            <div class="text-center form-group mt">
                                <button type="submit" class="btn btn-lg btn-primary" analytics-on="click" analytics-event="Signup_Finish" ng-show="acceptedTerms"><span class="text-md">Finish</span></button>
                            </div>
                            <br/>
                            <div data-ng-show="error" class="alert alert-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                            <div ng-show="loading" class="text-center ball-pulse">
                                <div></div><div></div><div></div>
                            </div>
                            <em>
                                <div class="text-sm">
                                    <p>By clicking “I Accept”, you (as an individual, company, business, corporation or other entity) agree that you have read, and are bound by, the Terms and Conditions located <a href="{{ termsAndConditions.url }}" target="_blank">here</a> (the “Terms and Conditions”, and together with this Service Form, the “Agreement”).  This Order Form is governed by, and hereby incorporates by reference, the Terms and Conditions.</p>
                                    <p>If you are accepting the Agreement on behalf of a company, business, corporation or entity, you and the applicable company, business, corporation or entity represent and warrant that you have the authority to bind such company, business, corporation or entity to the Agreement.  If you do not have such authority, do not complete this Service Form or indicate your acceptance to the Agreement.</p>
                                </div>
                            </em>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>