<div ng-switch on="$state.$current.self.name">
    <div ng-switch-default>
        <!-- View hook for child views -->
        <section data-ui-view="main"></section>
    </div>
    <div ng-switch-when="app.admin.listAccessCodes">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading pb0">
                    <h4>
                        Cliques Access Codes
                        <span class="pull-right">
                            <button type="button" ng-click="newAccessCode()" class="btn btn-primary btn-xs" tooltip="Create a New Access Code">
                                + Create New Access Code
                            </button>
                        </span>
                    </h4>
                    <hr class="pb0 pt0 m0"/>
                </div>
                <div class="panel-body">
                    <p>
                        <em class="text-muted">Access codes are used to restrict access to the Cliques outdoor exchange. Users must be provided with an access code before creating a new account.</em>
                    </p>
                    <p>
                        <em class="text-muted">Use this page to control the issuance of access codes, create new codes, and manage existing ones.</em>
                    </p>
                    <table class="table table-striped">
                        <thead>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Code</th>
                            <th>Advertiser Fee</th>
                            <th>Publisher Fee</th>
                            <th>Promos</th>
                            <th>Issuer Org</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="accessCode in accessCodes | orderBy : '-created'" ng-click="goToAccessCode(accessCode)">
                                <td>
                                    <div class="label" ng-class="accessCode.active ? 'label-success':'label-default'">{{ accessCode.active ? "Active":"Inactive"}}</div>
                                </td>
                                <td>
                                    {{ accessCode.created | date: "short": "UTC" }}
                                </td>
                                <td>
                                    <strong>{{ accessCode.code }}</strong>
                                </td>
                                <td>
                                    {{ (accessCode.fees | filter : feeTypeFilter('advertiser'))[0].percentage | percentage : 2 }}
                                </td>
                                <td>
                                    {{ (accessCode.fees | filter : feeTypeFilter('publisher'))[0].percentage | percentage : 2 }}
                                </td>
                                <td>
                                    <p ng-repeat="promo in accessCode.promos">{{ promo.description }}</p>
                                </td>
                                <td>
                                    <p ng-repeat="org in accessCode.issuerOrgs">{{ org.name}}</p>
                                </td>
                                <td>
                                    <button type="button" ng-click="openSendDialog(accessCode)" class="btn btn-primary btn-xs" tooltip="Send Access Code to User">
                                        <i class="fa fa-lg fa-envelope"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>