<!--Only show quick-query container when parent state is active, since quick-query is currently
    the default view on Analytics and showing this also on app._analytics.analytics.quickQuery
    causes it to render twice-->
<div class="quick-query-container mt-sm"
	ng-switch="$state.$current.name">
    <div ng-switch-when="app._analytics.analytics">
        <section ng-include="'/modules/analytics/views/partials/quick-queries-list.html'"></section>
    </div>
    <div ng-switch-default>
        <section data-ui-view="main"></section>
    </div>
</div>
