<div class="cities-query-container">
	<div class="bg-gray-lighter">
		<div class="row mt-xl ph pt">
			<!-- select date range -->
			<div class="col-sm-7">
				<date-range-selector selected-date-range="summaryDateRangeSelection"></date-range-selector>
			</div>

			<!-- select time unit -->
			<div class="col-sm-3">
				<time-unit-selector time-unit="timeUnit"></time-unit-selector>
			</div>

			<!-- Checkbox to save as cron task or not -->
			<div class="col-sm-2 pt-xl">
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="isSaved" ng-change="toggleSave()">
					<span class="text-md">
						Save as crontab
					</span>
				</label>
			</div>
		</div>

		<!-- Crontab scheduler -->
		<div class="row pl-lg" ng-if="isSaved">
			<div class="col-sm-12">
				<scheduler
					weekday="cronScheduleParam.weekday"
					month="cronScheduleParam.month"
					date="cronScheduleParam.date"
					hour="cronScheduleParam.hour"
					minute="cronScheduleParam.minute"
					second="cronScheduleParam.second">
				</scheduler>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-10 ph-lg pb">
				<button class="btn btn-success btn-block text-md" ng-click="launchQuery()" analytics-on="click" analytics-event="CitiesQuery_LaunchQuery">Query</button>
			</div>
		</div>
	</div>

    <!-- The graph and table showing the query results -->
    <query-graph-table
        date-ranges="dateRanges"
        date-range-title="queryResultTitle"
        time-unit="timeUnit"
        summary-date-range-selection="summaryDateRangeSelection"
        graph-query-param="graphQueryParam"
        tab-query-params="tabQueryParams">
    </query-graph-table>

    <!-- Export to CSV button -->
    <div class="row p">
        <div class="col-sm-3 col-sm-offset-9">
            <button class="btn btn-primary btn-block text-md pull-right" ng-click="exportToCSV()" file-download="downloadFileBlob" file-name="downloadFileName" analytics-on="click" analytics-event="CitiesQuery_ExportCSV">Export to CSV</button>
        </div>
    </div>
</div>