<div class="custom-query-container m"
	ng-if="$state.$current.name === 'app._analytics.analytics.customQuery'">
	<br>
	<div class="panel panel-default text-center">
		<h3><i class="fa fa-lg fa-flask"></i> Coming Soon</h3>
		<p class="mb-lg">Stay tuned for updates!</p>
		<p class="mb-lg"><em>Have specific reporting needs that you'd like us to address in a future release? <a href="mailto:support@cliquesads.com">Contact us.</a></em></p>
	</div>
</div>
<div class="custom-query-container m">
	<section data-ui-view="main"></section>
</div>