<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default mt">
			<!-- Heading -->
			<div class="panel-heading">
				<div class="panel-title">
					<div class="row">
						<div class="col-sm-12">
							Keywords Cloud	
						</div>
					</div>
				</div>
			</div>
			<!-- Keyword cloud -->
			<div class="panel-body pt0" ng-show="!isLoading">
				<hr class="m0">
				<div id="keyword-cloud-canvas" class="keyword-cloud-panel">
				</div>
			</div>
			<!-- Spin Loader -->
			<div class="panel-body pt0" ng-show="isLoading">
				<spin-loader></spin-loader>
			</div>
		</div>
	</div>
</div>