<div class="row p-lg">
	<h4>Select additional table fields</h4>

	<!-- Additional table field options -->
	<div>
		<ul class="list-group">
			<li class="list-group-item table-field-list-item"
				ng-repeat="header in headers track by header.index"
				ng-if="header.type === 'data'"
				ng-click="toggleAdditionalHeader(header)">
				<span>{{ header.name }}</span>
				<span class="pull-right"
					ng-if="header.selected === true">
					<i class="fa fa-check"></i>
				</span>
			</li>
		</ul>
	</div>

	<!-- Add button -->
	<div class="text-right">
		<button class="btn btn-primary text-md"
			ng-click="finishedSelectingAdditionalHeaders()">
			Ok	
		</button>	
	</div>
</div>