<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default mt">
			<!-- Heading & buttons -->
			<div class="panel-heading">
				<div class="panel-title">
					<div class="row">
						<div class="col-sm-6">
							{{ humanizedDateRange }} - Table
							<small>
								<em class="text-muted">
									Reporting Timezone: {{ user.tz }}
								</em>
							</small>
						</div>
						<!-- More data fields dropdown -->
						<div class="col-sm-2">
							<button class="btn btn-default btn-block text-md"
								type="button"
								ng-click="showMoreTableFields()">
								Show more table fields
							</button>
						</div>
						<!-- Export to CSV button -->
						<div class="col-sm-2 col-sm-offset-1">
							<button class="btn btn-primary btn-block text-md"
								ng-click="exportToCSV()"
								file-download="downloadFileBlob"
								file-name="downloadFileName"
								ng-disabled="!tableQueryResults || tableQueryResults.length === 0"
								analytics-on="click"
								analytics-event="Query_ExportToCSV">
								Export to CSV
							</button>
						</div>
						<div class="col-sm-1 text-right">
							<a ng-click="isCollapsed=!isCollapsed">
								<i class="fa"
									ng-class="{
										'fa-minus': !isCollapsed,
										'fa-plus': isCollapsed
									}">
								</i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Table -->
			<div class="panel-body pt0"
				ng-if="!isCollapsed && !isLoading">
				<hr class="m0">
				<table datatable="ng"
					dt-options="dtOptions"
					class="row-border hover">
				    <thead>
				        <tr>
				        	<th ng-repeat="header in headers">{{ header }}</th>
				        </tr>
				    </thead>
				    <tbody>
					    <tr ng-repeat="row in tableQueryResults">
						    <td ng-repeat="header in headers">{{ row[header] }}</td>
					    </tr>
				    </tbody>
				</table>
			</div>
			<!-- Spin Loader -->
			<div class="panel-body pt0"
				ng-if="isLoading">
				<spin-loader></spin-loader>	
			</div>
		</div>
	</div>
</div>