<div class="row">
    <!-- Report Graph -->
	<div class="col-sm-12">
		<div id="timeQueryGraphPanel" class="panel panel-default mt">
			<div class="panel-heading">
				<div class="panel-title">
                    <div>{{ dateRangeTitle }}</div>
                    <div>
                        <small>
                            <em class="text-muted">
                                Reporting Timezone: {{ authentication.user.tz }}
                            </em>
                        </small>
                    </div>
				</div>
			</div>
			<div class="panel-body">
				<daily-ad-stats-graph time-series="timeSeries" show-points="showPoints" height="250px"></daily-ad-stats-graph>
			</div>
		</div>
	</div>
    <!-- End of Report Graph -->

    <!-- Report Table -->
	<div class="col-sm-12">
		<div class="panel panel-default mt">
			<div class="panel-heading">
				<div class="panel-title">
                    <div>{{ dateRangeTitle }}</div>
                    <div>
                        <small>
                            <em class="text-muted">
                                Reporting Timezone: {{ authentication.user.tz }}
                            </em>
                        </small>
                    </div>
				</div>
			</div>
            <div class="m">
                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                    <thead>
                        <tr>
                            <th>Clique</th>
                            <th>Impressions</th>
                            <th>Spend</th>
                            <th>Avg. CPM</th>
                            <th>CTR</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in cliqueData">
                    <td>{{ row._id[tableQueryParam.groupBy] }}</td>
                        <td>{{ row.imps | number: 0 }}</td>
                        <td>{{ row.spend | currency:"$":"0" }}</td>
                        <td>{{ row.spend / row.imps * 1000 |  currency:"$":"2" }}</td>
                        <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                        <td>{{ row.view_convs + row.click_convs }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
    <!-- End of Report Table -->
</div>	