<!-- Report Settings -->
<report-settings
	selected-settings="defaultQueryParam"
	available-settings="availableSettings">
</report-settings>

<!-- Query Geo -->
<query-geo
    ng-if="availableSettings.hasMap">
</query-geo>

<!-- Query Graph -->
<query-graph ng-if="availableSettings.hasGraph">
</query-graph>

<!-- Query Keyword Cloud, for keyword query specifically -->
<keyword-cloud ng-if="availableSettings.hasKeywordCloud">
</keyword-cloud>

<!-- Query Table -->
<query-table ng-if="availableSettings.hasTable">
</query-table>
