<div class="row">
    <!-- Back to quick queries button -->
    <div class="col-sm-3">
        <a ui-sref="app.analytics.quickQueries"
            class="btn btn-default btn-block text-md">
            <i class="fa fa-angle-double-left"></i>
            Back to Quick Queries
        </a> 
    </div>
</div>

<!-- Report Settings -->
<report-settings
	selected-settings="defaultQueryParam"
	available-settings="availableSettings">
</report-settings>

<!-- Query Graph -->
<query-graph></query-graph>

<!-- Query Table -->
<query-table></query-table>