<div class="panel panel-default m p" scroll-to-bottom="reachedQueryListBottom()">
	<div class="panel-body table-responsive">
		<h4 class="mt0 text-center">Recent Queries</h4>	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Created At</th>
					<th>Date Group By</th>
					<th>Group By</th>
					<th>Date Range</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="query in queries">
					<td>{{ $index + 1 }}</td>
					<td>{{ query.name }}</td>
					<td>{{ query.createdAt }}</td>
					<td>{{ query.dateGroupBy }}</td>
					<td>{{ query.groupBy }}</td>
					<td>{{ query.humanizedDateRange }}</td>
					<td>
						<a href="" ng-click="goToQuerySection(query)" analytics-on="click" analytics-event="RecentQueriesList_CheckQuery"><i class="fa fa-eye"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Spin Loader -->
		<div class="col-md-offset-4 col-md-4 text-center mv-lg pv-xl" ng-if="isLoading">
			<div class="panel">
				<div class="panel-body text-center">
					<div class="ball-clip-rotate-pulse" style="display: inline-block">
						<div></div>
						<div></div>
					</div>
					<h4>Loading more queries...</h4>
				</div>
			</div>
		</div>
	</div>
</div>