<div class="panel panel-default mt">
	<div class="panel-heading pt0">
		<div class="row">
			<div class="col-sm-5">
				<h4>
					<i class="fa fa-cog"></i>
					Query Settings
				</h4>
			</div>
			<div class="col-sm-offset-4 col-sm-3 text-right">
				<button ng-click="showSaveQueryDialog()" class="btn btn-sm btn-primary mt-sm">
					<span>
						<i class="fa fa-floppy-o"></i> Save / Schedule
					</span>
				</button>
			</div>
		</div>
		<hr class="m0">
	</div>
	<div class="panel-body pt0 pb0">
		<div class="row">
			<div class="col-sm-10">
				<div class="row">
					<!-- Date range selection -->
					<div class="form-horizontal col-sm-6" ng-if="availableSettings.timePeriod">
						<div class="form-group">
							<label for="timePeriod" class="col-sm-3 text-md mt-sm">Time Period</label>
							<div class="col-sm-9">
								<select
									name="timePeriod"
									id="timePeriod"
									class="form-control chosen-select"
									ng-model="selectedSettings.dateRangeShortCode"
									ng-change="timePeriodChanged()"
									ng-options="key as value.label for (key, value) in dateRanges">
									<option value="" selected>
										Select time period
									</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Time unit selection -->
					<div class="form-horizontal col-sm-6" ng-if="availableSettings.dateGroupBy">
						<div class="form-group">
							<label for="timeUnitSelection"
								class="col-sm-3 text-md mt-sm">
								Group By
							</label>
							<div class="col-sm-9 btn-group">
							    <button type="button"
							    	class="btn btn-default text-md"
							    	ng-click="selectedSettings.dateGroupBy='hour'"
							    	analytics-on="click"
							    	analytics-event="Analytics_ChangeTimeUnitToHour"
							    	ng-class="{'selected-time-unit': selectedSettings.dateGroupBy === 'hour'}">
							    	Hour
							    </button>
							    <button type="button"
							    	class="btn btn-default text-md"
							    	ng-click="selectedSettings.dateGroupBy='day'"
							    	analytics-on="click"
							    	analytics-event="Analytics_ChangeTimeUnitToDay"
							    	ng-class="{'selected-time-unit': selectedSettings.dateGroupBy === 'day'}">
							    	Day
							    </button>
							    <button type="button"
							    	class="btn btn-default text-md"
							    	ng-click="selectedSettings.dateGroupBy='month'"
							    	analytics-on="click"
							    	analytics-event="Analytics_ChangeTimeUnitToMonth"
							    	ng-class="{'selected-time-unit': selectedSettings.dateGroupBy === 'month'}">
							    	Month
							    </button>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<!-- Custom start date & end date -->
					<!-- Start Date -->
					<div class="form-horizontal col-sm-6" ng-if="selectedSettings.dateRangeShortCode === 'custom'">
						<div class="form-group">
							<label for="startDate" class="col-sm-3 text-md mt-sm">
								Start Date
							</label>
							<div class="col-sm-9">
								<div class="input-group">
									<input
										type="text"
										name="startDate"
										id="startDate"
										data-ng-model="selectedSettings.startDate"
										is-open="calendar.opened.startDate"
										ng-change="getCustomHumanizedDateRange()"
										datepicker-popup="yyyy-MM-dd"
										placeholder="yyyy-MM-dd"
										datepicker-options="calendar.dateOptions"
										class="form-control"
										required="required"
										close-text="Close"/>
									<!--Button to enable popup Angular UI datepicker-->
									<span class="input-group-btn">
									     <button
									     	type="button"
									     	ng-click="calendar.open($event,'startDate')"
									     	class="btn btn-default"
									     	analytics-on="click"
									     	analytics-event="ReportingSettings_OpenCalendarStartDate">
											<em class="fa fa-calendar"></em>
									     </button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<!-- End Date -->
					<div class="form-horizontal col-sm-6" ng-if="selectedSettings.dateRangeShortCode === 'custom'">
						<div class="form-group">
							<label for="endDate" class="col-sm-3 text-md mt-sm">
								End Date
							</label>
							<div class="col-sm-9">
								<div class="input-group">
									<input
										type="text"
										name="endDate"
										id="endDate"
										data-ng-model="selectedSettings.endDate"
										min-date="startDate"
										is-open="calendar.opened.endDate"
										ng-change="getCustomHumanizedDateRange()"
										datepicker-popup="yyyy-MM-dd"
										placeholder="yyyy-MM-dd"
										datepicker-options="calendar.dateOptions"
										class="form-control"
										required="required"
										close-text="Close"/>
									<!--Button to enable popup Angular UI datepicker-->
									<span class="input-group-btn">
									     <button type="button"
									     	ng-click="calendar.open($event,'endDate')"
									     	class="btn btn-default"
									     	analytics-on="click"
									     	analytics-event="ReportSettings_OpenCalendarEndDate">
											<em class="fa fa-calendar"></em>
									     </button>
									</span>
								</div>
							</div>
						</div>
					</div>	

				</div>

				<div class="row">

					<!-- Campaign filter -->
					<div class="form-horizontal col-sm-6" ng-if="availableSettings.campaignFilter">
						<div class="form-group">
							<label for="campaignFilter" class="col-sm-3 text-md mt-sm">
								Campaign
							</label>
							<div class="col-sm-9">
								<select
									name="campaignFilter"
									id="campaignFilter"
									class="form-control chosen-select"
									ng-model="selectedSettings.campaign"
									ng-change="updateFiltersArray('campaign', selectedSettings.campaign)"
									ng-options="campaign._id as campaign.name for campaign in allCampaigns track by campaign._id">
									<option value="" selected>
										All Campaigns
									</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Site filter -->
					<div class="form-horizontal col-sm-6" ng-if="availableSettings.siteFilter">
						<div class="form-group">
							<label for="siteFilter"
								class="col-sm-3 text-md mt-sm">
								Site
							</label>
							<div class="col-sm-9">
								<select
									name="siteFilter"
									id="siteFilter"
									class="form-control chosen-select"
									ng-model="selectedSettings.site"
									ng-change="updateFiltersArray('site', selectedSettings.site)"
									ng-options="site._id as site.name for site in allSites track by site._id">
									<option value="" selected>
										All Sites
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
				
					<!-- Country filter -->
					<div class="form-horizontal col-sm-6" ng-if="availableSettings.countryFilter">
						<div class="form-group">
							<label for="countryFilter"
								class="col-sm-3 text-md mt-sm">
								Country		
							</label>
							<div class="col-sm-9">
								<select
									name="countryFilter"
									id="countryFilter"
									class="form-control chosen-select"
									ng-model="geo.countryObject"
									ng-change="countrySelected()"
									ng-options="country.name for country in allCountries track by country._id">
									<option value="" selected>
										Select country to filter
									</option>	
								</select>
							</div>
						</div>	
					</div>

					<!-- Region/state filter -->
					<div class="form-horizontal col-sm-6"
						ng-if="availableSettings.regionFilter">
						<div class="form-group">
							<label for="regionFilter"
								class="col-sm-3 text-md mt-sm">
								Region
							</label>
							<div class="col-sm-9">
								<select
									name="regionFilter"
									id="regionFilter"
									class="form-control chosen-select"
									ng-disabled="!regions"
									ng-model="geo.regionObject"
									ng-change="regionSelected()"
									ng-options="region.name for region in regions track by region._id">
									<option value="" selected>
										Select region to filter
									</option>	
								</select>
							</div>
						</div>	
					</div>

				</div>

			</div>
		</div>

	</div>
	<div class="panel-footer">
		<!-- Refresh button -->
		<div class="row">
		<div class="col-sm-2 col-sm-offset-5">
			<button
					class="btn btn-success btn-block text-md"
					ng-disabled="!selectedSettings.dateRangeShortCode"
					ng-click="launchQuery()">
				<i class="fa fa-refresh"></i>
				Refresh
			</button>
		</div>
		</div>
	</div>
</div>