<div class="row p-lg">
	<h4>Save Query</h4>

	<!-- Query name -->
	<div class="form-horizontal">
		<div class="form-group">
			<label for="queryName"
				class="col-sm-3 text-md mt-sm">
				Query Name	
			</label>
			<div class="col-sm-9">
				<input type="text"
					name="queryName"
					id="queryName"
					ng-model="selectedSettings.queryName"
					class="form-control" />
			</div>
		</div>
	</div>

	<!-- Crontab day selection -->
	<div class="form-horizontal">
		<div class="form-group">
			<label for="crontabDay"
				class="col-sm-3 text-md mt-sm">
				Crontab	
			</label>
			<div class="col-sm-9">
				<select name="crontabDay"
					id="crontabDay"
					class="form-control chosen-select"
					ng-model="crontabDay"
					ng-options="option for option in crontabDayOptions track by option">
					<option value="" selected>
						Select day to repeat query
					</option>	
				</select>
			</div>
		</div>
	</div>

	<!-- Crontab hour/minute -->
	<div class="form-group">
		<label for="crontabHour"
			class="col-sm-3 text-md mt-sm">
			at
		</label>
		<div class="col-sm-4">
			<input type="number"
				placeholder="hour" 
				min="0"
				max="24"
				name="crontabHour"
				id="crontabHour"
				ng-model="crontabHour"
				class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="crontabMinute"
			class="col-sm-1 text-md mt-sm text-center">
			:
		</label>
		<div class="col-sm-4">
			<input type="number"
				placeholder="minute" 
				min="0"
				max="60"
				name="crontabMinute"
				id="crontabMinute"
				ng-model="crontabMinute"
				class="form-control">
		</div>
	</div>

	<!-- Save button -->
	<div class="text-right">
		<button class="btn btn-primary text-md mt"
			ng-click="saveQuery()">
			Save
		</button>
	</div>
</div>
