<div class="scheduler row">
	<!-- Day of week -->
	<div class="col-sm-2">
		<div class="row">
			<div class="col-sm-11">
				<div class="form-group">
					<label for="weekday">Week day</label>
					<select name="weekday" id="weekday" class="form-control" ng-options="day.name for day in weekdays" ng-model="weekday">
					</select>
				</div>
			</div>
		</div>
	</div>

	<!-- Month -->
	<div class="col-sm-2">
		<div class="row">
			<div class="col-sm-11">
				<div class="form-group">
					<label for="month">Month</label>
					<select name="month" id="month" class="form-control" ng-options="mon.name for mon in months" ng-model="month" ng-change="selectMonth()">
					</select>
				</div>
			</div>
		</div>
	</div>

	<!-- Day of month -->
	<div class="col-sm-2">
		<div class="row">
			<div class="col-sm-11">
				<div class="form-group">
					<label for="date">Date</label>
					<select name="date" id="date" class="form-control" ng-options="d for d in dates" ng-model="date" ng-disabled="!month">
					</select>
				</div>
			</div>
		</div>
	</div>

	<!-- Hour -->
	<div class="col-sm-2">
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<label for="hour">Hour</label>
					<input type="number" ng-model="hour" class="form-control" min="0" max="24">
				</div>
			</div>
			<div class="col-sm-2 connector">
				<div class="text-md text-center">
					<strong>:</strong>
				</div>	
			</div>
		</div>
	</div>

	<!-- Minute -->
	<div class="col-sm-2">
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<label for="minute">Minute</label>
					<input type="number" ng-model="minute" class="form-control" min="0" max="60">
				</div>
			</div>
			<div class="col-sm-2 connector">
				<div class="text-md text-center">
					<strong>:</strong>
				</div>	
			</div>
		</div>
	</div>

	<!-- Second -->
	<div class="col-sm-2">
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<label for="second">Second</label>
					<input type="number" ng-model="second" class="form-control" min="0" max="60">
				</div>
			</div>	
		</div>
	</div>

</div>