<div class="sidebar-container">
    <i class="fa fa-floppy-o"></i>
    <a href="#!/analytics/my-queries">
        <strong> My Queries</strong>
    </a>
    <ul>
        <li ng-repeat="query in myQueries">
            <a href="" ng-click="goToQuerySection(query)" analytics-on="click" analytics-event="AnalyticsSidebar_CheckMyQuery">{{ query.name }}</a><br/>
            <small>{{ query.createdAt }}</small>
        </li>
        <li ng-if="myQueries.length === 0">No Custom Queries</li>
    </ul>
    <a class="indent" href="#!/analytics/my-queries" ng-if="myQueries.length < totalMyQueries" analytics-on="click" analytics-event="AnalyticsSidebar_ShowMoreMyQueries">
        <em>View All...</em>
    </a>

    <br/><br/>

    <i class="fa fa-clock-o"></i>
    <a href="#!/analytics/recent-queries">
        <strong> Recent Queries</strong>
    </a>
    <ul>
        <li ng-repeat="query in recentQueries">
            <a href="" ng-click="goToQuerySection(query)" analytics-on="click" analytics-event="AnalyticsSidebar_CheckRecentQuery">{{ query.name }}</a><br/>
            <small>{{ query.createdAt }}</small>
        </li>
        <li ng-if="recentQueries.length === 0">No Recent Queries</li>
    </ul>
    <a class="indent" href="#!/analytics/recent-queries" ng-if="recentQueries.length < totalRecentQueries" analytics-on="click" analytics-event="AnalyticsSidebar_ShowMoreRecentQueries">
        <em>View All...</em>
    </a>
</div>