<div class="sidebar-container">
    <i class="fa fa-clock-o"></i><strong> Recent Queries</strong>
    <ul>
        <li>
            <a href="">Custom Report</a><br/>
            <small class="text-white">Jan 6 2017 3:30PM EST</small>
        </li>
        <li>
            <a href="">Sites</a><br/>
            <small class="text-white">Jan 6 2017 3:28PM EST</small>
        </li>
        <li>
            <a href="">Creatives</a><br/>
            <small class="text-white">Jan 6 2017 3:15PM EST</small>
        </li>
    </ul>
    <a class="indent" href=""><em>View more...</em></a>
    <br/><br/>
    <i class="fa fa-folder"></i><strong> My Queries</strong>
    <ul>
        <li>
            <a href="">Sweet Report</a><br/>
            <small class="text-white">Jan 6 2017 2:30PM EST</small>
        </li>
        <li>
            <a href="">Daily Stats</a><br/>
            <small class="text-white">Jan 4 2017 1:28PM EST</small>
        </li>
        <li>
            <a href="">Geo Insights</a><br/>
            <small class="text-white">Jan 3 2017 12:15PM EST</small>
        </li>
        <li>
            <a href="">Conversions by..</a><br/>
            <small class="text-white">Jan 1 2017 3:12PM EST</small>
        </li>
    </ul>
    <a class="indent" href=""><em>View more...</em></a>
</div>