<div class="time-query-container">
	<div class="bg-gray-lighter">
        <div class="row mt-xl p">
            <!-- start & end dates -->
            <div class="col-sm-7">
                <custom-dates width="6" enddatemodel="dates.endDate" startdatemodel="dates.startDate"></custom-dates>
            </div>

            <!-- Select time unit -->
            <div class="col-sm-3">
                <time-unit-selector time-unit="timeUnit"></time-unit-selector>
            </div>

            <!-- Checkbox to save as crontab or not -->
            <div class="col-sm-2 pt-sm">
                <br>
                <button class="btn btn-success btn-block text-md" ng-click="queryForGraphAndTabData()">Query</button>
            </div>
        </div>
	</div>
	<div class="row">
        <!-- Report Graph -->
		<div class="col-md-6">
			<div id="timeQueryGraphPanel" class="panel panel-default mt" data-ng-init="getQueryGraph()">
				<div class="panel-heading">
					<div class="panel-title">
                        <div>{{ queryResultTitle }}</div>
                        <div>
                            <small>
                                <em class="text-muted">
                                    Reporting Timezone: {{ authentication.user.tz }}
                                </em>
                            </small>
                        </div>
					</div>
				</div>
				<div class="panel-body">
					<daily-ad-stats-graph time-series="timeSeries" show-points="showPoints" height="250px"></daily-ad-stats-graph>
				</div>
			</div>
		</div>
        <!-- End of Report Graph -->

        <!-- Report Table -->
		<div class="col-sm-6">
			<div class="panel panel-default mt">
				<div class="panel-heading">
					<div class="panel-title">
                        <div>{{ queryResultTitle }}</div>
                        <div>
                            <small>
                                <em class="text-muted">
                                    Reporting Timezone: {{ authentication.user.tz }}
                                </em>
                            </small>
                        </div>
					</div>
				</div>
				<tabset>
                    <tab heading="Cliques" select="getTabData('cliques')">
                        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                            <thead>
                                <tr>
                                    <th>Clique</th>
                                    <th>Impressions</th>
                                    <th>Spend</th>
                                    <th>Avg. CPM</th>
                                    <th>CTR</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in cliqueData">
                                <td>{{ row._id.pub_clique }}</td>
                                <td>{{ row.imps | number: 0 }}</td>
                                <td>{{ row.spend | currency:"$":"0" }}</td>
                                <td>{{ row.spend / row.imps * 1000 |  currency:"$":"2" }}</td>
                                <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                <td>{{ row.view_convs + row.click_convs }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </tab>
                    <tab heading="Publishers" select="getTabData('publishers')">
                        <table datatable="ng" dt-options="dtOptions_pubs" dt-column-defs="dtColumnDefs_pubs" class="row-border hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Publisher</th>
                                <th>Impressions</th>
                                <th>Spend</th>
                                <th>Avg. CPM</th>
                                <th>CTR</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in publisherData">
                                <td><img ng-src="{{ row._id.publisher.logo_secure_url }}" class="client-logo-sm"/></td>
                                <td style="max-width: 120px; word-wrap: break-word">{{ row._id.publisher.name }}<em ng-hide="row._id.publisher.name">Deleted Publisher!</em></td>
                                <td>{{ row.imps | number: 0 }}</td>
                                <td>{{ row.spend | currency:"$":"0" }}</td>
                                <td>{{ row.spend / row.imps * 1000 |  currency:"$":"2" }}</td>
                                <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                <td>{{ row.view_convs + row.click_convs }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </tab>
                    <tab heading="Advertisers" select="getTabData('advertisers')">
                        <table datatable="ng" dt-options="dtOptions_advs" dt-column-defs="dtColumnDefs_advs" class="row-border hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Advertiser</th>
                                <th>Impressions</th>
                                <th>Spend</th>
                                <th>Avg. CPM</th>
                                <th>CTR</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in advertiserData">
                                <td><img ng-src="{{ row._id.advertiser.logo_secure_url }}" class="client-logo-sm"/></td>
                                <td style="max-width: 120px; word-wrap: break-word">{{ row._id.advertiser.name }}<em ng-hide="row._id.advertiser.name">Deleted Publisher!</em></td>
                                <td>{{ row.imps | number: 0 }}</td>
                                <td>{{ row.spend | currency:"$":"0" }}</td>
                                <td>{{ row.spend / row.imps * 1000 |  currency:"$":"2" }}</td>
                                <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                <td>{{ row.view_convs + row.click_convs }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </tab>
                </tabset>
			</div>
		</div>
        <!-- End of Report Table -->
	</div>	
    
    <!-- Export to CSV button -->
    <div class="row p">
        <div class="col-sm-3 col-sm-offset-9">
            <button class="btn btn-primary btn-block text-md pull-right" ng-click="exportToCSV()" file-download="downloadFileBlob" file-name="downloadFileName">Export to CSV</button>
        </div>
    </div>
</div>