<div class="row">
    <!-- Back to quick queries button -->
    <div class="col-sm-3">
        <a ui-sref="app.analytics.quickQueries" class="btn btn-default btn-block text-md">
            <i class="fa fa-angle-double-left"></i>
            Back to Quick Queries
        </a> 
    </div>
</div>

<!-- Report Settings -->
<div>
    <report-settings
        available-settings="availableSettings">
    </report-settings>
</div>

<div class="time-query-container">
	<div class="bg-gray-lighter">
        <div class="row mt p">
            <!-- start & end dates -->
            <div class="col-sm-7">
                <custom-dates width="6" enddatemodel="dates.endDate" startdatemodel="dates.startDate"></custom-dates>
            </div>

            <!-- Select time unit -->
            <div class="col-sm-3">
                <time-unit-selector time-unit="timeUnit"></time-unit-selector>
            </div>

            <!-- Checkbox to save as crontab or not -->
            <div class="col-sm-2 pt-sm">
                <br>
                <button class="btn btn-success btn-block text-md" ng-click="launchQuery()" analytics-on="click" analytics-event="TimeQuery_LaunchQuery">Query</button>
            </div>
        </div>
	</div>

    <!-- The graph and table showing the query results -->
    <query-graph-table
        date-ranges="dateRanges"
        date-range-title="queryResultTitle"
        time-unit="timeUnit"
        summary-date-range-selection="summaryDateRangeSelection"
        graph-query-param="graphQueryParam"
        table-query-param="tableQueryParam">
    </query-graph-table>
    
    <div class="row p">
        <!-- Export to CSV button -->
        <div class="col-sm-3 col-sm-offset-9">
            <button class="btn btn-primary btn-block text-md pull-right" ng-click="exportToCSV()" file-download="downloadFileBlob" file-name="downloadFileName" analytics-on="click" analytics-event="TimeQuery_ExportCSV">Export to CSV</button>
        </div>
    </div>
</div>