<div>
    <label for="timeUnitSelection">Time Unit</label>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default text-md" ng-click="timeUnit='hour'" analytics-on="click" analytics-event="Analytics_ChangeTimeUnitToHour">Hour</button>
    <button type="button" class="btn btn-default text-md" ng-click="timeUnit='day'" analytics-on="click" analytics-event="Analytics_ChangeTimeUnitToDay">Day</button>
    <button type="button" class="btn btn-default text-md" ng-click="timeUnit='month'" analytics-on="click" analytics-event="Analytics_ChangeTimeUnitToMonth">Month</button>
</div>
