node_modules
# iOS / Apple
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
config/env/local.js

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
.nvm/
npm-debug.log
node_modules/
public/lib/
public/uploads/
app/tests/coverage/
.bower-*/
bower_components/
.idea/
cliques-config

# MEAN.js app and assets
# ======================
config/sslcerts/*.pem
access.log
public/dist/
public/images/
public/img/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
*.vscode
.node-version
junk
logs/
build/
