<div ng-switch on="$state.$current.self.name" xmlns="http://www.w3.org/1999/html">
    <div ng-switch-default>
        <!-- View hook for child views -->
        <section data-ui-view="titleBar"></section>
    </div>
    <div ng-switch-when="app.publisher.allPublishers.viewPublisher.viewSite">
        <h3 class="ml-sm">
            <logo-widget model="site" size="sm" oncompleteall="update()" onremove="update()"></logo-widget>
            {{ site.name }}
            <span class="pull-right" style="font-weight: normal">
                <i class="{{ CLIQUE_ICON_CLASSES[site.clique] }}"></i>
                {{ site.clique }}
            </span>
        </h3>
    </div>
</div>