<p>Are you sure you want to delete this Action Beacon? This cannot be undone.</p>
<div ng-show="error" class="alert alert-danger col-md-12">{{ error }}</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)" analytics-on="click" analytics-event="DeleteActionBeacon_CancelDelete">No</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(1)" analytics-on="click" analytics-event="DeleteActionBeacon_ConfirmDelete">Yes</button>
</div>
