<h3>Publisher
	<ul class="breadcrumb">
	  <li><a ui-sref="app.home">Home</a>
	  </li>
	  <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
	     <span ng-switch-when="true">{{state.title}}</span>
	  </li>
	</ul>
</h3>
<section>
	<div class="list-group">
		<a data-ng-repeat="publisher in publishers" data-ng-href="#!/publisher/{{publisher._id}}" class="list-group-item">
            <div class="row row-table">
                <div class="col-md-1">
                    <img src="{{ publisher.logo_url }}" class="client-logo-md"/>
                </div>
                <div class="col-md-2">
                    <h4 class="list-group-item-heading" data-ng-bind="publisher.name"></h4>
                    <p class="list-group-item-text"> Active Sites: {{ publisher.sites.length }}</p>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-1"></div>
            </div>
		</a>
	</div>
	<h4 class="alert alert-purple text-center pv-lg" data-ng-if="publisher.$resolved && !publisher.length">
		No publishers yet, why don't you <a href="/#!/publisher/create" class="text-yellow">create one</a>?
	</h4>
</section>