<h3>
    <div class="pull-right">
        <span class="icon-share"></span>&nbsp;&nbsp;{{ site.clique }}
    </div>
    {{site.name}}
    <ul class="breadcrumb">
        <li><a ui-sref="app.home">Home</a>
        </li>
        <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
            <span ng-switch-when="true">{{state.title}}</span>
        </li>
    </ul>
</h3>
<section data-ng-init="findOne()">
    <!--<div>-->
        <!--<small>-->
            <!--<em class="text-muted">-->
                <!--Created on-->
                <!--<span data-ng-bind="site.tstamp | date:'mediumDate'"></span>-->
                <!--by-->
                <!--<span data-ng-bind="publisher.user.displayName"></span>-->
            <!--</em>-->
        <!--</small>-->
    <!--</div>-->
    <div ng-show="creation_error" class="alert alert-danger col-md-12">{{ creation_error }}</div>
    <div class="col-md-5">
        <!--BEGIN Site Basics Panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Site Settings
                </div>
            </div>
            <div class="panel-body">
                <tabset>
                    <tab heading="Basics">
                        <fieldset>
                            <small><em class="text-muted">Basics</em></small>
                            <form editable-form name="siteBasicsInline" onaftersave="update()">
                                <div class="form-horizontal">
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Name</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">
                                                <span editable-text="site.name" e-name="name" e-required>{{ site.name }}</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="#" class="pull-right" ng-click="siteBasicsInline.$show()" ng-show="!siteBasicsInline.$visible">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Description</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">
                                                <span editable-text="site.description" e-name="description" >{{ site.description }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Domain Name</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">
                                                <span editable-text="site.domain_name" e-name="domain_name" >{{ site.domain_name }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <!-- buttons to submit / cancel form -->
                                    <span ng-show="siteBasicsInline.$visible">
                                        <button type="submit" class="btn btn-xs btn-primary" ng-disabled="siteBasicsInline.$waiting">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-xs btn-default" ng-disabled="siteBasicsInline.$waiting" ng-click="siteBasicsInline.$cancel()">
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </fieldset>
                        <fieldset>
                            <small><em class="text-muted">Advertiser Settings</em></small>
                            <form editable-form name="blacklistForm" onaftersave="update()">
                                <div class="form-group m0">
                                    <span ng-show="!blacklistForm.$visible">
                                        <label tooltip="{{ TOOLTIPS.blacklist }}" class="col-sm-4 control-label">Adv. Blacklist&nbsp;&nbsp;</label>
                                        <div class="col-sm-6">{{ site.blacklist.length ? site.blacklist : "[empty]" }}</div>
                                        <div class="col-sm-2">
                                            <a href="#" class="pull-right" ng-click="blacklistForm.$show()" ng-show="!blacklistForm.$visible">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </div>
                                    </span>
                                    <div class="col-sm-12" ng-show="blacklistForm.$visible">
                                        <div class="text-sm text-muted">Type and press Enter</div>
                                        <domain-blacklist model="site.blacklist"></domain-blacklist>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <!-- buttons to submit / cancel form -->
                                    <span ng-show="blacklistForm.$visible">
                                        <br/>
                                        <button type="submit" class="btn btn-xs btn-primary" ng-disabled="blacklistForm.$waiting">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-xs btn-default" ng-disabled="blacklistForm.$waiting" ng-click="blacklistForm.$cancel()">
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </fieldset>
                    </tab>
                    <tab heading="Pages">
                        <fieldset>
                            <form editable-form name="bidsInline" onaftersave="update()">
                                <div class="form-horizontal">
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Base Bid</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">
                                                <span editable-number="site.base_bid" e-name="base_bid" e-min="{{ min_base_bid }}" e-max="{{ site.max_bid }}" e-required>{{ site.base_bid | currency:"$":2 }}</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="#" class="pull-right" ng-click="bidsInline.$show()" ng-show="!bidsInline.$visible">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Max Bid</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">
                                                <span editable-number="site.max_bid" e-name="name" e-min="{{ site.base_bid }}" e-required>{{ site.max_bid | currency:"$":2 }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <!-- buttons to submit / cancel form -->
                                    <span ng-show="bidsInline.$visible">
                                        <button type="submit" class="btn btn-xs btn-primary" ng-disabled="bidsInline.$waiting">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-xs btn-default" ng-disabled="bidsInline.$waiting" ng-click="bidsInline.$cancel()">
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </fieldset>
                    </tab>
                    <tab heading="Targeting">
                        <fieldset>
                            <small><em class="text-muted">Geographical</em></small>
                            <div class="form-group m0">
                                <label class="col-sm-4 control-label">DMAs</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">
                                        <a href="#" ng-click="editDMATargets()">{{ site.dma_targets.length || 0 }} DMA Targets Set</a>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                            <small><em class="text-muted">Inventory</em></small>
                            <div class="form-group m0">
                                <label class="col-sm-4 control-label">Placements</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">
                                        <a href="#" ng-click="">{{ site.placement_targets.length || 0 }} Placement Targets Set</a>
                                    </p>
                                </div>
                            </div>
                        <fieldset>

                        </fieldset>
                    </tab>
                    <tab heading="Creatives">
                        <a href="#" class="pull-right" ng-click="editCreatives()">
                            <span class="fa fa-edit"></span>
                        </a>
                        <div class="box-placeholder" ng-show="!site.creativegroups.length">
                            <span class="fa fa-exclamation-circle"></span>&nbsp;&nbsp;<em>No creatives yet.</em>
                        </div>
                        <div ng-repeat="creativegroup in site.creativegroups">
                            <fieldset>
                                <div ng-repeat="creative in creativegroup.creatives">
                                    <div class="col-sm-3"><img src="{{ creative.url }}" class="smallthumbnail"/></div>
                                    <div class="col-sm-6"><b>{{ creative.name }}</b></div>
                                    <div class="col-sm-3">{{ creativegroup.w }}x{{ creativegroup.h }}</div>
                                </div>
                            </fieldset>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div id="siteGraphPanel" class="panel panel-default" data-ng-init="getSiteGraph('7d')">
            <div class="panel-heading">
                <div class="panel-title">{{ dateRanges[dateRangeSelection].label }}
                    &nbsp&nbsp&nbsp
                    <small>
                        <em class="text-muted">
                            Reporting Timezone: {{ authentication.user.tz }}
                        </em>
                    </small>
                    <span class="pull-right">
                        <button class="btn btn-sm btn-default" ng-click="getSiteGraph('7d')">7d</button>
                        <button class="btn btn-sm btn-default" ng-click="getSiteGraph('30d')">30d</button>
                        <button class="btn btn-sm btn-default" ng-click="getSiteGraph('90d')">90d</button>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-6 text-center">
                        <p>Impressions</p>
                        <div class="h3">{{ impressions | number: 0 }}</div>
                    </div>
                    <div class="col-sm-2 col-xs-6 text-center">
                        <p>CTR</p>
                        <div class="h3">{{ CTR | percentage:2 }}</div>
                    </div>
                    <div class="col-sm-2 col-xs-6 text-center">
                        <p>Clicks</p>
                        <div class="h3">{{ clicks | number: 0 }}</div>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <p>Spend</p>
                        <div class="h3">{{ spend | currency:"$":"0" }}</div>
                    </div>
                    <div class="col-sm-2 col-xs-6 text-center">
                        <p>Avg. CPM</p>
                        <div class="h3">{{ (spend / impressions) * 1000 | currency:"$":"2" }}</div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <daily-ad-stats-graph time-series="timeSeries" show-points="showPoints" height="250px"></daily-ad-stats-graph>
            </div>
        </div>
    </div>
</section>