<!--- This template switches between a ui-view hook & actual viewSite
template, depending on the UI Router State. Not ideal, but couldn't figure out
simple way to have full child template exist inside of parent state w/out
adding hook in parent template ---->

<div ng-switch on="$state.$current.self.name">
    <div ng-switch-default>
        <!-- View hook for child views -->
        <section data-ui-view="main"></section>
    </div>
    <div ng-switch-when="app.publisher.allPublishers.viewPublisher.viewSite">
        <!-------------------------------------->
        <!------- BEGIN ViewSite Template ------>
        <!-------------------------------------->
        <section data-ng-init="showNewModal()"></section>
        <section data-ng-init="findOne()">
            <div ng-show="creation_error" class="alert alert-danger col-md-12">{{ creation_error }}</div>
            <div class="col-md-5">
                <!--BEGIN Pages list-->
                <ul class="list-group" style="max-height: 400px; overflow-y: auto">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-labeled btn-primary btn-xs pull-right" ng-click="newPage()" analytics-on="click" analytics-event="ViewSite_NewPage">
                            <span class="btn-label"><i class="fa fa-plus"></i></span>New Page
                        </button>
                        <span class="panel-title">
                            <i class="icon-docs"></i>&nbsp;Pages
                        </span>
                    </li>
                    <a data-ng-repeat="page in site.pages" data-ng-href="#!/publisher/{{publisher._id}}/site/{{site._id}}/page/{{page._id}}" class="list-group-item">
                        <div class="row row-table">
                            <div class="col-sm-2">
                                <status-label model="page"></status-label>
                            </div>
                            <div class="col-sm-6">
                                <h4 class="list-group-item-heading" data-ng-bind="page.name"></h4>
                                <p class="list-group-item-text" style="word-wrap: break-word"><small class="text-muted">{{ page.url }}</small></p>
                            </div>
                            <div class="col-sm-4">
                                <h4 class="list-group-item-heading"><span class="fa fa-tags"></span>   {{ page.placements.length }}</h4>
                                <p class="list-group-item-text">Placement{{ page.placements.length === 1 ? '' : 's' }}</p>
                            </div>
                        </div>
                    </a>
                </ul>
                <!--BEGIN Site Basics Panel-->
                <div id="siteSettings" class="list-group">
                    <!--<div ng-class="{'panel-heading-collapsed': siteSettings }" class="panel-heading">Site Settings-->
                        <!--<paneltool tool-collapse="tool-collapse"></paneltool>-->
                    <!--</div>-->
                    <div class="list-group-item">
                        <span class="panel-title">
                            <i class="fa fa-cog"></i>&nbsp;Site Settings
                        </span>
                    </div>
                    <!--<div collapse="siteSettings" class="panel-wrapper">-->
                    <div class="list-group-item pt0">
                        <fieldset class="p-sm m0">
                            <small><em class="text-muted">Settings</em></small>
                            <form editable-form name="siteBasicsInline" onaftersave="update()">
                                <div class="form-horizontal">
                                    <div class="form-group m0">
                                        <label class="col-sm-3 control-label">Status</label>
                                        <div class="col-sm-7 form-control-static">
                                            <label class="switch" ng-show="authentication.user.organization.organization_types.indexOf('networkAdmin') > -1">
                                                <input type="checkbox" checked="checked" ng-model="site.active" ng-click="toggleSiteActive()"/>
                                                <span></span>
                                            </label>
                                            <status-label model="site"></status-label>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="#" class="pull-right" ng-click="siteBasicsInline.$show()" ng-show="!siteBasicsInline.$visible">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">
                                                <span editable-text="site.name" e-name="name" e-required>{{ site.name }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-3 control-label">Description</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">
                                                <span editable-text="site.description" e-name="description">
                                                    <hm-read-more
                                                        hm-text="{{ site.description }}"
                                                        hm-limit="34"
                                                        hm-more-text="read more"
                                                        hm-less-text="read less"
                                                        hm-dots-class="dots"
                                                        hm-link-class="links">
                                                    </hm-read-more></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-3 control-label">Domain Name</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">
                                                <span editable-text="site.domain_name" e-name="domain_name" >{{ site.domain_name }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-3 control-label">Price Floor</label>
                                        <div class="col-sm-9">
                                            <p class="form-control-static">
                                                <span style="color: #656565" editable-number="site.bidfloor" e-name="bid_floor" >{{ (site.bidfloor | currency:"$":"2")  || 'none' }} </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <!-- buttons to submit / cancel form -->
                                    <span ng-show="siteBasicsInline.$visible">
                                        <button type="submit" class="btn btn-xs btn-primary" ng-disabled="siteBasicsInline.$waiting" analytics-on="click" analytics-event="ViewSite_Save">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-xs btn-default" ng-disabled="siteBasicsInline.$waiting" ng-click="siteBasicsInline.$cancel()" analytics-on="click" analytics-event="ViewSite_Cancel">
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </fieldset>
                        <fieldset class="p-sm m0">
                            <small><em class="text-muted">Advertiser Settings</em></small>
                            <form editable-form name="blacklistForm" onaftersave="update()">
                                <div class="form-horizontal">
                                    <span ng-show="!blacklistForm.$visible">
                                        <div class="form-group m0">
                                            <label tooltip="{{ TOOLTIPS.blacklist }}" class="col-sm-3 control-label">Adv. Blacklist&nbsp;&nbsp;</label>
                                            <div class="col-sm-7">
                                                <p class="form-control-static">
                                                    {{ site.blacklist.length ? site.blacklist : "[empty]" }}
                                                </p>
                                            </div>
                                            <div class="col-sm-2">
                                                <a href="#" class="pull-right" ng-click="blacklistForm.$show()" ng-show="!blacklistForm.$visible">
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </span>
                                    <div class="col-sm-12" ng-show="blacklistForm.$visible">
                                        <div class="text-sm text-muted">Type and press Enter</div>
                                        <domain-blacklist model="site.blacklist"></domain-blacklist>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <!-- buttons to submit / cancel form -->
                                    <span ng-show="blacklistForm.$visible">
                                        <br/>
                                        <button type="submit" class="btn btn-xs btn-primary" ng-disabled="blacklistForm.$waiting" analytics-on="click" analytics-event="ViewSite_SaveBlackList">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-xs btn-default" ng-disabled="blacklistForm.$waiting" ng-click="blacklistForm.$cancel()" analytics-on="click" analytics-event="ViewSite_CancelBlackListSaving">
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div id="siteGraphPanel" class="panel panel-default" data-ng-init="getTabData(dateRangeSelection)">
                    <div class="panel-heading">
                        <div class="panel-title">{{ dateRanges[dateRangeSelection].label }}
                            &nbsp&nbsp&nbsp
                            <small>
                                <em class="text-muted">
                                    Reporting Timezone: {{ authentication.user.tz }}
                                </em>
                            </small>
                            <span class="pull-right">
                                <button class="btn btn-sm btn-default" ng-click="getTabData('7d')" analytics-on="click" analytics-event="ViewSite_GetTabData7d">7d</button>
                                <button class="btn btn-sm btn-default" ng-click="getTabData('30d')" analytics-on="click" analytics-event="ViewSite_GetTabData30d">30d</button>
                                <button class="btn btn-sm btn-default" ng-click="getTabData('90d')" analytics-on="click" analytics-event="ViewSite_GetTabData90d">90d</button>
                            </span>
                        </div>
                    </div>
                    <tabset>
                        <tab heading="Summary" select="getTabData(dateRangeSelection, 'summary')">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6 text-center">
                                        <p>Impressions</p>
                                        <div class="h3">{{ impressions | number: 0 }}</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <p>CTR</p>
                                        <div class="h3">{{ CTR | percentage:2 }}</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <p>Fill Rate</p>
                                        <div class="h3">{{ impressions / (impressions + defaults) | percentage:0 }}</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 text-center">
                                        <p>Revenue</p>
                                        <div class="h3">{{ spend | currency:"$":"0" }}</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <p>Avg. {{ pricing }}</p>
                                        <div class="h3">{{ (spend / impressions) * 1000 | currency:"$":"2" }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <daily-ad-stats-graph time-series="siteTimeSeries" show-points="showPoints"></daily-ad-stats-graph>
                            </div>
                        </tab>
                        <tab heading="Advertisers" select="getTabData(dateRangeSelection,'campaigns')">
                            <table datatable="ng" dt-options="dtOptions_adv" dt-column-defs="dtColumnDefs_adv" class="row-border hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Spend</th>
                                    <th>Impressions</th>
                                    <th>RPM</th>
                                    <th>CTR</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in campaignData">
                                    <td><img ng-src="{{ row._id.advertiser.logo_secure_url }}" class="client-logo-sm"/></td>
                                    <td style="max-width: 150px; word-wrap: break-word">{{ row._id.advertiser.name }}<em ng-hide="row._id.advertiser.name">Deleted Advertiser</em></td>
                                    <td>{{ row.spend | currency:"$":"0" }}</td>
                                    <td>{{ row.imps | number: 0 }}</td>
                                    <td>{{ row.spend / row.imps * 1000 | currency:"$":"2"  }}</td>
                                    <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading="Placements" select="getTabData(dateRangeSelection,'placements')">
                            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                                <thead>
                                <tr>
                                    <th>Page</th>
                                    <th>Placement</th>
                                    <th>Size</th>
                                    <th>Revenue</th>
                                    <th>Impressions</th>
                                    <th>RPM</th>
                                    <th>CTR</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in placementData">
                                    <td style="max-width: 150px; word-wrap: break-word">{{ row._id.page.name }}<em ng-hide="row._id.page.name ">Deleted Page</em></td>
                                    <td style="max-width: 150px; word-wrap: break-word">{{ row._id.placement.name }}<em ng-hide="row._id.placement.name ">Deleted Placement</em></td>
                                    <td>{{ row._id.placement.w }}{{ row._id.placement.w ? 'x' : ''}}{{ row._id.placement.h }}</td>
                                    <td>{{ row.spend | currency:"$":"0" }}</td>
                                    <td>{{ row.imps | number: 0 }}</td>
                                    <td>{{ row.spend / row.imps * 1000 | currency:"$":"2"  }}</td>
                                    <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                    </tabset>
                </div>
            </div>
        </section>
    </div>
</div>