@hint-bg: @brand-primary;
@hint-color: white;

.hint {
  padding: 15px;
  border-left-color: @hint-bg;
  border-top-color: @panel-default-border;
  border-right-color: @panel-default-border;
  border-bottom-color: @panel-default-border;
  border-width: 1px 1px 1px 6px !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  h3, h4 {
    color: @hint-bg;
    margin: 0;
  }
  .panel-heading {
    padding: 0;
  }

  .panel-body{
    padding: 5px 0 0 0;
  }

  .hint-content {
    font-size: 1.1em;
    a {
      text-decoration: underline;
    }
  }
}