.hint {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 15px;
  h3 {
    margin-top: 0;
  }
  .hint-content {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8);
    a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: underline;
    }
  }
}