// ========================================================================
//   Component: ngdialog.less
// ========================================================================== 

.ngdialog {

  &.ngdialog-theme-default {
    .ngdialog-content {
      background-color: #fff !important;
      border-radius: @border-radius-base !important;
      font-family: inherit !important;
      font-size: inherit !important;
      line-height: inherit !important;
    }
  }

  &.dialogwidth800 {
    .ngdialog-content {
      width: 800px !important;
    }

  }
  &.dialogwidth1000 {
    .ngdialog-content {
      width: 1000px !important;
    }
  }

  &.dialogwidth600 {
    .ngdialog-content {
      width: 600px !important;
    }

  }
  &.dialogwidth650 {
    .ngdialog-content {
      width: 650px !important;
    }
  }

  &.small-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &.fixed-height {
    .ngdialog-content {
      @media (min-height: 500px){
        height: 400px;
      }
      @media (min-height: 700px){
        height: 600px;
      }
      @media (min-height: 1000px){
        height: 900px;
      }
      @media (min-height: 1200px){
        height: 1100px;
      }
      overflow-y: scroll;
    }
  }
}
