span.rz-pointer{
  top: -5px !important;
  height: 14px !important;
  width: 14px !important;
  background-color: @brand-primary-dark !important;
}

.rz-selection {
  background: @brand-primary-light !important;
}

.rz-bubble {
  opacity: 0 !important;
}

rzslider {
  margin: 15px 0 15px 0 !important;
}

.rz-pointer:after{
  display: none !important;
}