.smallthumbnail {
  max-height: 150px;
  max-width: 100px;
}

.xsthumbnail {
  max-height: 50px;
  max-width: 37px;
}

.thumbnail {
  width: 400px;
  height: 250px;
}
.thumbnail iframe {
  width: 1200px;
  height: 750px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform:  scale(0.3, 0.3);
  -moz-transform:  scale(0.3, 0.3);
  transform:  scale(0.3, 0.3);
  overflow: hidden;
}
.thumbnail.overlay {
  position: relative;
}
.thumbnail.overlay iframe {
  position: relative;
  z-index: 1;
}
.thumbnail.overlay a {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #fff;
  opacity: 0;
}