.smallthumbnail {
  max-height: 100px;
  max-width: 75px;
}

.client-logo-md {
  max-height: 50px;
  max-width: 50px;
}
.client-logo-sm {
  max-height: 35px;
  max-width: 35px;
}
.client-logo-lg {
  max-height: 100px;
  max-width: 100px;
}