.browse-publisher-hint {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	padding: 15px;
	h3 {
		margin-top: 0;
	}
	.hint-content {
		font-size: 1.4em;
		color: rgba(255, 255, 255, 0.6);
	}
}
.site-container {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0px -17px;
	.site-block {
		border: 1px solid rgba(255, 255, 255, 0.7);
		background-color: rgba(255, 255, 255, 0.5);
		text-align: center;
		height: 320px;
		margin: 25px 12px 0px;
		padding: 15px;
		color: white;
		img {
			margin-top: 30px;
			width: 100px;
			height: 100px;
		}
		.description {
			height: 70px;
		}
	}
}
