<!--- Base abstract template for Analytics state --->
<h3 class="custom-content-heading">
    <section ng-include="'/modules/core/views/partials/breadcrumbs.html'"></section>
</h3>
<div class="text-center bg-gray-dark">
    <div class="row row-table">
        <div class="col-xs-6 br p mb hover-gray" ng-click="$state.transitionTo('app.analytics.quickQueries')" ng-class="{'bg-gray': $state.$current.name === 'app.analytics.quickQueries'}">
            <h4 class="m0"><i class="fa fa-bolt"></i> Quick Queries</h4>
            <small>Select from one of our prebuilt queries to get number-crunchin' in a hurry.</small>
        </div>
        <div class="col-xs-6 br p mb hover-gray" ng-click="$state.transitionTo('app.analytics.customQueries')" ng-class="{'bg-gray': $state.$current.name === 'app.analytics.customQueries'}">
            <h4 class="m0"><i class="fa fa-wrench"></i> Build Your Own</h4>
            <small>Nerd out. Go nuts. Build a custom query and save it for later use.</small>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <section ui-view="sideBar"></section>
</div>
<div class="col-sm-9">
    <section ui-view="main"></section>
</div>