<!--- Base abstract template for Analytics state --->
<h3 class="custom-content-heading">
    <div ng-switch on="authentication.user.organization.effectiveOrgType" class="pull-right">
        <div ng-switch-when="networkAdmin">
            <role-switcher></role-switcher>
        </div>
    </div>
    <section ng-include="'/modules/core/views/partials/breadcrumbs.html'"></section>
</h3>
<div class="unwrap">
    <div class="text-center bg-one-quarter-black" ng-if="$state.$current.name === 'app._analytics.analytics' || $state.$current.name === 'app._analytics.analytics.quickQueries' || $state.$current.name === 'app._analytics.analytics.customQuery'">
        <div class="row row-table">
            <div class="col-xs-6 br p mb hover-gray" ng-click="$state.transitionTo('app._analytics.analytics.quickQueries')" ng-class="{'bg-one-third-black': $state.$current.name === 'app._analytics.analytics' || $state.$current.name === 'app._analytics.analytics.quickQueries'}">
                <h4 class="m0"><i class="fa fa-bolt"></i> Quick Queries</h4>
                <small>Select from one of our prebuilt queries to get number-crunchin' in a hurry.</small>
            </div>
            <div class="col-xs-6 br p mb hover-gray" ng-click="$state.transitionTo('app._analytics.analytics.customQuery')" ng-class="{'bg-one-third-black': $state.$current.name === 'app._analytics.analytics.customQuery'}">
                <h4 class="m0"><i class="fa fa-wrench"></i> Build Your Own</h4>
                <span class="label label-primary">COMING SOON</span>
                <small>Build a custom query and save it for later use.</small>
            </div>
        </div>
    </div>
    <div class="query-container">
        <div class="col-sm-2">
            <section ui-view="sideBar" ng-if="$state.$current.name === 'app._analytics.analytics' || $state.$current.name === 'app._analytics.analytics.quickQueries' || $state.$current.name === 'app._analytics.analytics.customQuery'"></section>
        </div>
        <div ng-class="{'col-sm-10': $state.$current.name === 'app._analytics.analytics' || $state.$current.name === 'app._analytics.analytics.quickQueries' || $state.$current.name === 'app._analytics.analytics.customQuery', 'col-sm-12': $state.$current.name !== 'app._analytics.analytics' && $state.$current.name !== 'app._analytics.analytics.quickQueries' && $state.$current.name !== 'app._analytics.analytics.customQuery'}">
            <section ui-view="main"></section>
        </div>
    </div>
</div>