{% extends 'base-external-email.server.view.html' %}

{% block content %}

<!--Get sign based on type of payment being made.  Negative if publisher because publisher payments are recorded as negative in Payments collection.-->
<!--TODO: This is actually redundant right now, as the "currency" filter being applied just takes abs value of input value, but keeping this for clarity-->
{% if payment.paymentType == 'publisher' %}
    {% set sign = -1 %}
{% else %}
    {% set sign = 1 %}
{% endif %}

<span class="h4" style="text-align: center">{{ user.displayName }} Your Monthly Billing Statement is Ready </span>
<p style="text-align: center;">
    Thank you for your business!  Please find your monthly billing statement attached.  Additionally, we have
    copied any applicable instructions below.
</p>

<!--BEGIN Instructions section -->
{% if payment.organization.billingPreference == "Stripe" %}
    <p style="text-align: center;">
        Your billing method is set to: <img style="vertical-align: middle" src="https://storage.googleapis.com/cliquesads-billing/invoice-images/stripe2.jpg" height="40px" width="40px" alt="Stripe">
        <b>{{ payment.organization.billingPreference }}</b>
    </p>
    <p style="text-align: center;">
        {% if payment.paymentType == "advertiser" %}
            <b>Instructions:</b> On {{ payment.dueDate|date('F jS\, Y')  }}, Stripe will automatically charge your total balance due of <b>{{ (sign * payment.organization.accountBalance)|round(2)|currency('$')}}</b>
            to either your card or bank account listed above. If you agree with the charges as they are stated, <b>no further action is required</b>.
        {% elseif payment.paymentType == "publisher" %}
            <b>Instructions:</b> On {{ payment.dueDate|date('F jS\, Y')  }}, Stripe will automatically deposit your total balance of <b>{{ (sign * payment.organization.accountBalance)|round(2)|currency('$')}}</b>
            to the bank account listed above.  If you agree with the accrued amounts as they are stated, <b>no further action is required</b>.
        {% endif %}
    </p>
{% elseif payment.organization.billingPreference == "Check" %}
    <p style="text-align: center;">
        Your billing method is set to: <img style="vertical-align: middle" src="https://storage.googleapis.com/cliquesads-billing/invoice-images/icon-check-100.jpg" height="40px" width="40px" alt="Check">
        <b>{{ payment.organization.billingPreference }}</b>
    </p>
    {% if payment.paymentType == "advertiser" %}
        <p style="text-align: center;">
            <b>Instructions:</b> You must mail a check to the address listed above made out to Cliques Labs Inc. for <b>{{ (sign * payment.organization.accountBalance)|round(2)|currency('$')}}</b>
            no later than <b>{{ payment.dueDate|date('F jS\, Y')  }}</b>.
        </p>
        <p style="text-align: center;">
            <em>Alternatively</em>, if you would like to <b>pay using a credit or debit card</b> please
            log on to your <a href="https://console.cliquesads.com/#!/settings/billing">billing center</a>
            to enter your card information. You must enter your card information no later than
            <b>{{ payment.dueDate|date('F jS\, Y')  }}</b> to have this statement charged to your card.
        </p>
    {% elseif payment.paymentType == "publisher" %}
    <p style="text-align: center;">
        <b>Instructions:</b> A check from Cliques Labs Inc. for the amount of <b>{{ (sign * payment.organization.accountBalance)|round(2)|currency('$')}}</b>
        will be mailed your address as listed above no later than <b>{{ payment.dueDate|date('F jS\, Y')  }}</b>.
    </p>
    <p style="text-align: center;">
        <em>Alternatively</em>, if you would like have your payment <b>deposited directly into your
        bank account</b>, please log on to your <a href="https://console.cliquesads.com/#!/settings/billing">
        billing center</a> to enter your bank information. You must enter your bank information no later than
        <b>{{ payment.dueDate|date('F jS\, Y')  }}</b> to have this statement's balance deposited to
        your account.
    </p>
    {% endif %}
{% else %}
    <p style="text-align: center;">
        Your billing method is set to: {{ payment.organization.billingPreference }}
    </p>
{% endif %}
<!--Billing Center plug-->
<p style="text-align: center; background-color: #fafafa; border: 1px solid #f5f5f5; padding: 15px;">
    <em>To manage your billing preferences and to see all of your current & past monthly statements,</em>
    <br>
    <br>
    <a class="btn" href="https://console.cliquesads.com/#!/settings/billing">Go to the Billing Center</a>
</p>
<!--BEGIN Late payment fine print-->
{% if payment.organization.billingPreference == "Check" && payment.paymentType == "advertiser" %}
<p style="text-align: center;">
    <em><small>
        If any payment is not made after it becomes due and payable, a late fee shall accrue at the rate
        of the lesser of one and one half percent (1.5%) per month or the highest legal rate permitted
        by law. In addition, if Client fails to pay fees invoiced by Cliques within thirty (30) days
        following the payment due date, Cliques shall have the right to suspend Client’s access to the
        Cliques Platform without notice to Client; such access not to be reinstated until Client pays
        all such overdue amounts.
    </small></em>
</p>
{% endif %}

<!--BEGIN Footer-->
<br>
<p style="font-size: 12px; text-align: center;">
    <em>If you feel that have received this message in error, please report this message to
        <a href="mailto:billing@cliquesads.com">billing@cliquesads.com</a></em>.
</p>
{% endblock %}