<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>A new Advertiser was created by {{ user.displayName }}:</p>
    <h4>{{ advertiser.name }}</h4>
    <p>You can view the
        new Advertiser <a href="https://console.cliquesads.com/#!/advertiser/{{ advertiser.id }}">here.</a></p>
    <p>There's probably nothing to do here just yet, but keep an eye out for a notification about the creation of a campaign shortly. </p>
    <p>If the user DOESN'T create a campaign soon, that's also problematic -- you should follow up with them to make sure they don't have any issues.</p>
	<br>
	<p>The {{appName}} Support Team</p>
</body>
</html>