<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>A new site was created by {{ user.displayName }}. You can view the
        new site <a href="https://console.cliquesads.com/#!/publisher/{{ publisher.id }}">here.</a></p>
	<p>Right now, this site is live.  Please monitor traffic carefully and work through any issues with {{ user.displayName }}.</p>
    <p>If there are any issues, please notify the user at: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
	<br>
	<p>The {{appName}} Support Team</p>
</body>
</html>