{% extends 'base-external-email.server.view.html' %}

{% block content %}
<span class="h1">Heading 1</span>
<span class="h2">Heading 2</span>
<span class="h3">Heading 3</span>
<span class="h4">Heading 4</span>
<strong>Getting started:</strong> Customize your template by
clicking on the style editor tabs up above. Set your fonts,
colors, and styles. After setting your styling is all done you can click here in this area, delete the text, and start adding your own awesome content!
<br>
<br>
After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "styles" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "clear styles" button to strip the text of any formatting and reset your style.
{% endblock %}