<form name="siteForm" data-ng-submit="" form-wizard="" validate-steps="true" validate-form="" steps="5">
    <div class="form-wizard wizard-vertical">
        <!-- START wizard steps indicator-->
        <ol>
            <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)">
                <h4>1. Basics</h4>
                <small class="text-muted"></small>
            </li>
            <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)">
                <h4>2. Clique</h4>
                <small class="text-muted"></small>
            </li>
            <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)">
                <h4>3. Bids </h4>
                <small class="text-muted"></small>
            </li>
            <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)">
                <h4>4. Creatives</h4>
                <small class="text-muted"></small>
            </li>
            <li ng-class="{'active':wizard.active(5)}" ng-click="wizard.go(5)">
                <h4>5. Submit</h4>
                <small class="text-muted"></small>
            </li>
        </ol>
        <!-- END wizard steps indicator-->

        <!-- START SITE inputs -->
        <div id="step1" ng-show="wizard.active(1)">
            <legend>New Site</legend>
            <fieldset>
                <div class="form-group">
                    <label>Name *</label>
                    <input type="text" name="site.name" id="site.name" data-ng-model="site.name" data-parsley-group="step1" placeholder="Backcountry Stand-Up Fat-Biking Winter 2016" required="required" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="site.description" id="site.description" data-ng-model="site.description" data-parsley-group="step1" placeholder="Optional - describe your site" class="form-control" />
                </div>
            </fieldset>
            <fieldset>
                <label>Budget *</label>
                <a href="#" tooltip="{{ TOOLTIPS.budget }}">
                    <em class="fa fa-question-circle"></em>
                </a>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" data-parsley-type="integer" name="site.budget" id="site.budget" data-ng-model="site.budget" data-parsley-group="step1" placeholder="10000" class="form-control" required="required"/>
                    <span class="input-group-addon">.00</span>
                </div>
            </fieldset>
            <!--Start Flight Dates Row-->
            <fieldset>
                <div class="row">
                    <flight-dates width="6" wizardstep="step2" enddatemodel="site.end_date" startdatemodel="site.start_date"></flight-dates>
                </div>
            </fieldset>
            <small class="text-muted">* Required</small>
            <ul class="pager">
                <li class="next"><a href="#" ng-click="wizard.go(2)">Next <span>&rarr;</span></a>
                </li>
            </ul>
        </div>

        <div id="step2" ng-show="wizard.active(2)">
            <legend>Choose a Clique</legend>
            <fieldset>
                <input style="display: None" type="text" name="site.clique" id="site.clique" data-ng-model="site.clique" data-parsley-group="step2" placeholder="{{ site.clique }}" required="required" class="form-control" />
                <!--<p class="form-control-static">{{ site.clique }}</p>-->
                <div class="form-group">
                    <abn-tree tree-data="cliques" tree-control="my_tree" on-select="set_clique(branch)" icon-leaf="fa fa-square" expand-level="2" initial-selection="Outdoor"></abn-tree>
                </div>
            </fieldset>
            <div class="alert alert-success" data-ng-show="site.clique"><b>Selected:</b> {{ site.clique }}</div>
            <small class="text-muted">* Required</small>
            <ul class="pager">
                <li class="previous">
                    <a href="#" ng-click="wizard.go(1)">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li class="next"><a href="#" ng-click="wizard.go(3)">Next <span>&rarr;</span></a>
                </li>
            </ul>
        </div>

        <!-- START SITE inputs -->
        <div id="step3" ng-show="wizard.active(3)">
            <legend>Bid Settings</legend>
            <small><em class="text-muted">You can set targeting specifics (DMA, Site) later</em></small>
            <br/>
            <!-- START row -->
            <fieldset>
                <label>Base Bid (CPM) *</label>
                &nbsp;&nbsp;&nbsp;
                <a href="#" tooltip="{{ TOOLTIPS.base_bid }}">
                    <em class="fa fa-question-circle"></em>
                </a>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input data-parsley-type="number" name="site.base_bid" id="site.base_bid" ng-model="site.base_bid" placeholder="10.00" data-parsley-group="step3" min="{{ min_base_bid }}" max="{{ max_base_bid }}" class="form-control" required="required"/>
                </div>
                <br/>
                <label>Max Bid (CPM) *</label>
                &nbsp;&nbsp;&nbsp;
                <a href="#" tooltip="{{ TOOLTIPS.max_bid }}">
                    <em class="fa fa-question-circle"></em>
                </a>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input data-parsley-type="number" name="site.max_bid" id="site.max_bid" ng-model="site.max_bid" placeholder="10.00" data-parsley-group="step3" min="{{ site.base_bid }}" class="form-control" required="required"/>
                </div>
            </fieldset>

            <ul class="pager">
                <li class="previous">
                    <a href="#" ng-click="wizard.go(2)">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li class="next"><a href="#" ng-click="wizard.go(4)">Next <span>&rarr;</span></a>
                </li>
            </ul>
        </div>
        <!-- END Wizard Step inputs -->

        <!-- START CREATIVE UPLOAD STEP-->
        <div id="step4" ng-show="wizard.active(4)">
            <legend>Add some creatives</legend>
            <small><em class="text-muted">You can also skip and add these later</em></small>
            <fieldset>
                <creative-uploader wizardstep="step4" uploader="uploader" onuploadall="validateAndUpload(wizard.validateStep(4))" width="12"> </creative-uploader>
            </fieldset>
            <ul class="pager">
                <li class="previous">
                    <a href="#" ng-click="wizard.go(3)">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li class="next">
                    <a href="#" ng-click="wizard.go(5)"> Next <span>&rarr;</span></a>
                </li>
            </ul>
        </div>
        <!-- END Wizard Step inputs -->

        <!-- START Wizard Step inputs -->
        <div id="step5" ng-show="wizard.active(5)">
            <legend>Review & Submit</legend>
            <div ng-show="creation_error" class="alert alert-danger col-md-12">{{ creation_error }}</div>
            <fieldset>
                <h5>Site Basics&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" ng-click="wizard.go(1)"><span class="fa fa-edit"></span></a></h5>
                <div class="col-sm-4"><b>Name</b></div><div class="col-sm-8">{{ site.name }}</div>
                <div class="col-sm-4"><b>Description</b></div><div class="col-sm-8">{{ site.description || &apos;empty&apos; }}</div>
                <div class="col-sm-4"><b>Budget</b></div><div class="col-sm-8">{{ site.budget | currency:"$":0 }}</div>
                <div class="col-sm-4"><b>Start Date</b></div><div class="col-sm-8">{{ site.start_date | date:"shortDate":"EST" }}</div>
                <div class="col-sm-4"><b>End Date</b></div><div class="col-sm-8">{{ site.end_date | date:"shortDate":"EST" }}</div>
            </fieldset>
            <fieldset>
                <h5>Site Clique&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" ng-click="wizard.go(2)"><span class="fa fa-edit"></span></a></h5>
                <div class="col-sm-4"><b>Clique</b></div><div class="col-sm-8">{{ site.clique }}</div>
            </fieldset>
            <fieldset>
                <h5>Bid Settings&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" ng-click="wizard.go(3)"><span class="fa fa-edit"></span></a></h5>
                <div class="col-sm-4"><b>Base Bid</b></div><div class="col-sm-8">{{ site.base_bid | currency:"$":2 }}</div>
                <div class="col-sm-4"><b>Max Bid</b></div><div class="col-sm-8">{{ site.max_bid | currency:"$":2 }}</div>
            </fieldset>
            <fieldset>
                <h5>Site Creatives&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" ng-click="wizard.go(4)"><span class="fa fa-edit"></span></a></h5>
                <div ng-repeat="fileItem in uploader.queue">
                    <div class="col-sm-4"><b>{{ fileItem.file.name }}</b></div><div class="col-sm-8"><span class="icon-cursor mr"></span>{{ fileItem.click_url }}</div>
                </div>
            </fieldset>
            <ul class="pager">
                <li class="previous">
                    <a href="#" ng-click="wizard.go(4)">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li ng-show="loading">
                    <div class="ball-pulse">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </li>
                <li class="next">
                    <a href="#" ng-click="create()"> Submit <span>&rarr;</span></a>
                </li>
            </ul>
        </div>
        <!-- END Wizard Step inputs -->
    </div>
</form>