<h4>{{ placement.name }} - Multi-Pane Native Specs</h4>
<div ng-show="saveerror" class="col-sm-12 alert alert-danger">{{ saveerror }}</div>
<form id="multiPaneNativeSpecsForm" name="multiPaneNativeSpecsForm" data-ng-submit="save()">
    <tabset>
        <tab heading="Wrapper">
            <fieldset>
                <div class="row">
                    <label class="col-sm-2">Panes - Desktop*</label>
                    <div class="col-sm-2 form-group">
                        <input type="number"
                               id="desktop_count"
                               name="desktop_count"
                               required="required"
                               class="form-control"
                               min="2"
                               ng-model="placement.multiPaneNative.count.desktop" />
                    </div>
                    <div class="col-sm-1"> </div>
                    <label class="col-sm-2">Panes - Mobile*</label>
                    <div class="col-sm-2 form-group">
                        <input type="number"
                               id="mobile_count"
                               name="mobile_count"
                               required="required"
                               class="form-control"
                               min="2"
                               ng-model="placement.multiPaneNative.count.mobile" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="col-sm-6">
                    <h4>
                        <i class="fa fa-desktop"></i> Desktop Wrapper Template
                    </h4>
                </div>
                <div class="col-sm-3">
                    <div class="form-group form-control-static">
                        <label class="switch">
                            <input type="checkbox" checked="checked" ng-model="placement.multiPaneNative.wrapper.desktop.active"/>
                            <span></span>
                        </label>
                        <div class="label" ng-class="placement.multiPaneNative.wrapper.desktop.active ? 'label-success':'label-default'">{{ placement.multiPaneNative.wrapper.desktop.active ? "Active":"Inactive"}}</div>
                    </div>
                </div>
                <div class="col-sm-12" ng-show="placement.multiPaneNative.wrapper.desktop.active">
                    <div ui-codemirror="{ onLoad: onDesktopWrapperCMLoad }"
                         ui-codemirror-opts="codeMirrorOpts"
                         ng-model="placement.multiPaneNative.wrapper.desktop.template"
                         id="wrapperDesktopTemplate"
                         ng-required="placement.multiPaneNative.wrapper.desktop.active"
                         class="cm-form-control"></div>
                    <span ng-show="templateErrors.wrapper.desktop" class="text-danger">{{ templateErrors.wrapper.desktop }}</span>
                </div>
            </fieldset>
            <fieldset>
                <div class="col-sm-6">
                    <h4><i class="fa fa-mobile"></i> Mobile / <i class="fa fa-tablet"></i> Tablet Wrapper Template</h4>
                </div>
                <div class="col-sm-3">
                    <div class="form-group form-control-static">
                        <label class="switch">
                            <input type="checkbox" checked="checked" ng-model="placement.multiPaneNative.wrapper.mobile.active"/>
                            <span></span>
                        </label>
                        <div class="label" ng-class="placement.multiPaneNative.wrapper.mobile.active ? 'label-success':'label-default'">{{ placement.multiPaneNative.wrapper.mobile.active ? "Active":"Inactive"}}</div>
                    </div>
                </div>
                <div class="col-sm-12" ng-show="placement.multiPaneNative.wrapper.mobile.active">
                <!--<textarea  ng-required="placement.multiPaneNative.wrapper.mobile.active" ng-model="placement.multiPaneNative.wrapper.mobile.template" id="wrapperMobileTemplate" rows=7 name="wrapperMobileTemplate" placeholder="<div>I am a mobile native template! {{ panes }}</div>" class="form-control code-input"></textarea>-->
                    <div ui-codemirror="{ onLoad: onMobileWrapperCMLoad }"
                         ui-codemirror-opts="codeMirrorOpts"
                         ng-model="placement.multiPaneNative.wrapper.mobile.template"
                         ng-required="placement.multiPaneNative.wrapper.mobile.active"
                         class="cm-form-control"
                         id="wrapperMobileTemplate"></div>
                    <span ng-show="templateErrors.wrapper.mobile" class="text-danger">{{ templateErrors.wrapper.mobile }}</span>
                </div>
            </fieldset>
        </tab>
        <tab heading="Pane">
            <native-spec-fields
                    native="placement.multiPaneNative.pane"
                    show-active-switches="false"
                    code-mirror-options="codeMirrorOpts"
                    on-desktop-cm-load="onDesktopPaneCMLoad(codeMirror)"
                    on-mobile-cm-load="onMobilePaneCMLoad(codeMirror)"
                    errors="templateErrors.panes">
            </native-spec-fields>
        </tab>
    </tabset>
    <br/>
    <div class="row text-center">
        <button type="submit" class="btn btn-primary" analytics-on="click" analytics-event="EditMultiPaneNativeSpecs_Save">Save</button>
    </div>
</form>