<p class="text-md">{{ placement.name }}</p>
<div ng-show="saveerror" class="col-sm-12 alert alert-danger">{{ saveerror }}</div>
<form id="placementForm" name="placementForm">
    <tabset>
        <tab heading="Basic Settings">
            <div class="form-horizontal">
                <div class="form-group m0" ng-show="authentication.user.roles.indexOf('admin') > -1">
                    <label class="control-label col-sm-3">Active</label>
                    <div class="col-sm-8">
                        <div class="form-control-static">
                            <label class="switch">
                                <input type="checkbox" checked="checked" ng-model="placement.active" ng-click="placement.active != placement.active"/>
                                <span></span>
                            </label>
                            <status-label model="placement"></status-label>
                        </div>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-3 control-label">Name *</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <input type="text" data-ng-model="placement.name" name="name" placeholder="ex. Right Sidebar 300x250" required="required" class="form-control"/>
                            <span ng-show="validateInput('name', 'required')" class="text-danger">This field is required</span>
                        </p>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-3 control-label">Dimensions *</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <select name="dimensions" data-ng-model="placement.dimensions" required="required" class="form-control" ng-options="dim for dim in CREATIVE_SIZES.supported_dimensions">
                                <option value=""></option>
                            </select>
                            <span ng-show="validateInput('dimensions', 'required')" class="text-danger">This field is required</span>
                        </p>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-3 control-label">Position *</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <select name="position" data-ng-model="placement.pos" required="required" class="form-control" ng-options="position.code as position.name for position in OPENRTB.positions">
                                <option value=""></option>
                            </select>
                            <span ng-show="validateInput('position', 'required')" class="text-danger">This field is required</span>
                        </p>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Default Condition">
            <div class="box-form m0">
                <ol class="row">
                    <li ng-repeat="(key, value) in DEFAULT_TYPES" ng-class="{'active': placement.defaultType === key }" ng-click="placement.defaultType = key" class="col-sm-4 align-middle p-sm" style="min-height: 120px;">
                        <h4><i class="{{ value.icon }}"></i>&nbsp;{{ value.name }}</h4>
                        <p class="m0 p0">{{ value.description }}</p>
                    </li>
                </ol>
            </div>
            <fieldset>
                <div ng-switch on="placement.defaultType">
                    <div ng-switch-when="hostedCreative">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Preview</th>
                                        <th>Name</th>
                                        <th>Click URL</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="creative in placement.hostedCreatives">
                                        <td><img ng-src="{{ creative.secureUrl }}" class="smallthumbnail"/></td>
                                        <td>
                                            <input type="text" name="creative.name" data-ng-model="creative.name" required="required" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="url" data-parsley-type="url" name="creative.click_url" data-ng-model="creative.click_url" required="required" class="form-control" />
                                        </td>
                                        <td><button type="button" ng-click="removeCreative(creative)" class="btn btn-danger btn-xs"><span class="icon-trash mr"></span>Remove</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <creative-uploader uploader="uploader" supported-dimensions="supportedDimensions" onuploadall="validateAndUpload(validateQueue())" width="7"></creative-uploader>
                    </div>
                    <div ng-switch-when="passback">
                        <label for="passbackTag">Passback Tag</label>
                        <textarea ng-model="placement.passbackTag" id="passbackTag" name="passbackTag" class="form-control" html-input></textarea>
                        <span ng-show="validateInput('passbackTag', 'html')" class="text-danger">It looks like this isn't valid HTML.</span>
                    </div>
                    <div ng-switch-when="hide">
                        <div class="bs-callout bs-callout-primary">
                            <h4>Heads Up</h4>
                            <p>This option works best when you export <stong>Javascript</stong> tags, which fully collapse.</p>
                        </div>
                    </div>
                </div>
            </fieldset>
        </tab>
    </tabset>
    <br/>
    <div class="row text-center">
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
</form>