<h4>{{ placement.name }} - Native Specs</h4>
<div ng-show="placement.type !== 'multiPaneNative'">
    <div ng-show="saveerror" class="col-sm-12 alert alert-danger">{{ saveerror }}</div>
    <form id="nativeSpecsForm" name="nativeSpecsForm" data-ng-submit="save()">
        <fieldset>
            <div class="row pb">
                <label class="col-sm-3">Brand Disclosure Prefix*</label>
                <div class="col-sm-4 form-group">
                    <input type="text" id="prefix" name="prefix" required="required" class="form-control" ng-model="placement.native.brandDisclosurePrefix"/>
                </div>
                <label class="col-sm-3" for="descriptionLength">Max Description Length *</label>
                <div class="col-sm-2 form-group">
                    <input type="number" required="required" id="descriptionLength" name="descriptionLength" min="{{ NATIVE_SPECS.description.minChars }}" max="{{ NATIVE_SPECS.description.maxChars }}" class="form-control" data-ng-model="placement.native.descriptionMaxLength">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3">Advertisement Disclosure*</label>
                <div class="col-sm-4 form-group">
                    <input type="text" id="adDisclosure" name="adDisclosure" required="required" class="form-control" ng-model="placement.native.advertisementDisclosure"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="col-sm-4">
                <h4>
                    <i class="fa fa-desktop"></i> Desktop
                </h4>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-control-static">
                    <label class="switch">
                        <input type="checkbox" checked="checked" ng-model="placement.native.desktop.active"/>
                        <span></span>
                    </label>
                    <div class="label" ng-class="placement.native.desktop.active ? 'label-success':'label-default'">{{ placement.native.desktop.active ? "Active":"Inactive"}}</div>
                </div>
            </div>
            <!--<p class="text-muted">Copy and paste this from your DFP Ad Server or affiliate network. We will then call this tag when we have no ads to serve.</p>-->
            <textarea ng-show="placement.native.desktop.active" ng-required="placement.native.desktop.active" ng-model="placement.native.desktop.template" id="desktopTemplate" rows=7 name="desktopTemplate" placeholder="<div>I am a desktop native template!</div>" class="form-control code-input"></textarea>
            <span ng-show="validateInput('desktopTemplate', 'html')" class="text-danger">It looks like this isn't valid HTML.</span>
        </fieldset>
        <fieldset>
            <div class="col-sm-4">
                <h4><i class="fa fa-mobile"></i> Mobile / <i class="fa fa-tablet"></i> Tablet</h4>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-control-static">
                    <label class="switch">
                        <input type="checkbox" checked="checked" ng-model="placement.native.mobile.active"/>
                        <span></span>
                    </label>
                    <div class="label" ng-class="placement.native.mobile.active ? 'label-success':'label-default'">{{ placement.native.mobile.active ? "Active":"Inactive"}}</div>
                </div>
            </div>
            <!--<p class="text-muted">Copy and paste this from your DFP Ad Server or affiliate network. We will then call this tag when we have no ads to serve.</p>-->
            <textarea ng-show="placement.native.mobile.active" ng-required="placement.native.mobile.active" ng-model="placement.native.mobile.template" id="mobileTemplate" rows=7 name="mobileTemplate" placeholder="<div>I am a mobile native template!</div>" class="form-control code-input"></textarea>
            <span ng-show="validateInput('mobileTemplate', 'html')" class="text-danger">It looks like this isn't valid HTML.</span>
        </fieldset>
        <br/>
        <div class="row text-center">
            <button type="submit" class="btn btn-primary" analytics-on="click" analytics-event="EditNativeSpecs_Save">Save</button>
        </div>
    </form>    
</div>
<div ng-show="placement.type === 'multiPaneNative'">
    <div ng-show="saveerror" class="col-sm-12 alert alert-danger">{{ saveerror }}</div>
    <form id="nativeSpecsForm" name="nativeSpecsForm" data-ng-submit="save()">
        <tabset>
            <tab heading="Wrapper">
                <fieldset>
                    <div class="row">
                        <label class="col-sm-3">Number of Panes*</label>
                        <div class="col-sm-4 form-group">
                            <input type="number"
                                id="count"
                                name="count"
                                required="required"
                                class="form-control"
                                min="2"
                                ng-model="placement.multiPaneNative.count" />
                        </div>
                    </div>
                </fieldset>
            </tab>
            <tab heading="Pane">
                <fieldset>
                    <div class="row pb">
                        <label class="col-sm-3">Brand Disclosure Prefix*</label>
                        <div class="col-sm-4 form-group">
                            <input type="text" id="prefix" name="prefix" required="required" class="form-control" ng-model="placement.multiPaneNative.pane.brandDisclosurePrefix"/>
                        </div>
                        <label class="col-sm-3" for="descriptionLength">Max Description Length *</label>
                        <div class="col-sm-2 form-group">
                            <input type="number" required="required" id="descriptionLength" name="descriptionLength" min="{{ NATIVE_SPECS.description.minChars }}" max="{{ NATIVE_SPECS.description.maxChars }}" class="form-control" data-ng-model="placement.multiPaneNative.pane.descriptionMaxLength">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Advertisement Disclosure*</label>
                        <div class="col-sm-4 form-group">
                            <input type="text" id="adDisclosure" name="adDisclosure" required="required" class="form-control" ng-model="placement.multiPaneNative.pane.advertisementDisclosure"/>
                        </div>
                    </div>
                </fieldset>
            </tab>
        </tabset>
        <fieldset>
            <div class="col-sm-4">
                <h4>
                    <i class="fa fa-desktop"></i> Desktop
                </h4>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-control-static">
                    <label class="switch">
                        <input type="checkbox" checked="checked" ng-model="placement.multiPaneNative.pane.desktop.active"/>
                        <span></span>
                    </label>
                    <div class="label" ng-class="placement.multiPaneNative.pane.desktop.active ? 'label-success':'label-default'">{{ placement.multiPaneNative.pane.desktop.active ? "Active":"Inactive"}}</div>
                </div>
            </div>
            <!--<p class="text-muted">Copy and paste this from your DFP Ad Server or affiliate network. We will then call this tag when we have no ads to serve.</p>-->
            <textarea ng-show="placement.multiPaneNative.pane.desktop.active" ng-required="placement.multiPaneNative.pane.desktop.active" ng-model="placement.multiPaneNative.pane.desktop.template" id="desktopTemplate" rows=7 name="desktopTemplate" placeholder="<div>I am a desktop native template!</div>" class="form-control code-input"></textarea>
            <span ng-show="validateInput('desktopTemplate', 'html')" class="text-danger">It looks like this isn't valid HTML.</span>
        </fieldset>
        <fieldset>
            <div class="col-sm-4">
                <h4><i class="fa fa-mobile"></i> Mobile / <i class="fa fa-tablet"></i> Tablet</h4>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-control-static">
                    <label class="switch">
                        <input type="checkbox" checked="checked" ng-model="placement.multiPaneNative.pane.mobile.active"/>
                        <span></span>
                    </label>
                    <div class="label" ng-class="placement.multiPaneNative.pane.mobile.active ? 'label-success':'label-default'">{{ placement.multiPaneNative.pane.mobile.active ? "Active":"Inactive"}}</div>
                </div>
            </div>
            <!--<p class="text-muted">Copy and paste this from your DFP Ad Server or affiliate network. We will then call this tag when we have no ads to serve.</p>-->
            <textarea ng-show="placement.multiPaneNative.pane.mobile.active" ng-required="placement.multiPaneNative.pane.mobile.active" ng-model="placement.multiPaneNative.pane.mobile.template" id="mobileTemplate" rows=7 name="mobileTemplate" placeholder="<div>I am a mobile native template!</div>" class="form-control code-input"></textarea>
            <span ng-show="validateInput('mobileTemplate', 'html')" class="text-danger">It looks like this isn't valid HTML.</span>
        </fieldset>
        <br/>
        <div class="row text-center">
            <button type="submit" class="btn btn-primary" analytics-on="click" analytics-event="EditNativeSpecs_Save">Save</button>
        </div>
    </form>    
</div>
