<h4 class="text-md">{{ placement.name || "New Placement" }}</h4>
<div ng-show="saveerror" class="alert alert-danger">{{ saveerror }}</div>
<form id="placementForm" name="placementForm">
    <div class="form-horizontal">
        <div class="form-group m0" ng-show="authentication.user.organization.organization_types.indexOf('networkAdmin') > -1">
            <label class="control-label col-sm-3">Active</label>
            <div class="col-sm-8">
                <div class="form-control-static">
                    <label class="switch">
                        <input type="checkbox" checked="checked" ng-model="placement.active" ng-click="placement.active != placement.active"/>
                        <span></span>
                    </label>
                    <status-label model="placement"></status-label>
                </div>
            </div>
        </div>
        <div class="form-group m0">
            <label class="col-sm-3 control-label">Name *</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    <input type="text" data-ng-model="placement.name" name="name" placeholder="ex. Right Sidebar 300x250" required="required" class="form-control"/>
                    <span ng-show="validateInput('name', 'required')" class="text-danger">This field is required</span>
                </p>
            </div>
        </div>
        <div class="form-group m0">
            <label class="col-sm-3 control-label">Type *
                <a href="#" analytics-on="click" ng-click="openTypeDialog()" analytics-event="NewPlacementForm_PlacementTypeTooltip">
                    <em class="fa fa-question-circle"></em>
                </a>
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    <select name="type" data-ng-model="placement.type" required="required" class="form-control">
                        <option ng-repeat="(type, typeMeta) in PLACEMENT_TYPES" value="{{ type }}">{{ typeMeta.displayName }}</option>
                    </select>
                    <span ng-show="validateInput('name', 'required')" class="text-danger">This field is required</span>
                </p>
            </div>
        </div>
        <div class="form-group m0">
            <label class="col-sm-3 control-label">Dimensions *</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    <select name="dimensions" ng-disabled="placement.type === 'native'" data-ng-model="placement.dimensions" required="required" class="form-control" ng-options="dim for dim in CREATIVE_SIZES.supported_dimensions">
                        <option value=""></option>
                    </select>
                    <span ng-show="validateInput('dimensions', 'required')" class="text-danger">This field is required</span>
                </p>
            </div>
        </div>
        <div class="form-group m0">
            <label class="col-sm-3 control-label">Position *</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    <span ng-switch="placement.type">
                        <select ng-switch-when="placement.type === 'native'" name="position" data-ng-model="placement.pos" required="required" class="form-control" ng-options="position.code as position.name for position in NATIVE_POSITIONS">
                            <option value=""></option>
                        </select>
                        <select ng-switch-default name="position" data-ng-model="placement.pos" required="required" class="form-control" ng-options="position.code as position.name for position in OPENRTB.positions">
                            <option value=""></option>
                        </select>
                    </span>
                    <span ng-show="validateInput('position', 'required')" class="text-danger">This field is required</span>
                </p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row text-center">
        <button type="button" class="btn btn-primary" ng-click="save()" analytics-on="click" analytics-event="EditPlacementBasics_Save">Save</button>
    </div>
</form>