<h4>{{ page.name || 'New Page' }}</h4>
<p>Create a new Page and any Placements that belong to it.  You can set advanced options and export placement tags afterwards.</p>
<div class="col-md-12 alert alert-danger" ng-show="saveerror">{{ saveerror }}</div>
<!--Only show activate controls for admins right now-->
<fieldset ng-show="authentication.user.roles.indexOf('admin') > -1">
    <div class="form-horizontal">
        <div class="form-group m0">
            <label class="col-sm-1 control-label">Active</label>
            <div class="col-sm-2 form-control-static">
                <label class="switch">
                    <input type="checkbox" checked="checked" ng-model="page.active" ng-click="togglePageActive()"/>
                    <span></span>
                </label>
                <div class="label" ng-class="page.active ? 'label-success':'label-default'">{{ page.active ? "Active":"Inactive"}}</div>
            </div>
            <div class="col-sm-9"></div>
        </div>
    </div>
</fieldset>
<fieldset>
    <form id="pageForm">
        <div class="form-group m0 col-sm-2">
            <label class="control-label">Name</label>
            <p class="form-control-static">
                <input type="text" data-ng-model="page.name" name="name" id="name" class="form-control" placeholder="Homepage" required="required"/>
            </p>
        </div>
        <div class="form-group m0 col-sm-4">
            <label class="control-label">URL</label>
            <p class="form-control-static">
                <input name="url" type="text" data-ng-model="page.url" id="url" class="form-control" placeholder="example.com/post.html" required="required">
            </p>
        </div>
        <div class="form-group m0 col-sm-4">
            <label class="control-label">Description</label>
            <p class="form-control-static">
                <input type="text" data-ng-model="page.description" name="decription" id="description" class="form-control" placeholder="Homepage"/>
            </p>
        </div>
        <div class="form-group m0 col-sm-2">
            <label class="control-label">Clique</label>
            <p class="form-control-static">
                {{ page.clique || "empty" }}
            </p>
        </div>
    </form>
</fieldset>
<fieldset>
    <placement-form page="page" publisher="publisher"></placement-form>
</fieldset>
<div class="text-center">
    <button type="button" ng-click="updateAndClose()" class="btn btn-primary btn-large">Save</button>
</div>