<br/>
<div class="jumbotron bg-green text-center">
    <div class="row">
        <p class="lead">
            <i class="fa fa-lg fa-birthday-cake"></i> Hooray! Your Publisher has been created.
        </p>
    </div>
</div>
<h3>What Happens Now?</h3>
<p>We will review your Site, Page & Placements to make that sure everything looks good. In addition, we may reach out
    and ask you a few questions about specifically where you plan to place our tags.</p>
<p>Once the review is complete, you'll receive an email from a member of our Support Team letting you know that your campaign has been activated.</p>
<em class="text-muted">Estimated review time: <strong>{{ ngDialogData.review_time }}</strong></em>
<div class="alert alert-info">
    <h4>NOTE: Native Placements</h4>
    <p>We will reach out to gather specifics about how you'd like the ad to be styled before going live.</p>
</div>