<section data-ng-init="getPlacementTag()">
    <h4>Tag for {{placement.name}}</h4>
    <form name="tagOptions">
        <fieldset class="pb0">
            <table class="col-sm-12">
                <thead>
                    <th>Secure</th>
                    <th>Tag Type</th>
                </thead>
                <tbody>
                    <tr class="align-top">
                        <td class="col-sm-4">
                            <div class="checkbox c-checkbox">
                                <label><input type="checkbox" ng-model="options.secure"/><span class="fa fa-check"></span>Secure</label>
                            </div>
                        </td>
                        <td class="col-sm-8">
                            <tag-type-input class="col-sm-6" default-type="{{ placement.defaultType }}" tag-type="javascript" model="options.type"></tag-type-input>
                            <tag-type-input class="col-sm-6" default-type="{{ placement.defaultType }}" tag-type="iframe" model="options.type"></tag-type-input>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <div class="pl-sm checkbox c-checkbox">
            <label><input type="checkbox" ng-model="options.dynamicInsertion"/><span class="fa fa-check"></span>Dynamic Insertion</label>
            &nbsp;&nbsp;
            <label ng-if="deploymentMode === 'contentNetwork'"><input type="checkbox" ng-model="options.locationId"/><span class="fa fa-check"></span>Use Location Parameter</label>
        </div>
        <fieldset class="pb-sm">
            <table class="col-sm-12" ng-show="options.dynamicInsertion">
                <thead>
                    <th>Target ID</th>
                    <th>Target Child Index</th>
                </thead>
                <tbody>
                <tr class="align-top">
                    <td class="col-sm-6">
                        <input type="text" data-ng-model="options.targetId" placeholder="cssId" id="targetId" class="form-control">
                    </td>
                    <td class="col-sm-6">
                        <input type="number" data-ng-model="options.targetChildIndex" id="targetChildIndex" class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset class="pb0 mb0">
            <strong>Keywords</strong>
            <p class="form-control-static">
                <input type="text"
                       id="keywords-tagsinput"
                       tagsinput="tagsinput"
                       data-width="100%"
                       ng-model="options.keywords"
                       placeholder="Type a keyword & press Enter.">
            </p>
        </fieldset>
    </form>
    <small class="text-muted">Paste this ad tag directly into your Page or 3rd-party ad-server</small>
    <pre id="adTag">{{ tag }}</pre>
    <div class="row mr0">
        <button class="btn btn-primary btn-xs pull-right" ngclipboard data-clipboard-target="#adTag" ngclipboard-success="copySuccess(e)" analytics-on="click" analytics-event="PlacementTags_CopySuccess">
            <i class="fa fa-clipboard"></i>&nbsp;Copy to Clipboard
        </button>
    </div>
</section>