<button type="button" class="btn btn-labeled btn-primary" ng-click="newPlacement()">
    <span class="btn-label"><i class="fa fa-plus"></i></span>Add a New Placement
</button>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name *</th>
            <th>Dimensions *</th>
            <th>Position *</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="placement in page.placements">
            <td><input type="text" data-ng-model="placement.name" data-parsley-group="{{ wizardstep }}" placeholder="ex. Right Sidebar 300x250" required="required" class="form-control"/></td>
            <td>
                <select name="dimensions" data-ng-model="placement.dimensions" data-parsley-group="{{ wizardstep }}" required="required" class="form-control" ng-options="dim for dim in CREATIVE_SIZES.supported_dimensions">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <select name="position" data-ng-model="placement.pos" data-parsley-group="{{ wizardstep }}" required="required" class="form-control" ng-options="position.code as position.name for position in OPENRTB.positions">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <button type="button" ng-click="removePlacement(placement)" class="btn btn-danger btn-xs"><span class="icon-trash mr"></span>Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>