<button type="button" class="btn btn-labeled btn-primary btn-sm" ng-click="newPlacement()" analytics-on="click" analytics-event="PlacementsForm_NewPlacement">
    <span class="btn-label"><i class="fa fa-plus"></i></span>New Placement
</button>
<div class="table-responsive" ng-show="page.placements && page.placements.length > 0">
    <form id="placementForm">
    <table class="table table-striped">
        <thead>
        <tr>
            <th data-ng-hide="wizardstep"></th>
            <th>Name *</th>
            <th>Type *
                <a href="#" analytics-on="click" ng-click="openTypeDialog()" analytics-event="PlacementForm_PlacementTypeTooltip">
                    <em class="fa fa-question-circle"></em>
                </a>
            </th>
            <th>Dimensions *</th>
            <th>Position *</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="placement in page.placements">
                <td data-ng-hide="wizardstep">
                    <div class="label" ng-class="placement.active ? 'label-success':'label-default'">{{ placement.active ? "Active":"Inactive"}}</div>
                </td>
                <td><input type="text" data-ng-model="placement.name" data-parsley-group="{{ wizardstep }}" placeholder="ex. Right Sidebar 300x250" required="required" class="form-control"/></td>
                <td>
                    <select name="type" data-ng-model="placement.type" data-parsley-group="{{ wizardstep }}" required="required" class="form-control">
                        <option ng-repeat="(type, typeMeta) in PLACEMENT_TYPES" value="{{ type }}">{{ typeMeta.displayName }}</option>
                    </select>
                </td>
                <td>
                    <select ng-disabled="placement.type === 'native'" name="dimensions" data-ng-model="placement.dimensions" data-parsley-group="{{ wizardstep }}" required="required" class="form-control" ng-options="dim for dim in CREATIVE_SIZES.supported_dimensions">
                        <option value=""></option>
                    </select>
                </td>
                <td>
                    <span ng-switch="placement.type">
                        <select ng-switch-when="placement.type === 'native'" name="position" data-ng-model="placement.pos" data-parsley-group="{{ wizardstep }}" required="required" class="form-control" ng-options="position.code as position.name for position in NATIVE_POSITIONS">
                            <option value=""></option>
                        </select>
                        <select ng-switch-default name="position" data-ng-model="placement.pos" data-parsley-group="{{ wizardstep }}" required="required" class="form-control" ng-options="position.code as position.name for position in OPENRTB.positions">
                            <option value=""></option>
                        </select>
                    </span>
                </td>
                <td>
                    <button type="button" ng-click="removePlacement(placement)" class="btn btn-danger btn-xs" analytics-on="click" analytics-event="PlacementsForm_RemovePlacement"><span class="icon-trash mr"></span>Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>
<div ng-show="!page.placements || page.placements.length === 0" class="alert alert-warning text-center m-lg pv-lg">
    No Placements yet, why don't you <a ng-click="newPlacement()" analytics-on="click" analytics-event="PlacementsForm_NewPlacement">create one</a>?
</div>