<div class="m-lg">
    <h3>Billing FAQs</h3>
    <hr class="m-sm">
    <h4>What is your billing cycle?</h4>
    <p>
        <strong>Monthly.</strong> Cliques will generate an invoice on the 1st of each month reflecting
        prior month's billable impressions & applicable fees.
    </p>
    <br>
    <h4>When are payments due?</h4>
    <p>
        <strong>15 days after the invoice date.</strong> The total balance reflected in each invoice is due no later
        than 15 days following the invoice date.
    </p>
    <p>
        If you are using a <strong>credit card</strong>, your card will be billed automatically, so you don't need to worry
        about submitting payments manually.
    </p>
    <p>
        <em>Note: We require Net 15 terms in order to ensure that we can pay Cliques publishers in full no later than 30 days
        after publisher statements are generated.  Cliques doesn't work without happy publishers, and <strong>publishers aren't
        happy if they're getting paid late!</strong></em>
    </p>
    <br>
    <h4>What happens if I'm late on a payment?</h4>
    <p>
        As per section 3.2 of the Advertiser <a href="#!/terms-and-conditions">Terms and Conditions</a>, a late fee shall
        accrue at the rate of the lesser 1.5% per month or the highest legal rate permitted by law.
        In addition, if Client fails to pay fees invoiced by Cliques within thirty (30) days following the payment
        due date, Cliques shall have the right to suspend Client’s access to the Cliques Platform without notice to Client;
        such access not to be reinstated until Client pays all such overdue amounts.
    </p>
    <br>
    <h4>Does Cliques store sensitive credit card information on its servers?</h4>
    <p>
        <strong>Absolutely not.</strong> Cliques uses <a href="https://stripe.com" target="_blank"></a> to validate, store
        & process all credit card information.
    </p>
    <br>
    <h4>What credit cards does Cliques accept?</h4>
    <p>
        Please see <a href="https://support.stripe.com/questions/which-cards-and-payment-types-can-i-accept-with-stripe"
                      target="_blank">
        Stripe's support page</a> for a list of all cards supported.
    </p>
    <h4>Are there any additional fees if I pay with a credit card?</h4>
    <p>
        <strong>Nope!</strong> Really.
    </p>
</div>