<div class="m-lg">
    <h3>Billing FAQs</h3>
    <hr class="m-sm">
    <h4>What is your billing cycle?</h4>
    <p>
        <strong>Monthly.</strong> Cliques will generate an invoice on the 1st of each month reflecting
        prior month's billable impressions & applicable fees.
    </p>
    <br>
    <h4>When do I get paid?</h4>
    <p>
        <strong>Approximately 30 calendar days after each statement posts.</strong>
    </p>
    <p>
        If you have specified a <strong>bank account</strong> for direct deposit via Stripe, Cliques will initiate the transfer
        28 days following each statement date, as Stripe typically takes 2 business days to process transfers to bank accounts.
        As such, it's possible that your deposit might take 31 or 32 calendar days.
    </p>
    <p>
        If you have specified that you'd like to receive your payments via <strong>check</strong>, Cliques will process & mail
        your check 28 days following each statement date.  Cliques is based in Boston, so depending on where the check is
        being mailed, you can expect to receive your check within 3-7 business days after it is mailed.
    </p>
    <br>
    <h4>Does Cliques store sensitive bank account information on its servers?</h4>
    <p>
        <strong>Absolutely not.</strong> Cliques uses <a href="https://stripe.com" target="_blank"></a> to validate, store
        & process all bank account information.
    </p>
    <p>
        Specifically, when you sign up for direct bank deposits, Cliques creates a
        <a href="https://stripe.com/docs/connect/managed-accounts">Stripe Managed Account</a> using the
        <a href="https://stripe.com/connect">Stripe Connect</a> platform.
    </p>
</div>