<div class="col-sm-7">
    <div class="panel">
        <div class="panel-heading">
            Report Settings
        </div>
        <div class="panel-body">
            <div class="col-sm-10">
                <select id="daterange" name="daterange" class="form-control" data-ng-model="range" ng-options="key as value.label for (key, value) in dateRanges"></select>
            </div>
            <custom-dates ng-show="range === 'custom'" width="5" enddatemodel="dates.endDate" startdatemodel="dates.startDate"></custom-dates>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="getStats()" analytics-on="click" analytics-event="NetworkReport_GetStats">Go</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4><i class="icon-book-open"></i>  Publisher Data</h4>
        </div>
        <div class="panel-body">
            <!--BEGIN Data Table-->
            <div ng-hide="pubData">
                <div class="col-md-12">
                    <div class="well">
                        <h3>No Data!</h3>
                        <p>Select reporting dates above and press Go</p>
                    </div>
                </div>
            </div>
            <div ng-show="pubData">
                <table datatable="ng" id="datatable_pub" dt-options="dtOptions_pub" dt-column-defs="dtColumnDefs_pub" dt-instance="dtInstanceCallback" class="row-border hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Imps</th>
                        <th>Spend</th>
                        <th>{{ pricing }}</th>
                        <!--<th>Share %</th>-->
                        <th>Share</th>
                        <th>Net</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in pubData">
                            <td><img ng-src="{{ row._id.publisher.logo_secure_url }}" class="client-logo-xs"/></td>
                            <td style="max-width: 70px; word-wrap: break-word">{{ row._id.publisher.name }}<em ng-hide="row._id.publisher.name">Deleted Publisher!</em></td>
                            <td>{{ row.imps | number: 0 }}</td>
                            <td>{{ row.spend | currency:"$":"0" }}</td>
                            <td>
                                {{ pricing === 'CPC' ? row.spend / row.clicks : row.spend / row.imps * 1000 | currency:"$":"2" }}
                            </td>
                            <!--<td>{{ row._id.publisher.revenue_share | percentage: 1 }}</td>-->
                            <td>{{ row._id.publisher.revenue_share * row.spend | currency:"$":"2" }}</td>
                            <td>{{ row.spend - (row._id.publisher.revenue_share * row.spend) | currency:"$":"2" }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4><i class="icon-bar-chart"></i>  Advertiser Data</h4>
        </div>
        <div class="panel-body">
            <!--BEGIN Data Table-->
            <div ng-hide="advData">
                <div class="col-md-12">
                    <div class="well">
                        <h3>No Data!</h3>
                        <p>Select reporting dates above and press Go</p>
                    </div>
                </div>
            </div>
            <div ng-show="advData">
                <table datatable="ng" id="datatable_adv" dt-options="dtOptions_adv" dt-column-defs="dtColumnDefs_adv" dt-instance="dtInstanceCallback" class="row-border hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Imps</th>
                        <th>Spend</th>
                        <th>{{ pricing }}</th>
                        <!--<th>Fee %</th>-->
                        <th>Fee </th>
                        <th>Gross</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in advData">
                        <td><img ng-src="{{ row._id.advertiser.logo_secure_url }}" class="client-logo-xs"/></td>
                        <td style="max-width: 70px; word-wrap: break-word">{{ row._id.advertiser.name }}<em ng-hide="row._id.advertiser.name">Deleted Advertiser!</em></td>
                        <td>{{ row.imps | number: 0 }}</td>
                        <td>{{ row.spend | currency:"$":"2" }}</td>
                        <td>
                            {{ pricing === 'CPC' ? row.spend / row.clicks : row.spend / row.imps * 1000 | currency:"$":"2" }}
                        </td>
                        <!--<td>{{ row._id.advertiser.advertiser_fee| percentage: 1 }}</td>-->
                        <td>{{ row._id.advertiser.advertiser_fee * row.spend | currency:"$":"2" }}</td>
                        <td>{{ row.spend + (row._id.advertiser.advertiser_fee * row.spend) | currency:"$":"2" }}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="pubTableFooter">
    <th></th>
    <th></th>
    <th>{{ pubSums.imps | number: 0 }}</th>
    <th>{{ pubSums.spend | currency:"$":"0" }}</th>
    <th></th>
    <!--<th></th>-->
    <th>{{ pubSums.fees | currency:"$":"0" }}</th>
    <th>{{ pubSums.gross | currency:"$":"0" }}</th>
</script>

<script type="text/ng-template" id="advTableFooter">
    <th></th>
    <th></th>
    <th>{{ advSums.imps | number: 0 }}</th>
    <th>{{ advSums.spend | currency:"$":"0" }}</th>
    <th></th>
    <!--<th></th>-->
    <th>{{ advSums.fees | currency:"$":"0" }}</th>
    <th>{{ advSums.gross | currency:"$":"0" }}</th>
</script>