<h4>Advertiser Info</h4>
<form name="advertiserBasicsForm" id="advertiserBasicsForm" data-ng-submit="update()">
    <div class="form-horizontal">
        <div class="form-group m0">
            <label class="col-sm-4 control-label" for="name">Name*</label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    <input type="text" ng-model="advertiser.name" name="website" id="name" required="required" class="form-control">
                </p>
            </div>
        </div>
        <div class="form-group m0">
            <label class="col-sm-4 control-label" for="name">Website*</label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    <input type="url" ng-model="advertiser.website" name="website" id="website" required="required" class="form-control">
                </p>
            </div>
        </div>
        <div class="form-group m0">
            <label class="col-sm-4 control-label" for="description">Description</label>
            <div class="col-sm-8">
                <p class="form-control-static">
                    <textarea ng-model="advertiser.description" class="note-editor" name="description" id="description" rows="7" cols="37"></textarea>
                </p>
            </div>
        </div>
        <div class="form-group mb" ng-if="orgIsType('networkAdmin')">
            <label class="col-sm-4 control-label" for="description">Salesperson</label>
            <div class="col-sm-8">
                <select name="salesPersonSelect" id="salesPersonSelect" class="form-control chosen-select" data-ng-model="advertiser.salesperson" ng-options='p._id as (p.firstName + " " + p.lastName) for p in salespeople'>
                    <option value="" selected>---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <button type="submit" class="btn btn-large btn-primary">Save</button>
    </div>
</form>