<div class="pull-right">
    <button type="button" class="btn btn-primary" ng-click="saveDraft()" analytics-on="click" analytics-event="CampaignWizard_SaveDraft"><i class="fa fa-floppy-o"></i> Save Draft</button>
</div>
<form name="campaignForm" data-ng-submit="" form-wizard="" validate-steps="true" validate-form="" steps="5">
    <div class="form-wizard wizard-vertical alt-width">
        <!-- START wizard steps indicator-->
        <ol>
            <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)">
                <h4>1. Basics</h4>
                <small class="text-muted"></small>
            </li>
            <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)">
                <h4>2. Clique</h4>
                <small class="text-muted"></small>
            </li>
            <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)">
                <h4>3. Bids </h4>
                <small class="text-muted"></small>
            </li>
            <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)">
                <h4>4. Creatives</h4>
                <small class="text-muted"></small>
            </li>
            <li ng-class="{'active':wizard.active(5)}" ng-click="wizard.go(5)">
                <h4>5. Submit</h4>
                <small class="text-muted"></small>
            </li>
        </ol>
        <!-- END wizard steps indicator-->

        <!-- START CAMPAIGN inputs -->
        <div id="step1" ng-show="wizard.active(1)">
            <legend>New {{ campaignType | capitalize }} Campaign</legend>
            <fieldset>
                <div class="form-group">
                    <label>Name *</label>
                    <input type="text" name="campaign.name" id="campaign.name" data-ng-model="campaign.name" data-parsley-group="step1" placeholder="Backcountry Stand-Up Fat-Biking Winter 2016" required="required" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="campaign.description" id="campaign.description" data-ng-model="campaign.description" data-parsley-group="step1" placeholder="Optional - describe your campaign" class="form-control" />
                </div>
            </fieldset>
            <fieldset>
                <label>Budget *</label>
                <a href="#" tooltip="{{ TOOLTIPS.budget }}" analytics-on="click" analytics-event="CampaignWizard_TooltipBudget">
                    <em class="fa fa-question-circle"></em>
                </a>
                <div class="input-group">
                    <span class="input-group-addon align-top">$</span>
                    <input type="number" data-parsley-type="integer" name="campaign.budget" id="campaign.budget" data-ng-model="campaign.budget" data-parsley-group="step1" placeholder="10000" class="form-control" required="required"/>
                    <span class="input-group-addon align-top">.00</span>
                </div>
            </fieldset>
            <!--Start Flight Dates Row-->
            <fieldset>
                <div class="row">
                    <flight-dates width="6" wizardstep="step1" enddatemodel="campaign.end_date" startdatemodel="campaign.start_date"></flight-dates>
                </div>
            </fieldset>
            <small class="text-muted">* Required</small>
            <ul class="pager">
                <li class="previous" ng-show="onPrevious">
                    <a href="#" ng-click="onPrevious()" analytics-on="click" analytics-event="CampaignWizard_Previous">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li class="next"><a href="#" ng-click="loadCliqueStep(wizard.go, 2)" analytics-on="click" analytics-event="CampaignSetup_CampaignStep2">Next <span>&rarr;</span></a>
                </li>
            </ul>
        </div>

        <div id="step2" ng-show="wizard.active(2)">
            <legend>Choose a Clique</legend>
            <p class="legend-help-text">
                <em class="text-muted">
                    Why do we make you do this? What the $%&# is a Clique? Read more <a href="http://support.cliquesads.com/article/59-choosing-a-clique" target="_blank" analytics-on="click" analytics-event="CampaignWizard_CliquesDefinition">here</a>
                </em>
            </p>
            <div class="alert alert-success" data-ng-show="campaign.clique"><b>Selected:</b> {{ campaign.clique }}</div>
            <input style="display: None" type="text" name="campaign.clique" id="campaign.clique" data-ng-model="campaign.clique" data-parsley-group="step2" placeholder="{{ campaign.clique }}" required="required" class="form-control" />
            <div class="form-group col-md-5">
                <div class="pb-lg">
                    <tree-expand-toggle-buttons control="my_tree" ng-show="cliques"></tree-expand-toggle-buttons>
                </div>
                <!--controller will lazily load abn-tree directive and inject inside of this div-->
                <div class="text-md" id="cliquesTree"></div>
            </div>
            <div ng-show="campaign.clique" style="max-height: 400px; overflow: auto" class="col-md-7 box-placeholder">
                <!--<h4 class="text-muted">Sites in the {{ campaign.clique }} Clique</h4>-->
                <sites-in-clique-branch clique-id="campaign.clique" size="sm"></sites-in-clique-branch>
                <div ng-show="sites.length == 0" class="text-center">
                    <span class="fa fa-meh-o fa-2x"></span>
                    <h4>Lame</h4>
                    <p>This Clique doesn't have any sites yet. Please stay tuned!</p>
                    <!--<p>Know someone who runs a site that fits this Clique? <a href="#">Refer them and save $100 on your campaign!</a></p>-->
                </div>
            </div>
            <div class="bs-callout bs-callout-primary pl-sm pr-sm col-md-12">
                <h4>Don't worry</h4>
                <p>You can fine tune your site targeting after you've finished setting up your campaign.</p>
            </div>
            <ul class="pager">
                <li class="previous">
                    <a href="#" ng-click="wizard.go(1)" analytics-on="click" analytics-event="CampaignWizard_StepOne">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li class="next"><a href="#" ng-click="wizard.go(3)" analytics-on="click" analytics-event="CampaignSetup_CampaignStep3">Next <span>&rarr;</span></a>
                </li>
            </ul>
        </div>

        <!-- START CAMPAIGN inputs -->
        <div id="step3" ng-show="wizard.active(3)">
            <legend>Bid Settings</legend>
            <p class="legend-help-text"><em class="text-muted">You can set targeting specifics (DMA, Site) later</em></p>
            <br/>
            <!-- START row -->
            <fieldset>
                <label>Base Bid (CPM) *</label>
                &nbsp;&nbsp;&nbsp;
                <a href="#" tooltip="{{ TOOLTIPS.base_bid }}" analytics-on="click" analytics-event="CampaignWizard_TooltipBaseBid">
                    <em class="fa fa-question-circle"></em>
                </a>
                <div class="input-group">
                    <span class="input-group-addon align-top">$</span>
                    <input data-parsley-type="number" name="campaign.base_bid" id="campaign.base_bid" ng-model="campaign.base_bid" placeholder="7.00" data-parsley-group="step3" min="{{ min_base_bid }}" max="{{ max_base_bid }}" class="form-control" required="required"/>
                </div>
                <br/>
                <label>Max Bid (CPM) *</label>
                &nbsp;&nbsp;&nbsp;
                <a href="#" tooltip="{{ TOOLTIPS.max_bid }}" analytics-on="click" analytics-event="CampaignWizard_TooltipMaxBid">
                    <em class="fa fa-question-circle"></em>
                </a>
                <div class="input-group">
                    <span class="input-group-addon align-top">$</span>
                    <input data-parsley-type="number" name="campaign.max_bid" id="campaign.max_bid" ng-model="campaign.max_bid" placeholder="15.00" data-parsley-group="step3" min="{{ campaign.base_bid }}" class="form-control" required="required"/>
                </div>
            </fieldset>
            <ul class="pager">
                <li class="previous">
                    <a href="#" ng-click="wizard.go(2)" analytics-on="click" analytics-event="CampaignWizard_StepTwo">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li class="next"><a href="#" ng-click="wizard.go(4)" analytics-on="click" analytics-event="CampaignSetup_CampaignStep4">Next <span>&rarr;</span></a>
                </li>
            </ul>
        </div>
        <!-- END Wizard Step inputs -->

        <!-- START CREATIVE UPLOAD STEP-->
        <div id="step4" ng-show="wizard.active(4)">
            <legend>Add some creatives</legend>
            <!--<small><em class="text-muted">You can also skip and add these later</em></small>-->
            <tabset>
                <tab heading="Existing Creatives" ng-if="campaign.creatives">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Preview</th>
                                <th>Name</th>
                                <th>Dimensions</th>
                                <th>Click URL</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="creative in campaign.creatives">
                                <td><img ng-src="{{ creative.type === 'native' ? creative.imageUrl : creative.url }}" class="smallthumbnail"/></td>
                                <td>
                                    <input type="text" name="creative.name" data-ng-model="creative.name" data-parsley-group="step4" required="required" class="form-control" />
                                </td>
                                <td><p class="form-control-static">{{ creative.type === 'native' ? "Native" : creative.w + "x" + creative.h }}</td>
                                <td>
                                    <input ng-show="creative.type != 'doubleclick'" type="url" data-parsley-type="url" name="creative.click_url" data-ng-model="creative.click_url" data-parsley-group="step4" required="required" class="form-control" />
                                    <em ng-show="creative.type === 'doubleclick'">Set by DoubleClick</em>
                                </td>
                                <td><button type="button" ng-click="campaign.removeCreative(creative)" class="btn btn-danger btn-xs" analytics-on="click" analytics-event="CampaignWizard_RemoveCreative"><span class="icon-trash mr"></span>Remove</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <tab ng-if="campaign.type === 'native'">
                    <tab-heading>
                        Native <span class="label label-primary">Beta</span>
                    </tab-heading>
                    <div class="row" id="nativeUploader">
                        <native-creative-uploader wizardstep="step4" uploader="nativeUploader" onuploadall="nativeValidateAndUpload(wizard.validateStep(4))" width="12"> </native-creative-uploader>
                    </div>
                </tab>
                <tab heading="Cliques Hosted" ng-if="campaign.type === 'display' || !campaign.type">
                    <div class="row" id="creativeUploader">
                        <creative-uploader wizardstep="step4" uploader="displayUploader" onuploadall="displayValidateAndUpload(wizard.validateStep(4))" width="12"> </creative-uploader>
                    </div>
                </tab>
                <tab heading="DoubleClick" ng-if="campaign.type === 'display' || !campaign.type">
                    <div class="row" id="dcmUploader">
                        <doubleclick-creative-uploader on-upload="onDCMUpload(creatives)"></doubleclick-creative-uploader>
                    </div>
                </tab>
            </tabset>
            <ul class="pager">
                <li class="previous">
                    <a href="#" ng-click="wizard.go(3)" analytics-on="click" analytics-event="CampaignWizard_StepThree">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li class="next" ng-show="campaign.creatives || uploads_completed">
                    <a href="#" ng-click="ingestCreatives(wizard.go, 5)" analytics-on="click" analytics-event="CampaignSetup_CampaignStep5"> Next <span>&rarr;</span></a>
                </li>
            </ul>
        </div>
        <!-- END Wizard Step inputs -->

        <!-- START Wizard Step inputs -->
        <div id="step5" ng-show="wizard.active(5)">
            <legend>Review & Submit</legend>
            <div ng-show="creation_error" class="alert alert-danger col-md-12">{{ creation_error }}</div>
            <fieldset>
                <h5>Campaign Basics&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" ng-click="wizard.go(1)" analytics-on="click" analytics-event="CampaignWizard_StepOne"><span class="fa fa-edit"></span></a></h5>
                <div class="col-sm-4"><b>Name</b></div><div class="col-sm-8">{{ campaign.name }}</div>
                <div class="col-sm-4"><b>Description</b></div><div class="col-sm-8">{{ campaign.description || &apos;empty&apos; }}</div>
                <div class="col-sm-4"><b>Budget</b></div><div class="col-sm-8">{{ campaign.budget | currency:"$":0 }}</div>
                <div class="col-sm-4"><b>Start Date</b></div><div class="col-sm-8">{{ campaign.start_date | date:"shortDate":"EST" }}</div>
                <div class="col-sm-4"><b>End Date</b></div><div class="col-sm-8">{{ campaign.end_date | date:"shortDate":"EST" }}</div>
            </fieldset>
            <fieldset>
                <h5>Campaign Clique&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" ng-click="wizard.go(2)" analytics-on="click" analytics-event="CampaignWizard_StepTwo"><span class="fa fa-edit"></span></a></h5>
                <div class="col-sm-4"><b>Clique</b></div><div class="col-sm-8">{{ campaign.clique }}</div>
            </fieldset>
            <fieldset>
                <h5>Bid Settings&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" ng-click="wizard.go(3)" analytics-on="click" analytics-event="CampaignWizard_StepThree"><span class="fa fa-edit"></span></a></h5>
                <div class="col-sm-4"><b>Base Bid</b></div><div class="col-sm-8">{{ campaign.base_bid | currency:"$":2 }}</div>
                <div class="col-sm-4"><b>Max Bid</b></div><div class="col-sm-8">{{ campaign.max_bid | currency:"$":2 }}</div>
            </fieldset>
            <fieldset>
                <h5>Campaign Creatives&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" ng-click="wizard.go(4)" analytics-on="click" analytics-event="CampaignWizard_StepFour"><span class="fa fa-edit"></span></a></h5>
                <div ng-repeat="creative in campaign.creatives">
                    <div class="col-sm-4 text-center">
                        <div class="col-sm-12"><em>{{ creative.name }} {{ creative.type === 'native' ? '(Native)' : '' }}</em></div>
                        <img ng-src="{{ creative.type === 'native' ? creative.native.imageUrl : creative.url }}" class="smallthumbnail">
                    </div>
                </div>
            </fieldset>
            <ul class="pager">
                <li class="previous">
                    <a href="#" ng-click="wizard.go(4)" analytics-on="click" analytics-event="CampaignWizard_StepFour">
                        <span>&larr; Previous</span>
                    </a>
                </li>
                <li ng-show="loading">
                    <div class="ball-pulse">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </li>
                <li class="next pull-right">
                    <button type="button" class="btn btn-primary" ng-click="submit()" analytics-on="click" analytics-event="CampaignSetup_Submit">Submit</button>
                </li>
            </ul>
        </div>
        <!-- END Wizard Step inputs -->
    </div>
</form>