<div class="panel panel-default">
    <form editable-form name="campaignInline" onaftersave="onaftersave()">
        <div class="panel-heading">
            <div class="pull-right">
                <a href="#" class="pull-right" ng-click="campaignInline.$show()" ng-show="!campaignInline.$visible">
                    <span class="fa fa-edit"></span>
                </a>
            </div>
            <div class="panel-title">
                Campaign Basics
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group m0">
                    <label class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">
                            <span editable-text="campaign.name" e-name="name" e-required>{{ campaign.name }}</span>
                        </p>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-4 control-label">Description</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">
                            <span editable-text="campaign.description" e-name="description" >{{ campaign.description }}</span>
                        </p>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-4 control-label">Budget</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">
                            <span editable-number="campaign.budget" e-name="budget" >{{ campaign.budget| currency:"$":"0"}}</span>
                        </p>
                    </div>
                </div>
                <ng-switch>
                    <div class="form-group m0">
                        <label class="col-sm-4 control-label">Start Date</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{ campaign.start_date | date:"MM/dd/yyyy"}}</p>
                        </div>
                    </div>
                </ng-switch>
            </div>
            <div class="pull-right">
                <!-- buttons to submit / cancel form -->
                <span ng-show="campaignInline.$visible">
                    <button type="submit" class="btn btn-xs btn-primary" ng-disabled="campaignInline.$waiting">
                        Save
                    </button>
                    <button type="button" class="btn btn-xs btn-default" ng-disabled="campaignInline.$waiting" ng-click="campaignInline.$cancel()">
                        Cancel
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>