<div id="wrapper">
    <div class="col-md-12 alert alert-danger" ng-show="saveerror">{{ saveerror }}</div>
    <div class="{{ creative.w < 350 ? 'col-sm-6': 'col-sm-12'}}">
        <h4>Creative Preview</h4>
        <span ng-switch="creative.type">
            <span ng-switch-when="native">
                <div class="alert alert-info mr-lg"><i class="fa fa-warning"></i> This <strong>preview</strong> of your native
                    ad is for demonstrative purposes only. The final appearance of your native ad <strong>will vary by
                    site & placement.</strong></div>
                <native-preview advertiser="advertiser" creative="creative"></native-preview>
            </span>
            <span ng-switch-default>
                <p><small><em class="text-muted">Click to test landing page</em></small></p>
                <iframe id="creativePreview" ng-src="{{ src }}" width="{{ creative.w }}" height="{{ creative.h }}" frameborder='0' scrolling='no'></iframe>
            </span>
        </span>
    </div>
    <div class="col-sm-6">
        <fieldset>
            <h4>Creative Settings</h4>
            <div class="form-horizontal well well-sm">
                <div class="form-group m0">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="#" editable-text="creative.name" onaftersave="update()" e-required analytics-on="click" analytics-event="CreativePreview_UpdateName">{{ creative.name }}</a>
                        </p>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-3 control-label">ID</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {{ creative.id }}
                        </p>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-3 control-label">Status</label>
                    <div class="col-sm-9">
                        <creative-status-switch
                                advertiser="advertiser"
                                campaign="campaign"
                                creativegroup="creativegroup"
                                creative="creative"></creative-status-switch>
                    </div>
                </div>
                <div class="form-group m0" ng-show="creative.type === 'display' || !creative.type">
                    <label class="col-sm-3 control-label">Dimensions</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {{ creative.w }}x{{ creative.h }}
                        </p>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {{ creative.type ? (creative.type | capitalize) : 'Display' }}
                        </p>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-3 control-label">Hosting Type</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            {{ creative.hostingType ? (creative.hostingType | capitalize) : 'Hosted' }}
                        </p>
                    </div>
                </div>
                <div class="form-group m0" style="overflow-wrap: break-word;">
                    <label class="col-sm-3 control-label">Click URL</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="#" editable-url="creative.click_url" onaftersave="update()" ng-show="creative.type != 'doubleclick' && creative.hostingType != 'doubleclick'" e-required analytics-on="click" analytics-event="CreativePreview_UpdateClickUrl">{{ creative.click_url }}</a>
                            <em ng-show="creative.type === 'doubleclick' || creative.hostingType === 'doubleclick'">Set by DoubleClick</em>
                        </p>
                    </div>
                </div>
                <div class="form-group m0" ng-show="creative.type === 'native'" style="overflow-wrap: break-word;">
                    <label class="col-sm-3 control-label">Headline</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="#" editable-textarea="creative.native.headline" e-maxlength="{{ NATIVE_SPECS.headline.maxChars }}" e-minlength="{{ NATIVE_SPECS.headline.minChars }}" e-rows="2" onaftersave="update()" e-required>{{ creative.native.headline }}</a>
                        </p>
                    </div>
                </div>
                <div class="form-group m0" ng-show="creative.type === 'native'" style="overflow-wrap: break-word;">
                    <label class="col-sm-3 control-label">Category</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="#" editable-textarea="creative.native.category" e-maxlength="{{ NATIVE_SPECS.category.maxChars }}" e-minlength="{{ NATIVE_SPECS.category.minChars }}" e-rows="1" onaftersave="update()" e-required>{{ creative.native.category || "None" }}</a>
                        </p>
                    </div>
                </div>
                <div class="form-group m0" ng-show="creative.type === 'native'" style="overflow-wrap: break-word;">
                    <label class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="#" editable-textarea="creative.native.description" e-maxlength="{{ NATIVE_SPECS.description.maxChars }}" e-minlength="{{ NATIVE_SPECS.description.minChars }}" e-rows="2" onaftersave="update()" e-required>{{ creative.native.description }}</a>
                        </p>
                    </div>
                </div>
                <div class="form-group m0">
                    <label class="col-sm-3 control-label">External ID</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="#" editable-text="creative.externalId" onaftersave="update()" analytics-on="click" analytics-event="CreativePreview_UpdateExternalId">{{ creative.externalId || "None" }}</a>
                        </p>
                    </div>
                </div>
                <div class="form-group m0" style="overflow-wrap: break-word;">
                    <label class="col-sm-3 control-label">Imp Tracker</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="#" editable-url="creative.impTracker" onaftersave="update()" analytics-on="click" analytics-event="CreativePreview_UpdateImpTracker">{{ creative.impTracker || "None" }}</a>
                        </p>
                    </div>
                </div>
                <div class="form-group m0" style="overflow-wrap: break-word;">
                    <label class="col-sm-3 control-label">Click Tracker</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            <a href="#" editable-url="creative.clickTracker" onaftersave="update()" analytics-on="click" analytics-event="CreativePreview_UpdateClickTracker">{{ creative.clickTracker || "None" }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>