<div class="text-md mt">
	<p>By clicking this you are modifying bids for <strong>all regions & cities in {{ countryNode.name }}</strong>.</p>
	<p>You can still customize bids at a more granular level by adding regions from the map in the future.</p>
</div>
<div class="row mt-xl">
	<div class="col-sm-6">
		<button class="btn btn-primary btn-block text-md"
			ng-click="showSlider()">
			OK
		</button>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-default btn-block text-md"
			ng-click="cancel()">
			Cancel
		</button>
	</div>
</div>