<div class="text-md mt">
	<p>By clicking this you are modifying bids for all regions & cities in <strong>{{ countryNode.name }}</strong>.</p>
	<p>You can still customize bids at a more granular level by adding regions from the map in the future</p>
</div>
<div class="row mt-xl">
	<div class="col-sm-6">
		<button class="btn btn-success btn-block text-md"
			ng-click="showSlider()">
			Customize Bidding <i class="fa fa-sliders"></i>	
		</button>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-danger btn-block text-md"
			ng-click="cancel()">
			Cancel <i class="fa fa-ban"></i>
		</button>
	</div>
</div>