<h4>Creatives</h4>
<div class="col-md-12 alert alert-danger" ng-show="saveerror">{{ saveerror }}</div>
<p>
    <button type="button" class="btn btn-labeled btn-primary" ng-click="formVisible = !formVisible">
        <div ng-show="!formVisible"><span class="btn-label"><i class="fa fa-plus"></i></span>Add New Creative</div>
        <div ng-show="formVisible"><span class="btn-label"><i class="fa fa-minus"></i></span>Hide</div>
    </button>
</p>
<fieldset ng-show="formVisible">
    <tabset>
        <tab heading="Cliques Hosted">
            <div class="row">
                <creative-uploader uploader="uploader" onuploadall="validateAndUpload(validateQueue())" width="12"> </creative-uploader>
            </div>
        </tab>
        <tab heading="DoubleClick">
            <doubleclick-creative-uploader campaign="campaign" on-processing-complete="onProcessingComplete()"></doubleclick-creative-uploader>
        </tab>
    </tabset>
</fieldset>
<fieldset>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>Name</th>
                    <th>Dimensions</th>
                    <th>Click URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody ng-repeat="creativegroup in campaign.creativegroups">
                <tr ng-repeat="creative in creativegroup.creatives">
                    <td><img src="{{ creative.url }}" class="smallthumbnail"/></td>
                    <td><p class="form-control-static"><a href="#" editable-text="creative.name" onaftersave="update()" e-required>{{ creative.name }}</a></p></td>
                    <td><p class="form-control-static">{{ creative.w }}x{{ creative.h }}</td>
                    <td>
                        <p class="form-control-static">
                            <a href="#" editable-url="creative.click_url" onaftersave="update()" ng-show="creative.type != 'doubleclick'" e-required>{{ creative.click_url }}</a>
                            <em ng-show="creative.type === 'doubleclick'">Set by DoubleClick</em>
                        </p>
                    </td>
                    <td><button type="button" ng-click="remove(creativegroup, creative)" class="btn btn-danger btn-xs"><span class="icon-trash mr"></span>Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
<!--<div class="text-center">-->
    <!--<button type="button" ng-click="updateAndClose()" class="btn btn-info btn-large">Save</button>-->
<!--</div>-->