<div class="col-md-{{ width }}">
    <label>Start Date *</label>
    &nbsp;&nbsp;&nbsp;
    <a href="#" tooltip="What day do you want your campaign to start?" analytics-on="click" analytics-event="FlightDates_TooltipCampaignStart">
        <em class="fa fa-question-circle"></em>
    </a>
    <div class="input-group">
        <input type="text" name="start_date" id="start_date" data-ng-model="startdatemodel" is-open="calendar.opened.start_date" datepicker-popup="yyyy-MM-dd"  min-date="calendar.today" placeholder="yyyy-MM-dd" datepicker-options="calendar.dateOptions" class="form-control" required="required" close-text="Close"/>
        <!--Button to enable popup Angular UI datepicker-->
        <span class="input-group-btn align-top">
             <button type="button" ng-click="calendar.open($event,'start_date')" class="btn btn-default" analytics-on="click" analytics-event="FlightDates_OpenStartDate">
                 <em class="fa fa-calendar"></em>
             </button>
        </span>
    </div>
    <!--<span ng-show="validateInput('campaign.budget', 'number')" class="text-danger ng-hide">This field must be a valid number</span>-->
</div>
<div class="col-md-{{ width }}">
    <label>End Date *</label>
    &nbsp;&nbsp;&nbsp;
    <a href="#" tooltip="What day do you want your campaign to end?" analytics-on="click" analytics-event="FlightDates_TooltipCampaignEnd">
        <em class="fa fa-question-circle"></em>
    </a>
    <div class="input-group">
        <input type="text" name="end_date" id="end_date" data-ng-model="enddatemodel" is-open="calendar.opened.end_date" datepicker-popup="yyyy-MM-dd" min-date="startdatemodel" data-parsley-mindate="{{ calendar.today }}" placeholder="yyyy-MM-dd" datepicker-options="dateOptions" class="form-control" required="required" close-text="Close"/>
        <!--Button to enable popup Angular UI datepicker-->
        <span class="input-group-btn align-top">
            <button type="button" ng-click="calendar.open($event, 'end_date')" class="btn btn-default" analytics-on="click" analytics-event="FlightDates_OpenEndDate">
                <em class="fa fa-calendar"></em>
            </button>
        </span>
    </div>
    <!--<span ng-show="validateInput('campaign.budget', 'number')" class="text-danger ng-hide">This field must be a valid number</span>-->
</div>