<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody tree-dnd-nodes>
		<tr tree-dnd-node="node"
			ng-repeat="node in tree_nodes track by node.__hashKey__"
			ng-if="node.__visible__ && node.__searchVisibility__"
			ng-class="node.__isSearchResult__ ? 'success' : ''">
			<!-- Node name -->
			<td tree-dnd-node-handle
				ng-style="{'padding-left': $callbacks.calsIndent(node.__level__)}"
				class="v-middle">
				<span ng-switch on="node.nodeType">
					<span ng-switch-when="Country">
						<h4>
							<a data-nodrag
								ng-if="node.__children__.length > 0">
								<i ng-class="node.__icon_class__"
									ng-click="toggleExpand(node)"
									class="tree-icon">
								</i>
							</a>
							<a data-nodrag
								ng-if="!node.__children__ || node.__children__.length === 0">
								<i class="fa fa-lg fa-map-marker"></i>
							</a>
							{{node.name}} ({{node.__children__.length }} Region{{node.__children__.length != 1 ? 's': null}})
						</h4>	
					</span>	
					<span ng-switch-when="Region">
						<strong>
							<a data-nodrag
								ng-if="node.__children__.length > 0">
								<i ng-class="node.__icon_class__"
									ng-click="toggleExpand(node)"
									class="tree-icon">
								</i>	
							</a>
							<a data-nodrag
								ng-if="!node.__children__ || node.__children__.length === 0">
								<i class="fa fa-lg fa-map-marker"></i>
							</a>
							{{node.name}} ({{node.__children__.length}} {{node.__children__.length != 1 ? 'Cities':'City'}})
						</strong>
					</span>
					<span ng-switch-when="City">
						<a data-nodrag>
							<i class="fa fa-lg fa-map-marker"></i>
						</a>
						{{node.name}}
					</span>
				</span>
			</td>
			<!-- Actions -->
			<td>
				<button type="button"
					class="btn btn-xs bg-gray-light"
					ng-click="blocked_geos.control.remove(node)"
					tooltip="Unblock">	
					<i class="fa fa-lg fa-remove"></i>
				</button>
			</td>
		</tr>	
	</tbody>
</table>