<table class="table">
	<thead>
		<tr>
			<th ng-class="expandingProperty.titleClass"
				ng-style="expandingProperty.titleStyle"
				compile="expandingProperty.titleTemplate">
				{{expandingProperty.displayName || expandingProperty.field || expandingProperty}}	
			</th>
			<th ng-repeat="col in colDefinitions"
				ng-class="col.titleClass"
				ng-style="col.titleStyle"
				compile="col.titleTemplate">
				{{col.displayName || col.field}}	
			</th>
		</tr>
	</thead>
	<tbody tree-dnd-nodes>
		<tr tree-dnd-node="node"
			ng-repeat="node in tree_nodes track by node.__hashKey__"
			ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__"
			ng-class="enabledFilter ? (node.__filtered__ === true? 'success': '') : (node.__selected__ ? ' active' : '')">
			<td tree-dnd-node-handle
				ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"
				ng-class="expandingProperty.cellClass">
				<a ng-show="node.nodeType != 'Country'"
					data-nodrag
					analytics-on="click"
					analytics-event="GeoTreeTableDnd_ToggleExpand">
					<i ng-class="node.__icon_class__"
						ng-click="toggleExpand(node)"
						class="tree-icon">
					</i>	
				</a>				
				<span ng-switch on="node.nodeType">
					<span ng-switch-when="Country">
						<h4>
							<a data-nodrag>
								<i ng-class="node.__icon_class__"
									ng-click="toggleExpand(node)"
									class="tree-icon">
								</i>
							</a> <span ng-click="onSelect(node)">{{node[expandingProperty.field] || node[expandingProperty]}} ({{node.__children__.length }} Region{{node.__children__.length != 1 ? 's': null}})</span>
						</h4>	
					</span>	
					<span ng-switch-when="Region">
						<strong>
							<span ng-click="onSelect(node)">
								{{node[expandingProperty.field] || node[expandingProperty]}} ({{node.__children__.length}} City{{node.__children__.length != 1 ? 's':null}})
							</span>
						</strong>
					</span>
					<span ng-switch-when="City">
						<i class="fa fa-map-maker"></i> {{node[expandingProperty.field] || node[expandingProperty]}}
						<p>
							<em class="text-muted">
								{{ positions(node.pos).name }}
							</em>
						</p>
					</span>
				</span>
			</td>
			<td ng-repeat="col in colDefinitions"
				ng-class="col.cellClass"
				ng-style="col.cellStyle"
				compile="col.cellTemplate">
				{{node[col.field]}}	
			</td>
		</tr>	
	</tbody>
</table>