<div class="col-md-{{ width }}">
    <div ng-show="creative_upload_error" class="alert alert-danger">{{ creative_upload_error }}</div>
    <div class="row">
        <div nv-file-drop="" uploader="uploader">
            <div ng-show="uploader.isHTML5">
                <div nv-file-over="" uploader="uploader" over-class="bg-info" class="box-placeholder my-drop-zone">
                    <h4><i class="fa fa-table"></i> Drag Excel / CSV Files Here</h4>
                    <p><small class="text-muted">Supported File Types: <em>.xls .xlsx .csv</em></small></p>
                    <p><strong>Spreadsheet format:</strong></p>
                    <div class="table-responsive table-striped table-bordered table-hover">
                        <table class="table">
                            <thead>
                                <th>image_url*</th>
                                <th>headline*</th>
                                <th>description*</th>
                                <th>click_url*</th>
                                <th>name</th>
                                <th>category</th>
                                <th>imp_tracker</th>
                                <th>click_tracker</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Absolute URL to JPEG or PNG image asset.
                                    </td>
                                    <td>
                                        Min {{ NATIVE_SPECS.headline.minChars }} characters; max {{ NATIVE_SPECS.headline.maxChars }}
                                    </td>
                                    <td>
                                        Min {{ NATIVE_SPECS.description.minChars }} characters; max {{ NATIVE_SPECS.description.maxChars }}
                                    </td>
                                    <td>
                                        URL to redirect to on click, i.e. your landing page.
                                    </td>
                                    <td>
                                        <strong>Optional</strong> Name of creative. Defaults to image filename if blank.
                                    </td>
                                    <td>
                                        <strong>Optional</strong> Category name to use for this creative. Defaults to <strong>Sponsored</strong> if left blank.
                                    </td>
                                    <td>
                                        <strong>Optional</strong> 3rd party impression tracker URL.
                                    </td>
                                    <td>
                                        <strong>Optional</strong> 3rd party click tracker URL.
                                    </td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<small>-->
                                            <!--<i><strong>Example:</strong> https://example.com/myimage.jpg</i>-->
                                        <!--</small>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<small>-->
                                            <!--<i><strong>Example:</strong> 10 Things You Didn't Know About Ardvarks</i>-->
                                        <!--</small>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<small>-->
                                            <!--<i>-->
                                                <!--<strong>Example:</strong> Here's a list of 10 things you didn't know about ardvarks,-->
                                                <!--please read it in all of its glory.-->
                                            <!--</i>-->
                                        <!--</small>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<small>-->
                                            <!--<i>-->
                                                <!--<strong>Example:</strong> https://ardvarks.com/sweet-offer?utm_source=Cliques&utm_medium=native-->
                                            <!--</i>-->
                                        <!--</small>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<small>-->
                                            <!--<i>-->
                                                <!--<strong>Example:</strong> 10 Things About Ardvarks-->
                                            <!--</i>-->
                                        <!--</small>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<small>-->
                                            <!--<i><strong>Example:</strong> Ardvarks</i>-->
                                        <!--</small>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<small>-->
                                            <!--<i>-->
                                                <!--<strong>Example:</strong> http://us.doubleclick.net/imp/stuff-->
                                            <!--</i>-->
                                        <!--</small>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<small>-->
                                            <!--<i>-->
                                                <!--<strong>Example:</strong> http://us.doubleclick.net/clk/stuff-->
                                            <!--</i>-->
                                        <!--</small>-->
                                    <!--</td>-->
                                <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <input filestyle="" type="file" data-button-text="Or select from your files" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="uploader" class="form-control" />
        </div>
    </div>
    <br/>

    <div id="xlsx"></div>
</div>