<span class="col-sm-12">
    <!--TODO: min & max length here should be set by NATIVE_SPECS but two-way binding completely -->
    <!--TODO: breaks validation and there's no apparent reason why, so they're hardcoded for now.-->
    <textarea ng-model="ngModel"
              id="{{ inputId }}"
              name="{{ inputId }}"
              ng-maxlength="170"
              ng-minlength="70"
              data-parsley-group="{{ wizardstep }}"
              rows="{{ rows }}"
              ng-required="true"
              placeholder="Min {{ NATIVE_SPECS.description.minChars }} characters, Max {{ NATIVE_SPECS.description.maxChars }}."
              class="note-editor" >
    </textarea>
</span>
<span class="col-sm-12">
    <small ng-class="NATIVE_SPECS.description.minChars <= form[inputId].$viewValue.length
                    && form[inputId].$viewValue.length <= NATIVE_SPECS.description.maxChars ?
                    'text-success' : 'text-danger'">
        Current length: <strong>{{ form[inputId].$viewValue.length || 0 }}</strong>
    </small>
</span>