<br/>
<div class="jumbotron bg-green text-center">
    <div class="row">
        <p class="lead">
            <i class="fa fa-lg fa-birthday-cake"></i> Hooray! Your campaign has been created.
        </p>
    </div>
</div>
<h3>What Happens Now?</h3>
<p>We will review your campaign to make that sure everything looks good.</p>
<p>Once the review is complete, you'll receive an email from a member of our Support Team letting you know that your campaign has been activated.</p>
<em class="text-muted">Estimated review time: <strong>{{ ngDialogData.review_time }}</strong></em>