<h4> Site Targeting for {{ advertiser.name }}</h4>
<fieldset>
    <div ng-show="saveerror" class="alert alert-danger col-md-12">{{ saveerror }}</div>
    <div>
        <div class="well well-sm">
            <p><strong><span class="fa fa-question-circle fa-lg text-muted"></span>  Tips</strong></p>
            <p class="text-muted">If you really really want a specific site, page or placement, bid high for it! You'll only pay as much as the second-highest bidder.</p>
            <p class="text-muted">If no individual bids are set, the default bid is your base bid <strong>({{ campaign.base_bid | currency : "$" : 2 }}).</strong></p>
            <p class="text-muted">If you really DON'T want a site, bid $0 for it. Also, <a href="mailto:support@cliquesads.com">tell us</a>, because we don't want this to be the case.</p>
        </div>
        <site-tree sites="sites" campaign="campaign"></site-tree>
    </div>
</fieldset>
<div class="text-center">
    <button type="button" ng-click="updateAndClose()" class="btn btn-info btn-large" analytics-on="click" analytics-event="PlacementTargets_UpdateAndClose">Save</button>
</div>