<table ng-class="$tree_class">
    <thead>
        <tr>
            <th ng-class="expandingProperty.titleClass" ng-style="expandingProperty.titleStyle"
                compile="expandingProperty.titleTemplate">
                {{expandingProperty.displayName || expandingProperty.field || expandingProperty}}
            </th>
            <th ng-repeat="col in colDefinitions" ng-class="col.titleClass" ng-style="col.titleStyle" compile="col.titleTemplate">
                {{col.displayName || col.field}}
            </th>
        </tr>
    </thead>
    <tbody tree-dnd-nodes>
        <tr tree-dnd-node="node" ng-repeat="node in tree_nodes track by node.__hashKey__ "
            ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__"
            ng-class="enabledFilter ? (node.__filtered__ === true? 'success': '') : (node.__selected__ ? ' active':'')"
            ng-click="onSelect(node)">
            <td tree-dnd-node-handle
                ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"
                ng-class="expandingProperty.cellClass">
                <a ng-show="node.nodeType != 'Clique'" data-nodrag>
                    <i ng-class="node.__icon_class__" ng-click="toggleExpand(node)" class="tree-icon"></i>
                </a>
                <span ng-switch="node.nodeType">
                    <span ng-switch-when="Clique">
                        <h4>
                            <a data-nodrag>
                                <i ng-class="node.__icon_class__" ng-click="toggleExpand(node)" class="tree-icon"></i>
                            </a> {{node[expandingProperty.field] || node[expandingProperty]}} ({{ node.__children__.length }} Site{{node.__children__.length != 1 ? 's': null}})
                        </h4>
                    </span>
                    <span ng-switch-when="Site">
                        <img ng-src="{{ node.logo_secure_url }}" ng-class="expandingProperty.logoSize === 'xs' ? 'client-logo-xs' : 'client-logo-sm'" ng-click="getSiteDescription(node)"/>
                        <strong ng-click="getSiteDescription(node)"> {{node[expandingProperty.field] || node[expandingProperty]}} ({{ node.__children__.length }} Page{{node.__children__.length != 1 ? 's': null}})</strong>
                        &nbsp;<a href="#" ng-click="getSiteDescription(node)"><i class="fa fa-info-circle"></i></a>
                    </span>
                    <span ng-switch-when="Page">
                        <i class="fa fa-file"></i> {{node[expandingProperty.field] || node[expandingProperty]}} ({{ node.__children__.length }} Placement{{node.__children__.length != 1 ? 's': null}})
                        &nbsp;<a href="{{ node.url }}" ng-show="node.url" class="fa fa-external-link" target="_blank" tooltip="Go to URL"></a>
                    </span>
                    <span ng-switch-when="Placement">
                        {{node[expandingProperty.field] || node[expandingProperty]}}
                        <p><em class="text-muted">{{ node.w }}{{ node.w ? "x" : null }}{{ node.h }} {{ positions(node.pos).name }}</em></p>
                    </span>
                </span>
            </td>
            <td ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle" compile="col.cellTemplate">
                {{node[col.field]}}
            </td>
        </tr>
    </tbody>
</table>