// Overwrite @aside-bg in theme-f.less to change background color of sidebar
@aside-bg: rgba(58, 63, 81, 0.6);
.sidebar-footer {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	color: white;
}
.margin-top-16 {
	margin-top: 16px;
}
.margin-right-16 {
	margin-left: 16px;
}