<div ng-switch on="$state.$current.self.name">
    <div ng-switch-default>
        <!-- View hook for child views -->
        <section data-ui-view="titleBar"></section>
    </div>
    <div ng-switch-when="app.advertiser.allAdvertisers.viewAdvertiser.viewCampaign">
        <h3 class="ml-sm">
            <logo-widget model="advertiser" size="sm" oncompleteall="update()" onremove="update()"></logo-widget>
            {{ campaign.name }}
            <span class="pull-right" style="font-weight: normal">
                <i class="{{ CLIQUE_ICON_CLASSES[campaign.clique] }}"></i>
                {{ campaign.clique }}
            </span>
        </h3>

    </div>
</div>