<div ng-switch on="$state.$current.self.name">
    <div ng-switch-default>
        <!-- View hook for child views -->
        <section data-ui-view="titleBar"></section>
    </div>
    <div ng-switch-when="app.advertiser.allAdvertisers.viewAdvertiser">
        <h3 class="ml-sm">
            <logo-widget model="advertiser" size="sm" oncompleteall="update()" onremove="update()"></logo-widget>
            {{ advertiser.name }}
            <a href="#" ng-click="advertiserBasics()" tooltip="Edit Advertiser Details"><small><i class="fa fa-pencil-square-o"></i></small></a>
        </h3>
    </div>
</div>