<!--BEGIN Billing History Panel-->
<div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="h4"><strong>Payment History</strong></span>
                <span class="pull-right">Current Balance: {{ organization.accountBalance | currency : "$" : 2 }}</span>
            </div>
        </div>
        <div class="panel-body pt0">
            <div class="box-placeholder text-center pv-lg" data-ng-if="payments.$resolved && !payments.length">
                <p class="text-md"><strong>No statements are available yet for your account.</strong></p>
                <p>Statements are generated 1st of each month, and reflect the previous
                    calendar month's billable impressions & terms.</p>
            </div>
            <div class="table-responsive" data-ng-if="payments.$resolved && payments.length">
                <table class="table table-striped">
                    <thead>
                        <th>Statement Date</th>
                        <th>Period</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in payments">
                        <td><a href="{{ p.invoiceUrl }}" target="_blank">{{ p.tstamp | date : "longDate" : "UTC" }}</a></td>
                        <td>{{ p.start_date | date: "shortDate" : "UTC"}} to {{ p.end_date | date: "shortDate" : "UTC"}}</td>
                        <td>{{ p.totalAmount | currency: "$" : 2 }} </td>
                        <td>
                            <div class="label" ng-class="{'label-warning': p.status == 'Pending', 'label-danger': p.status == 'Overdue', 'label-success': p.status == 'Paid' }">
                                {{ p.status }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--BEGIN Billing Preference Panel-->
<div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="h4">Billing Preference</span>
                <span class="pull-right"><a href="#" ng-click="openFaqs()"><i class="fa fa-question-circle"></i> Billing FAQs</a></span>
            </div>
        </div>
        <div class="panel-body pt0">
            <div class="box-form">
                <ol>
                    <!--BEGIN Check Option-->
                    <li ng-class="{'active':organization.billingPreference === 'Check'}" ng-click="organization.billingPreference = 'Check'; showStripeForm = false">
                        <div class="radio c-radio">
                            <label>
                                <input type="radio" ng-model="organization.billingPreference" value="Check">
                                <span class="fa fa-circle"></span>
                            </label>
                            <h4><i class="fa fa-envelope"></i>  Check</h4>
                            <p>Mail a check for each billing cycle.  All checks must be received <strong>15 days</strong> after your statement posts in order to maintain service. Late fees apply.</p>
                        </div>
                    </li>
                    <!--BEGIN CreditCard Option-->
                    <li ng-class="{'active':organization.billingPreference === 'Stripe'}" ng-click="organization.billingPreference = 'Stripe'">
                        <div class="radio c-radio">
                            <label>
                                <input type="radio" ng-model="organization.billingPreference" value="Stripe">
                                <span class="fa fa-circle"></span>
                            </label>
                            <h4>
                                <i class="fa fa-lg fa-credit-card"></i> Credit/Debit Card (preferred)
                            </h4>
                        </div>
                        <p>Your card gets billed automatically 15 days after each monthly statement posts.</p>
                        <p>
                            <span ng-show="defaultCard">
                                <strong>Primary Card:</strong>
                                <card-brand-logo brand="defaultCard.brand" size-cls="fa-lg"></card-brand-logo>
                                &nbsp;
                                ************{{ defaultCard.last4 }}, Exp. {{ defaultCard.exp_month }}/{{ defaultCard.exp_year }}
                                &nbsp;&nbsp;
                                <button type="button" ng-show="organization.billingPreference === 'Stripe'"
                                        class="btn btn-labeled btn-default btn-sm"
                                        ng-click="showStripeForm = !showStripeForm; overrideSave = showStripeForm;">
                                    <span class="btn-label">
                                        <i ng-hide="showStripeForm" class="fa fa-pencil"></i>
                                        <i ng-show="showStripeForm" class="fa fa-minus-square"></i>
                                    </span>
                                    <span ng-hide="showStripeForm">Change Card</span>
                                    <span ng-show="showStripeForm">Hide Form</span>
                                </button>
                            </span>
                            <span ng-show="!defaultCard && organization.billingPreference == 'Stripe'">
                                <em>No cards saved.</em>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-labeled btn-default btn-sm"
                                        ng-click="showStripeForm = !showStripeForm; overrideSave = showStripeForm;">
                                    <span class="btn-label">
                                        <i ng-hide="showStripeForm" class="fa fa-plus"></i>
                                        <i ng-show="showStripeForm" class="fa fa-minus-square"></i>
                                    </span>
                                    <span ng-hide="defaultCard">Add a Card</span>
                                    <span ng-show="showStripeForm">Hide Form</span>
                                </button>
                            </span>
                        </p>
                    </li>
                </ol>
            </div>
            <!--BEGIN Stripe Credit Card Form-->
            <div ng-show="showStripeForm" class="well well-sm m-lg p-lg">
                <stripe-credit-card-form on-save="addToken(status, response)"></stripe-credit-card-form>
            </div>
            <div class="row p-lg" ng-show="allowSave && !overrideSave">
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-primary btn-large" ng-click="updateOrganization()">Save</button>
                    <button type="button" class="btn btn-default btn-large" ng-click="reset()">Cancel</button>
                </div>
            </div>
            <div ng-show="loading">
                <div class="ball-pulse">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>