.screenshot-container {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0px -17px;
	.screenshot-block {
		border: 1px solid @panel-default-border;
		background-color: rgba(255, 255, 255, 1);
		text-align: center;
		height: 320px;
		margin: 25px 12px 0px;
		padding: 15px;
		img {
			margin-top: 30px;
			max-height: 100px;
		}
	}
}