<section>
	<div class="hint actionbeacon-hint">
		<div>
			<h2 class="cliquesicons-action-beacon"></h2>
		</div>
		<div class="hint-content">
			<strong>Action beacons</strong> (A.K.A "tracking pixels" or "conversion pixels") are invisible 1x1 pixels that can be installed on any page to let you track downstream actions users take on your website.
			<br/><br/>
			For example, if you want to track	how many people who clicked on your Cliques ads later added items to their shopping cart on your site, you would create an action beacon called <strong>Add to Cart</strong> and place it in the code controlling your add to cart button. For more information, <a href="">please see our support center.</a>
		</div>
	</div>

	<!-- Screenshot filters -->
	<div class="bg-gray-lighter ph">
		<div class="row mb pt">
			<!-- Filter by campaign dropdown list -->
			<div class="form-horizontal col-sm-5">
				<div class="form-group">
					<label for="campaignFilter" class="col-sm-2 text-md text-right mt-sm">Campaign</label>
					<div class="col-sm-10">
						<select name="campaignFilter" class=" form-control chosen-select" ng-model="filterCampaign" ng-options="campaign.name for campaign in filter.campaigns" ng-change="filterChanged()">
							<option value="" selected>Select campaign to filter</option>
						</select>
					</div>
				</div>
			</div>

			<!-- Filter by site dropdown list -->
			<div class="form-horizontal col-sm-5">
				<div class="form-group">
					<label for="siteFilter" class="col-sm-2 text-md text-right mt-sm">Site</label>
					<div class="col-sm-10">
						<select name="siteFilter" class=" form-control chosen-select" ng-model="filterSite" ng-options="site.name for site in filter.sites" ng-change="filterChanged()">
							<option value="" selected>Select site to filter</option>
						</select>
					</div>
				</div>
			</div>

			<div class="col-sm-2">
				<button type="button" class="btn btn-primary btn-block" ng-click="clearFilters()">Clear Filters</button>
			</div>

		</div>
	</div>

	<div class="screenshot-container">
		<div class="col-md-3 col-sm-4 col-xs-5"
			ng-repeat="screenshot in screenshots">
			<div class="screenshot-block"
				ng-click="viewScreenshot(screenshot)">
				<div>
					<img src="{{ screenshot.image_url }}" alt="Screenshot">
				</div>	
			</div>	
		</div>
		<div class="col-md-offset-4 col-md-4 text-center mv-lg pv-xl" ng-hide="screenshotRequest.$resolved">
			<div class="panel">
				<div class="panel-body text-center">
					<div class="ball-clip-rotate-pulse" style="display: inline-block">
						<div></div>
						<div></div>
					</div>
					<h4>Loading more screenshots...</h4>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="screenshots.length === 0 && screenshotRequest.$resolved" class="box-placeholder text-center mv-lg pv-xl">
		<h4>No Screenshots yet.</h4>
	</div>
</section>
