<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fa fa-info-circle"></i> Screenshot Info
            <div class="pull-right">
                <a href="#" tooltip="Report this screenshot" ng-click="reportScreenshotDialog(screenshot)" analytics-on="click" analytics-event="ViewScreenshot_ReportScreenshotDialog"><i class="fa fa-exclamation-triangle"></i></a>
            </div>
        </h4>
        <hr class="pt0 pb0 mt0 mb0"/>
    </div>
    <div class="panel-body mt-sm ml-lg pt0">
        <div class="row">
            <div class="col-md-6">
                <small class="text-muted"><i class="fa fa-clock-o"></i> Date/Time Captured</small>
                <p class="mt-sm">{{ screenshot.tstamp | date: "medium" : tz }} {{ tz }}</p>
            </div>
            <div class="col-md-6">
                <p class="m0"><small class="text-muted"><i class="fa fa-globe"></i> URL</small></p>
                <div class="col-sm-10 pl0">
                    <pre class="p-sm" id="url"><small>{{ screenshot.url }}</small></pre>
                </div>
                <div class="col-sm-2 text-center">
                    <a class="btn btn-primary btn-xs pb-sm pt-sm mr-sm" target="_blank" href="{{ screenshot.url }}" tooltip="Go to URL" analytics-on="click" analytics-event="ViewScreenshot_GoToURL"><i class="fa fa-lg fa-external-link"></i></a>
                    <a class="btn btn-primary btn-xs pb-sm pt-sm" ngclipboard data-clipboard-target="#url" ngclipboard-success="copySuccess(e)" href="#" tooltip="Copy URL to Clipboard" analytics-on="click" analytics-event="ViewScreenshot_CopyURLToClipboard"><i class="fa fa-lg fa-clipboard"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Begin collapsible Publisher details sub-panel-->
            <div class="col-md-6">
                <small class="text-muted"><i class="icon-book-open"></i> Publisher Details</small>
                <div class="panel panel-default panel-big-border" id="publisherPanel">
                    <div class="panel-heading" ng-class="{'panel-heading-collapsed':publisherPanel}">
                        <paneltool tool-collapse="tool-collapse" ng-init="publisherPanel=false"></paneltool>
                        <logo-widget model="site" size="xs" deactivate-uploader="true"></logo-widget>
                        <strong>
                            <!--Switch link destination depending on user.effectiveOrgType-->
                            <span ng-switch="user.organization.effectiveOrgType">
                                <span ng-switch-when="publisher">
                                    <a href="/#!/publisher/{{ publisher._id }}/site/{{ site._id }}" analytics-on="click" analytics-event="ViewScreenshot_VisitPublisherSite">{{ site.name }}</a>
                                </span>
                                <span ng-switch-default>
                                    <a href="/#!/browse-sites/{{ site._id }}" analytics-on="click" analytics-event="ViewScreenshot_VisitSite">{{ site.name }}</a>
                                </span>
                            </span>
                        </strong>
                    </div>
                    <div collapse="publisherPanel" class="panel-wrapper">
                        <div class="panel-body pt0">
                            <small class="text-muted">Publisher</small>
                            <p class="mb0">
                                <span ng-switch="user.organization.effectiveOrgType">
                                    <span ng-switch-when="publisher">
                                        <a href="/#!/publisher/{{ publisher._id }}" analytics-on="click" analytics-event="ViewScreenshot_VisitPublisher">{{ publisher.name }}</a>
                                    </span>
                                    <span ng-switch-default>
                                        {{ publisher.name }}
                                    </span>
                                </span>
                            </p>
                            <small class="text-muted">Site</small>
                            <p class="mb0">
                                <span ng-switch="user.organization.effectiveOrgType">
                                    <span ng-switch-when="publisher">
                                        <a href="/#!/publisher/{{ publisher._id }}/site/{{ site._id }}" analytics-on="click" analytics-event="ViewScreenshot_VisitPublisherSite">{{ site.name }}</a>
                                    </span>
                                    <span ng-switch-default>
                                        <a href="/#!/browse-sites/{{ site._id }}" analytics-on="click" analytics-event="ViewScreenshot_VisitSite">{{ site.name }}</a>
                                    </span>
                                </span>
                            </p>
                            <small class="text-muted">Page</small>
                            <p class="mb0">
                                <span ng-switch="user.organization.effectiveOrgType">
                                    <span ng-switch-when="publisher">
                                        <a href="/#!/publisher/{{ publisher._id }}/site/{{ site._id }}/page/{{ page._id }}" analytics-on="click" analytics-event="ViewScreenshot_VisitPublisherPage">{{ page.name }}</a>
                                    </span>
                                    <span ng-switch-default>
                                        {{ page.name }}
                                    </span>
                                </span>
                            </p>
                            <small class="text-muted">Placement</small>
                            <p class="mb0">{{ placement.name }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Begin collapsible Advertiser details sub-panel-->
            <div class="col-md-6">
                <small class="text-muted"><i class="fa fa-bullhorn"></i> Advertiser Details</small>
                <div class="panel  panel-default panel-big-border" id="advertiserPanel">
                    <div class="panel-heading" ng-class="{'panel-heading-collapsed':advertiserPanel}">
                        <paneltool tool-collapse="tool-collapse" ng-init="advertiserPanel=false"></paneltool>
                        <logo-widget model="advertiser" size="xs" deactivate-uploader="true"></logo-widget>
                        <strong>
                            <span ng-switch="user.organization.effectiveOrgType">
                                <span ng-switch-when="publisher">
                                    {{ advertiser.name }}
                                </span>
                                <span ng-switch-default>
                                    <a href="/#!/advertiser/{{ advertiser._id }}" analytics-on="click" analytics-event="ViewScreenshot_CheckAdvertiser">{{ advertiser.name }} </a>
                                </span>
                            </span>
                        </strong>
                    </div>
                    <div collapse="advertiserPanel" class="panel-wrapper">
                        <div class="panel-body pt0">
                            <small class="text-muted">Advertiser</small>
                            <p class="mb0 pb0">
                                <span ng-switch="user.organization.effectiveOrgType">
                                    <span ng-switch-when="publisher">
                                        {{ advertiser.name }}
                                    </span>
                                    <span ng-switch-default>
                                        <a href="/#!/advertiser/{{ advertiser._id }}" analytics-on="click" analytics-event="ViewScreenshot_CheckAdvertiser">{{ advertiser.name }} </a>
                                    </span>
                                </span>
                            </p>
                            <small class="text-muted">Campaign</small>
                            <p class="mb0 pb0">
                                <span ng-switch="user.organization.effectiveOrgType">
                                    <span ng-switch-when="publisher">
                                        {{ campaign.name }}
                                    </span>
                                    <span ng-switch-default>
                                        <a href="/#!/advertiser/{{ advertiser._id }}/campaign/{{ campaign._id }}" analytics-on="click" analytics-event="ViewScreenshot_CheckCampaign">{{ campaign.name }} </a>
                                    </span>
                                </span>
                            </p>
                            <small class="text-muted">Creative Group</small>
                            <p class="mb0 pb0">{{ creativegroup.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{{ screenshot.image_url }}" class="screenshot-expanded">
            </div>
        </div>
    </div>
</div>
