<h4>Invite Team Members to Join </h4>
<p>Enter team members below to send them an email with a link to sign up for Cliques.
<p>Once they sign up, they'll be able to access the <strong>{{ organization.name }}</strong> space.</p>
<form name="inviteForm" id="inviteForm" data-ng-submit="submit()" autocomplete="off">
    <div class="row ml0 mr0">
        <div class="col-sm-4"><strong>First Name</strong></div>
        <div class="col-sm-4"><strong>Last Name</strong></div>
        <div class="col-sm-4"><strong>Email</strong></div>
    </div>
    <div class="row ml0 mr0 pt" ng-repeat="invite in invites">
        <div class="col-sm-4">
            <input type="text" id="firstName" required="required" name="firstName" class="form-control" data-ng-model="invite.firstName" placeholder="John">
        </div>
        <div class="col-sm-4">
            <input type="text" id="lastName" required="required" name="lastName" class="form-control" data-ng-model="invite.lastName" placeholder="Snow">
        </div>
        <div class="col-sm-4">
            <input type="email" id="email" required="required" name="email" class="form-control" data-ng-model="invite.email" placeholder="john-snow@gmail.com">
        </div>
    </div>
    <div class="row ml0 mr0 pt-lg">
        <div class="col-sm-12">
            <button type="button" class="btn btn-labeled btn-default btn-xs pull-left" ng-click="invites.push({})">
                <span class="btn-label"><i class="fa fa-plus"></i></span>Add Another User
            </button>
        </div>
    </div>
    <div class="row text-center">
        <div class="text-center form-group mt-xl">
            <button type="submit" class="btn btn-large btn-primary">Send Invites</button>
        </div>
        <div ng-show="loading">
            <div class="ball-pulse">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</form>