<div class="row pt">
    <div class="col-md-6">
        <div class="form-group">
            <label for="password">{{ passwordLabel || "Password" }}</label>
            <input type="password" required="required" id="password" name="password" tr-trustpass="{special: false, messageGuide: 'Make sure your password meets these requirements:'}" ng-minlength="8" class="form-control" data-ng-model="passwordModel"  data-parsley-group="wizardstep" placeholder="Password">
        </div>
    </div>
    <div class="col-md-6" id="password-helper"></div>
</div>
<div class="row pt">
    <div class="col-md-6">
        <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" data-parsley-equalto="#password" required="required" id="confirmpassword" name="confirmpassword" ng-minlength="8" class="form-control" data-ng-model="verifyPasswordModel" data-parsley-group="wizardstep" placeholder="Password">
        </div>
    </div>
    <div class="col-md-6">
        <div ng-show="passwordModel === verifyPasswordModel" class="form-message form-message-success" style=""><i class="fa fa-check-circle"></i> Passwords match</div>
    </div>
</div>