<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="header-section">
            <div class="header-text">
                <strong>Please Select an Advertiser to Continue</strong>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="defaults.rememberMySelection">Remember My Selection
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 advertiser-list-container">
        <div class="btn-third-white-horizontal" ng-click="goToCreateNewAdvertiser()">
            <i class="fa fa-plus"></i>&nbsp;&nbsp;
            CREATE NEW ADVERTISER
        </div>
        <div ng-show="(advertisers | filter:hasActiveCampaigns(true)).length">
            <br/>
            <em class="custom-section-title">Active</em>
            <div class="list-group">
                <a data-ng-repeat="advertiser in advertisers | filter:hasActiveCampaigns(true) | orderBy:'name'" data-ng-href="#" class="list-group-item" ng-click="selectAdvertiser(advertiser)" analytics-on="click" analytics-event="ListAdvertiser_SelectActiveAdvertiser">
                    <advertiser-list-item advertiser="advertiser"></advertiser-list-item>
                </a>
            </div>
        </div>
        <div ng-show="(advertisers | filter:hasActiveCampaigns(false)).length">
            <br/>
            <em class="custom-section-title">Inactive</em>
            <div class="list-group">
                <a data-ng-repeat="advertiser in advertisers | filter:hasActiveCampaigns(false) | orderBy:'name'" data-ng-href="#" class="list-group-item" ng-click="selectAdvertiser(advertiser)" analytics-on="click" analytics-event="ListAdvertiser_SelectInactiveAdvertiser">
                    <advertiser-list-item advertiser="advertiser"></advertiser-list-item>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-offset-2 col-sm-8 box-placeholder text-center mt-lg pv-xl pv-xl" data-ng-if="advertisers.$resolved && !advertisers.length">
    <h4 class="m0">No advertisers yet, why don't you <a href="/#!/advertiser/create" analytics-on="click" analytics-event="ListAdvertiser_Create">create one</a>?</h4>
</div>