<div class="custom-section-title no-font-style mb">You can create a new Advertiser if you want to run campaigns for a new brand.</div>
<div class="panel panel-default col-md-10">
    <div class="panel-body">
        <div ng-switch on="stepControl.metaStep">
            <!--BEGIN Init step to choose between org info & new advertiser-->
            <div ng-switch-when="init">
                <h4>Use Organization Info?</h4>
                <p class="text-muted">You can either create a new Advertiser from scratch, or use your Organization to pre-populate certain fields.</p>
                <div class="box-form">
                    <ol class="row" style="margin-left: -15px; margin-right: -15px">
                        <li ng-class="{'active': !stepControl.useOrganization }" style="min-height: 150px" ng-click="stepControl.useOrganization = false" class="col-sm-6 align-middle">
                            <h4><i class="fa fa-asterisk"></i>&nbsp;New Advertiser</h4>
                            <p>Create a brand new Advertiser.</p>
                        </li>
                        <li ng-class="{'active': stepControl.useOrganization }" style="min-height: 150px" ng-click="stepControl.useOrganization = true" class="col-sm-6 align-middle">
                            <h4><i class="fa fa-building-o"></i>&nbsp;Use Organization Info</h4>
                            <p>Choose this option if you'd like to run advertising campaigns for <strong>{{ authentication.user.organization.name }}</strong></p>
                        </li>
                    </ol>
                </div>
                <ul class="pager">
                    <li class="next">
                        <a href="#" ng-click="stepControl.goToSecondStep()" analytics-on="click" analytics-event="CampaignSetup_EnterAdvertiserInfo">Next <span>&rarr;</span></a>
                    </li>
                </ul>
            </div>
            <!--BEGIN Advertiser Info step-->
            <div ng-switch-when="advertiser-info">
                <div class="p-lg">
                    <fieldset>
                        <form id="advertiserForm" name="advertiserForm" novalidate>
                            <legend>Advertiser info</legend>
                            <p class="legend-help-text text-muted">An Advertiser is just a container for Campaigns.  You will set up this Advertiser's first campaign on the following screen.</p>
                            <div class="form-group">
                                <label>Name *</label>
                                <div class="controls">
                                    <input name="name" type="text" data-ng-model="advertiser.name" id="name" class="form-control" placeholder="Name" required="required">
                                    <span ng-show="validateInput('name', 'required')" class="text-danger">This field is required</span>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <label>Website *</label>
                                <div class="input-group">
                                    <span class="input-group-addon">http://</span>
                                    <input name="website" id="website" type="text" ng-pattern="{{ domain_regex }}" data-ng-model="advertiser.website" id="website" class="form-control" placeholder="example.com" required="required">
                                </div>
                                    <span ng-show="validateInput('website', 'required')" class="text-danger">This field is required</span>
                                    <span ng-show="validateInput('website', 'pattern')" class="text-danger">This must be a valid website</span>
                            </div>
                            <br/>
                            <div class="form-group">
                                <label>Logo</label>
                                <logo-uploader model="advertiser" uploader="logo_uploader"></logo-uploader>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <div class="controls">
                                    <input name="description" type="text" data-ng-model="advertiser.description" id="description" class="form-control" placeholder="Optional - Brief Description of this Advertiser">
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <small class="text-muted">* Required</small>
                    <div class="alert alert-danger" ng-show="creation_error">{{ creation_error }}</div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="stepControl.goToStep('init')" analytics-on="click" analytics-event="CreateAdvertiser_Init"><span>&larr; Previous</span></a>
                        </li>
                        <li ng-show="loading">
                            <div class="ball-pulse">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </li>
                        <li class="next">
                            <a href="#" ng-click="saveAdvertiser()" analytics-on="click" analytics-event="CampaignSetup_CreateAdvertiser">Save & Continue<span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-switch-when="campaign-splash">
                <div class="alert alert-success">
                    <p class="lead">Sweet.</p>
                    <p><strong>{{ advertiser.name }}</strong> has been created as an Advertiser</p>
                </div>
                <br/>
                <div class="text-md">
                    <p class="text-md">Next, you will create this Advertiser's first <strong>Campaign</strong>. A campaign is what holds all of your targeting, budget & creative settings.</p>
                </div>
                <br/>
                <div class="bs-callout bs-callout-primary">
                    <h4>Don't worry</h4>
                    <p>If you need to stop & want to save your progress, you can always click the <button class="btn btn-primary btn-xs" analytics-on="click" analytics-event="CreateAdvertiser_SaveDraft"><i class="fa fa-file-o"></i> Save Draft</button> button in the upper right corner.</p>
                </div>
                <ul class="pager">
                    <li class="previous">
                        <a href="#" ng-click="stepControl.goToStep('advertiser-info')" analytics-on="click" analytics-event="CreateAdvertiser_AdvertiserInfo"><span>&larr; Previous</span></a>
                    </li>
                    <li class="next">
                        <a href="#" ng-click="stepControl.goToStep('campaign-type')" analytics-on="click" analytics-event="CreateAdvertiser_CampaignType">Got it &nbsp;<span>&rarr;</span></a>
                    </li>
                </ul>
            </div>
            <div ng-switch-when="campaign-type">
                <h4>Campaign Type</h4>
                <p class="text-muted">Please tell us what kind of campaign you'd like to run.</p>
                <div class="box-form">
                    <ol class="row" style="margin-left: -15px; margin-right: -15px">
                        <li ng-class="{'active': stepControl.campaignType === 'display'}" ng-click="stepControl.campaignType = 'display'" class="col-sm-6">
                            <h4>Display</h4>
                            <p>Traditional display (a.k.a. banner) ads look the same on all sites & placements, and are typically less expensive.</p>
                        </li>
                        <li ng-class="{'active': stepControl.campaignType === 'native'}" ng-click="stepControl.campaignType = 'native'" class="col-sm-6">
                            <h4><span class="label label-primary">Beta</span> Native</h4>
                            <p>Native ads dynamically resize & restyle for each individual site on our exchange to match the style of the site. They are typically more engaging, and also more expensive.</p>
                        </li>
                    </ol>
                </div>
                <ul class="pager">
                    <li class="next">
                        <a href="#" ng-click="stepControl.goToStep('campaign-wizard')" analytics-on="click" analytics-event="CreateAdvertiser_CampaignWizard">Next <span>&rarr;</span></a>
                    </li>
                </ul>
            </div>
            <div ng-switch-when="campaign-wizard">
                <campaign-wizard on-previous="stepControl.goToStepPriorToWizard()" advertiser="advertiser" campaign-type="{{ stepControl.campaignType }}" campaignon-submit="createCampaign(campaign)"></campaign-wizard>
            </div>
        </div>
        <!-- END Advertiser Step inputs -->
    </div>
</div>