<div class="topsavebar bg-primary-light" ng-show="dirty">
	<div class="text-center">
		<button type="button"
			class="btn btn-lg btn-primary"
			ng-click="save()"
			analytics-on="click"
			analytics-event="GeoTargeting_Save">
			Save	
		</button>
		<button type="button"
			class="btn btn-lg btn-default"
			ng-click="reset()"
			analytics-in="click"
			analytics-event="GeoTargeting_Reset">
			Reset	
		</button>
	</div>	
</div>

<!-- Action options to allow user to customize bidding for or block selected geo area -->
<div class="topsavebar bg-primary-light"
	ng-if="showingActionOptions">
	<div class="text-center text-muted">
		For 
		<strong>{{ selectedGeo.name }}</strong>
		<span ng-if="selectedGeo.type === 'region'"> in 
			<strong>{{selectedGeo.countryName}}</strong>
		</span>, do you want to customize bidding or block? 
		<button type="button"
			class="btn btn-success btn-xs ml"
			ng-click="customizeBiddingForGeo()">
			<i class="fa fa-sliders"></i>
		</button>
		<button type="button"
			class="btn btn-danger btn-xs ml"
			ng-click="blockGeo()">
			<i class="fa fa-ban"></i>
		</button>
	</div>	
</div>

<div class="col-sm-12">
	<div class="panel">
		<div class="panel-heading">
			<h4>
				<i class="fa fa-sitemap"></i>&nbsp;&nbsp;Default Bidding
				<a class="fa fa-lg fa-question-circle pull-right"
					ng-click="getAllGeosHelp()"
					analytics-on="click"
					analytics-event="GeoTargeting_GetAllGeosHelp">
				</a>
			</h4>
			<em class="text-muted">
				Your base bide is set to <strong>{{ campaign.base_bid | currency : "$" : 2 }}</strong>, which means that you will bid <strong>{{ campaign.base_bid | currency : "$" : 2 }}</strong> for all geo targets in this map.
			</em>
		</div>
		<div class="panel-body">
			<!-- Map -->
			<datamap
				data-ng-if="mapAvailable"
				class="pb0"
				on-click="mapClicked"
				map="mapObject"
				plugins="mapPlugins"
				plugin-data="mapPluginData">
			</datamap>	

			<!-- Placeholder for non-USA users -->
			<div ng-if="!mapAvailable"
				class="text-center">
				<h3><i class="fa fa-lg fa-globe"></i> States map only available for United States</h3>	
				<p class="mb-lg">Stay tuned for updates!</p>
				<p class="mb-lg"><em>Have specific reporting needs that you'd like us to address in a future release? <a href="mailto:support@cliquesads.com">Contact us.</a></em></p>
			</div>

			<!-- Button to reload world map -->
			<div class="pull-right"
				ng-if="mapObject.scope !== 'world'">
				<button class="btn btn-default"
					ng-click="reloadWorldMap()">
					Back to world map
				</button>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-6">
	<div class="panel">
		<div class="panel-heading bg-success">
			<h4><i class="fa fa-sliders"></i>  Custom Bidding</h4>
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Weight</th>
						<th>Bid</th>
						<th>
							<a href="#"
								tooltip="Average CPM on the Cliques Exchange for the Last 30 Days">
								<i class="fa fa-line-chart"></i>	
								&nbsp;Avg.<br>&nbsp;&nbsp;CPM
							</a>
						</th>
						<th>Actions</th>
					</tr>
				</thead>	
				<tbody>
					<tr ng-repeat="node in geoTargets">
						<th class="v-middle wd-md">{{ node.nodeName }}</th>	
						<th>
							<rzslider
								rz-slider-model="node.weight"
								rz-slider-options="{
									floor: 0,
									ceil: Math.round(campaign.max_bid/campaign.base_bid * 10) / 10,
									step: 0.0001,
									precision: 4,
									id: target,
									showSelectionBar: true,
									onStart: onStart,
									hideLimitLabels: true
								}">
							</rzslider>
						</th>
						<th>
							<span>
		                        <strong>
		                        	{{ Math.min(node.weight * campaign.base_bid, campaign.max_bid) | currency : "$" : 2 }}
		                        </strong>
		                    </span>
						</th>
						<th>
							<!-- TO-DO:::ycx add average CPM here -->
						</th>
						<th>
							<button type="button"
								class="btn btn-xs bg-gray-light"
								ng-click="removeGeoTarget(node)"
								tooltip="Clear Bids">
								<i class="fa fa-lg fa-remove"></i>	
							</button>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
</div>
<div class="col-sm-6">
	<div class="panel">
		<div class="panel-heading bg-danger">
			<h4><i class="fa fa-ban"></i>  Blocked</h4>
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="node in blockedGeos">
						<th>{{ node.nodeName }}</th>
						<th>
							<button type="button"
								class="btn btn-xs bg-gray-light"
								ng-click="removeBlockedGeo(node)"
								tooltip="Unblock">
								<i class="fa fa-lg fa-remove"></i>	
							</button>
						</th>	
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
</div>