<!--TODO: hack used to stretch outer section.content-wrapper to be tall enough so chosen-select doesn't get cut off when expanded-->
<script>
    $('.content-wrapper').css('min-height','500px');
</script>
<div class="page-header">
    <select chosen="" name="advertisers" id="advertisers" ng-options="adv.name for adv in advertisers" ng-model="selectedAdvertiser" data-placeholder="Select an advertiser to see campaigns" class="form-control chosen-select">
        <option value=""></option>
    </select>
</div>
<div class="list-group">
    <a data-ng-repeat="campaign in selectedAdvertiser.campaigns" data-ng-href="#!/advertiser/{{selectedAdvertiser._id}}/campaign/{{campaign._id}}" class="list-group-item" analytics-on="click" analytics-event="ListCampaign_SelectCampaign">
        <div class="row row-table">
            <div class="col-xs-2 col-sm-2 col-md-1">
                <div class="label" ng-class="campaign.active ? 'label-success':'label-default'">{{ campaign.active ? "Active":"Inactive"}}</div>
            </div>
            <div class="col-xs-8 col-sm-3 col-md-2">
                <h4 class="list-group-item-heading" data-ng-bind="campaign.name"></h4>
                <p class="list-group-item-text">{{ campaign.clique }}</p>
            </div>
            <div class="hidden-xs col-sm-3 col-md-2">
                <h4 class="list-group-item-heading">{{ campaign.end_date | date:'MM/dd/yyyy' }}</h4>
                <p class="list-group-item-text">Ends</p>
            </div>
            <div class="hidden-xs hidden-sm col-md-1">
                <h4 class="list-group-item-heading">{{ campaign.budget | currency:"$":"0" }}</h4>
                <p class="list-group-item-text">Budget</p>
            </div>
            <div class="hidden-xs hidden-sm col-md-1">
                <h4 class="list-group-item-heading">{{ (campaign.spend||0) | currency:"$":"0" }}</h4>
                <p class="list-group-item-text">Spent</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1">
                <radial percent="campaign.percent_spent" size="sm"></radial>
            </div>
            <div class="hidden-xs hidden-sm col-md-2 col-lg-1">
                <h4 class="list-group-item-heading">{{ (campaign.imps||0) | number:"0" }}</h4>
                <p class="list-group-item-text">Impressions</p>
            </div>
            <div class="hidden-xs hidden-sm col-md-1">
                <h4 class="list-group-item-heading">{{ (campaign.ecpm||0) | currency:"$":"2" }}</h4>
                <p class="list-group-item-text">Average {{ pricing }}</p>
            </div>
            <div class="hidden-xs col-sm-2 col-md-1">
                <h4 class="list-group-item-heading">{{ (campaign.ctr||0) | percentage:"2" }}</h4>
                <p class="list-group-item-text">CTR</p>
            </div>
        </div>
        <!--<p class="list-group-item-text"> Active Campaigns: {{ selectedAdvertiser.campaigns.length }}</p>-->
    </a>
</div>
<div class="well well-lg text-center pv-lg" data-ng-if="selectedAdvertiser.campaigns.length == 0 || !selectedAdvertiser">
    <span class="fa fa-exclamation-circle"></span>&nbsp;&nbsp;<em>No campaigns to show.</em>
</div>