<div ng-switch on="$state.$current.self.name">
    <div ng-switch-default>
        <!-- View hook for child views -->
        <section data-ui-view="main"></section>
    </div>
    <div ng-switch-when="app.advertiser.allAdvertisers">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default mt">
                    <!-- Heading & buttons -->
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>All Advertisers & Campaigns</h4>
                                </div>
                                <!-- More data fields dropdown -->
                                <div class="col-sm-6 text-right">
                                    <span class="pull-right">
                                        <a type="button" class="btn btn-labeled btn-primary" href="#!/advertiser/create" analytics-on="click" analytics-event="ListAdvertiser_Create">
                                            <span class="btn-label"><i class="fa fa-plus"></i></span>CREATE NEW ADVERTISER
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr class="pt0 pb0 mt0 mb0"/>
                    </div>
                    <!-- Table -->
                    <div class="panel-body pt0"
                         ng-if="!campaignsLoading">

                        <!-- Table Headers -->
                        <table class="table table-bordered table-hover mb0">
                            <thead>
                                <!-- Headers Row-->
                                <tr>
                                    <th ng-class="{
                                            'current-sorting': currentSorting.orderBy.indexOf(header) > -1,
                                            'hidden-md': ['imps','CTR','CPC','CPM'].indexOf(header) > -1,
                                            'hidden-sm': ['imps','CTR','CPC','CPM', '%_spent','budget','start','end'].indexOf(header) > -1
                                        }"
                                        ng-repeat="header in headers" style="max-width: 220px">
                                        {{ header | formalize }}
                                        <a href="#"
                                           ng-click="filters.showFilters = !filters.showFilters"
                                           ng-if="header === 'active' || header === 'advertiser' || header === 'campaign'" tooltip="{{ filters.showFilters ? 'Hide' : 'Show'}} Filters">
                                            <i class="fa fa-filter"></i>
                                        </a>
                                        <span class="pull-right" ng-click="sortTableBy(header)"
                                              tooltip="{{ currentSorting.orderBy.indexOf(header) > -1 ?
                                              (currentSorting.order[currentSorting.orderBy.indexOf(header)] === 'asc' ?
                                              'Sort by ' + header + ', descending' : 'Remove sort by ' + header)
                                              : 'Sort by ' + header + ', ascending' }}">
                                            <i class="fa"
                                               ng-class="{
                                                    'fa-sort': currentSorting.orderBy.indexOf(header) === -1,
                                                    'fa-sort-amount-asc': currentSorting.orderBy.indexOf(header) > -1 && currentSorting.order[currentSorting.orderBy.indexOf(header)] === 'asc',
                                                    'fa-sort-amount-desc': currentSorting.orderBy.indexOf(header) > -1 && currentSorting.order[currentSorting.orderBy.indexOf(header)] === 'desc'
                                               }"></i>
                                            <span class="label label-primary label-xs" ng-if="currentSorting.orderBy.indexOf(header) > -1 && currentSorting.orderBy.length > 1">{{ currentSorting.orderBy.indexOf(header) + 1}}</span>
                                        </span>
                                    </th>
                                </tr>

                                <!-- Filters Row -->
                                <tr class="subheader-row pt0 mt0" ng-show="filters.showFilters">
                                    <th ng-repeat="header in headers" style="max-width: 220px"
                                        ng-class="{'hidden-md': ['imps','CTR','CPC','CPM'].indexOf(header) > -1,
                                                  'hidden-sm': ['imps','CTR','CPC','CPM', '%_spent','budget','start','end'].indexOf(header) > -1}">
                                        <span ng-if="header === 'active'">
                                            <!--<small>Active Campaign Filter</small>-->
                                            <div class="mt0">
                                                <label class="switch">
                                                    <input type="checkbox" checked="checked" ng-model="filters.activeFilter"/>
                                                    <span></span>
                                                </label>
                                                <span class="label" ng-class="filters.activeFilter ? 'label-success':'label-default'">{{ filters.activeFilter ? "Active":"All"}}</span>
                                            </div>
                                        </span>
                                        <span ng-if="header === 'advertiser'">
                                            <div class="mt0">
                                                <select data-placeholder="Select an advertiser" class="form-control chosen-select"
                                                        ng-options="advertiser._id as advertiser.name for advertiser in advertisers" ng-model="filters.advertiser">
                                                    <option value="">*All Advertisers*</option>
                                                </select>
                                            </div>
                                        </span>
                                        <span ng-if="header === 'campaign'">
                                            <!-- Search box -->
                                            <div class="input-group">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Search..."
                                                       ng-model="filters.search.searchKeyword"
                                                       ng-keypress="$event.keyCode === 13 && searchCampaigns()" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-sm"
                                                            type="button"
                                                            ng-click="searchCampaigns()"
                                                            ng-disabled="filters.search.searchKeyword === ''">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger btn-sm"
                                                            type="button"
                                                            ng-click="cancelSearch()"
                                                            ng-disabled="filters.search.searchKeyword === ''">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in campaigns" ng-hide="(filters.activeFilter && !row.active) ||
                                    (filters.search.searchActive && !row.keywordMatch) ||
                                    (filters.advertiser && filters.advertiser !== row._advertiser._id)">
                                    <td ng-repeat="header in headers"
                                        style="max-width: 220px; vertical-align: middle;"
                                        ng-class="{ 'hidden-md': ['imps','CTR','CPC','CPM'].indexOf(header) > -1,
                                                    'hidden-sm': ['imps','CTR','CPC','CPM', '%_spent','budget','start','end'].indexOf(header) > -1}">
                                        <span ng-if="header === 'budget' || header === 'spend'">
                                            <div ng-show="campaignDataLoading && header === 'spend'" class="ball-pulse"><div></div><div></div></div>
                                            {{ row[header] | currency:'$':'0' }}
                                        </span>
                                        <span ng-if="header === 'imps' || header === 'clicks'">
                                            <div ng-show="campaignDataLoading" class="ball-pulse"><div></div><div></div></div>
                                            {{ row[header] | number:'0' }}
                                        </span>
                                        <span ng-if="header === 'CPC' || header === 'CPM'">
                                            <div ng-show="campaignDataLoading" class="ball-pulse"><div></div><div></div></div>
                                            {{ row[header] | currency:'$':'2' }}
                                        </span>
                                        <span ng-if="header === 'CTR'">
                                            <div ng-show="campaignDataLoading" class="ball-pulse"><div></div><div></div></div>
                                            <span ng-hide="campaignDataLoading">{{ row[header] | percentage:'2' }}</span>
                                        </span>
                                        <span ng-if="header === 'start' || header === 'end'">
                                            {{ row[header] | date:'M/d/yy'}}
                                        </span>
                                        <span ng-if="header === '%_spent'">
                                            <div ng-show="campaignDataLoading" class="ball-pulse"><div></div><div></div></div>
                                            <radial percent="row['%_spent']" size="sm" ng-show="!campaignDataLoading" tooltip-text="{{ row.spend | currency:'$':'0' }}"></radial>
                                        </span>
                                        <span ng-if="header === 'campaign'">
                                            <a data-ng-href="#!/advertiser/{{row._advertiser._id}}/campaign/{{row._id}}" tooltip="Go to Campaign" ng-class="{'text-bold': row.active }">
                                                {{ row[header] }}
                                            </a>
                                        </span>
                                        <span ng-if="header === 'advertiser'">
                                            <a data-ng-href="#!/advertiser/{{row._advertiser._id}}" tooltip="Go to Advertiser" ng-class="{'text-bold': row.active }">
                                                <div class="col-xs-4">
                                                    <img ng-src="{{ row.logo_secure_url }}" class="client-logo-md" tooltip="{{ row.advertiserName }}" tooltip-placement="right">
                                                </div>
                                                <div class="col-xs-8" style="padding-top: 15px;">
                                                    {{ row[header] }}
                                                </div>
                                            </a>
                                        </span>
                                        <span ng-if="header === 'active'">
                                            <div class="label" ng-class="row.active ? 'label-success':'label-default'">{{ row.active ? "Active":"Inactive"}}</div>
                                        </span>
                                    </td>
                                </tr>
                                <tr id="noResults" ng-show="noResults">
                                    <td colspan="11">
                                        <!-- Search not found placeholder -->
                                        <div class="box-placeholder text-center">
                                            No campaigns found. <a href="#">Create a New Campaign</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Spin Loader -->
                    <div class="panel-body pt0"
                         ng-if="campaignsLoading">
                        <spin-loader></spin-loader>
                    </div>
                    <div class="panel-footer">
                        <div class="row ml-sm mr-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8 box-placeholder text-center mt-lg pv-xl pv-xl" data-ng-if="advertisers.$resolved && !advertisers.length">
            <h4 class="m0">No advertisers yet, why don't you <a href="/#!/advertiser/create" analytics-on="click" analytics-event="ListAdvertiser_Create">create one</a>?</h4>
        </div>
    </div>
</div>