<!--- This template switches between a ui-view hook & actual campaignDrafts
template, depending on the UI Router State. Not ideal, but couldn't figure out
simple way to have full child template exist inside of parent state w/out
adding hook in parent template ---->
<div ng-switch on="$state.$current.self.name">
    <div ng-switch-default>
        <!-- View hook for child views -->
        <section data-ui-view="main"></section>
    </div>
    <div ng-switch-when="app.advertiser.campaignDrafts">
        <div class="list-group col-md-8">
            <div data-ng-repeat="draft in drafts" class="list-group-item">
                <div class="row row-table">
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading" data-ng-bind="draft.name"></h4>
                        <p class="list-group-item-text"> Last Modified: {{ draft.tstamp | date: 'medium' }}</p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-xs" ng-click="edit(draft)"><i class="fa fa-edit"></i> Continue Editing</button>
                        <button class="btn btn-danger btn-xs" ng-click="remove(draft)"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box-placeholder text-center" data-ng-if="drafts.$resolved && !drafts.length">
                <h4>
                    <i class="fa fa-floppy-o"></i> You don't have any working drafts
                </h4>
                <p>
                    When you set up a new campaign, drafts will be saved here if you decide to go take a coffee break
                    (or a nap, naps are fine too) and want to come back and finish the setup process later.
                </p>
            </div>
        </div>
    </div>
</div>
