<div class="topsavebar bg-primary-light" ng-show="dirty">
    <div class="text-center">
        <button type="button" class="btn btn-lg btn-primary" ng-click="update()" analytics-on="click" analytics-event="ManageCreatives_Save">
            Save
        </button>
        <button type="button" class="btn btn-lg btn-default" ng-click="initializeAllTrees()" analytics-on="click" analytics-event="ManageCreatives_Reset">
            Reset
        </button>
    </div>
</div>
<div class="col-sm-12 alert alert-danger" ng-show="saveerror">{{ saveerror }}</div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Creatives</h4>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-3">
                    <span class="pull-right">
                        <button type="button" class="btn btn-labeled btn-primary" ng-click="addNewCreatives()" analytics-on="click" analytics-event="ManageCreatives_AddNewCreatives">
                            <span class="btn-label"><i class="fa fa-plus"></i></span>Add New Creatives
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <fieldset>
                <!--<div ng-repeat="(size, series) in creativeWeightSeries">-->
                    <flot dataset="creativeWeightSeries['Native']" options="graphOptions" callback="callback" height="200px"></flot>
                <!--</div>-->
            </fieldset>
            <fieldset>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-0">Select</th>
                                <th class="col-xs-1">Preview</th>
                                <th class="col-xs-3">Name</th>
                                <th class="col-xs-3" ng-if="campaign.type === 'display' || !campaign.type">Dimensions</th>
                                <th class="col-xs-3" ng-if="campaign.type === 'native'">Headline</th>
                                <th class="col-xs-1" ng-if="campaign.type === 'native'">Category</th>
                                <th class="col-xs-2">Weight</th>
                                <th class="col-xs-1">Actions</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="creativegroup in campaign.creativegroups">
                            <tr ng-repeat="creative in creativegroup.creatives">
                                <td class="text-center">
                                    <div class="checkbox c-checkbox mt-lg pt-sm">
                                        <label>
                                            <input type="checkbox" ng-model="creative.selected">
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                <td ng-click="creativePreview(creative)">
                                    <div ng-switch="creative.hostingType">
                                        <div ng-switch-when="doubleclick">
                                            <em><i class="fa fa-image"></i> Preview Unavailable</em>
                                        </div>
                                        <div ng-switch-default>
                                            <img ng-src="{{ creative.type === 'native' ? creative.native.secureImageUrl : creative.secureUrl }}" class="smallthumbnail"/>
                                        </div>
                                    </div>
                                </td>
                                <td style="word-break: break-all;" ng-click="creativePreview(creative)">
                                    <p class="form-control-static">{{ creative.name }}</p>
                                </td>
                                <td ng-if="creative.type === 'display' || !creative.type" ng-click="creativePreview(creative)">
                                    <p class="form-control-static">
                                        {{ creative.w }}x{{ creative.h }}
                                    </p>
                                </td>
                                <td ng-if="creative.type === 'native'" ng-click="creativePreview(creative)">
                                    <p class="form-control-static">
                                        {{ creative.native.headline }}
                                    </p>
                                </td>
                                <td ng-if="creative.type === 'native'" ng-click="creativePreview(creative)">
                                    <p class="form-control-static">
                                        {{ creative.native.category || "None" }}
                                    </p>
                                </td>
                                <td class="text-center"
                                    ng-init="creative.sliderOptions = {
                                                        id: creativegroup._id + ',' + creative._id,
                                                        disabled: false,
                                                        ceil: 5,
                                                        floor: 0,
                                                        step: 1,
                                                        showSelectionBar: true,
                                                        hideLimitLabels: true,
                                                        onChange: onCreativeWeightChange
                                            };">
                                    <div class="col-xs-7" style="width: 90px">
                                        <rzslider rz-slider-model="creative.weight"
                                                  rz-slider-options="creative.sliderOptions"
                                                  class="mt-xl">
                                        </rzslider>
                                    </div>
                                    <div class="col-xs-5">
                                        <span class="editable-buttons mt-lg">
                                            <button type="button" class="btn btn-xs btn-success"
                                                    ng-show="creative.dirty"
                                                    tooltip="Save"
                                                    ng-click="updateCreative(creative)"
                                                    analytics-on="click" analytics-event="ManageCreatives_AddNewCreatives">
                                                <i class="fa fa-check"></i>
                                            </button>
                                            <button type="button" class="btn btn-xs btn-default"
                                                    ng-show="creative.dirty"
                                                    tooltip="Reset"
                                                    ng-click="creative.dirty = false; creative.weight = creativeWeights[creative._id]"
                                                    analytics-on="click" analytics-event="ManageCreatives_AddNewCreatives">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <button
                                            type="button"
                                            ng-click="remove(creativegroup, creative)"
                                            class="btn btn-danger btn-xs"
                                            analytics-on="click"
                                            analytics-event="EditCreatives_Remove">
                                        <span class="icon-trash mr"></span>Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<!--<div class="text-center">-->
    <!--<button type="button" ng-click="updateAndClose()" class="btn btn-info btn-large">Save</button>-->
<!--</div>-->