<div class="col-sm-7">
    <div class="panel panel-default" title="Site Targets">
        <div class="panel-heading"><h4>Available Sites</h4></div>
        <div class="panel-body">
            <tree-dnd
                    template-url="modules/advertiser/views/partials/sites-tree-table-dnd.html"
                    tree-data="all_sites.siteTree.data"
                    tree-control="all_sites.control"
                    column-defs="all_sites.columns"
                    expand-on="all_sites.expanding_property"
                    primary-key="_id"
                    enable-drag="false"
                    enable-drop="true"
                    enable-move="false"
                    icon-leaf="fa fa-lg fa-tags"
                    icon-expand="fa fa-lg fa-minus"
                    icon-collapse="fa fa-lg fa-plus-circle"
            ></tree-dnd>
        </div>
    </div>
</div>
<div class="col-sm-5">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4><i class="fa fa-check-circle"></i>  Targets</h4>
        </div>
        <div class="panel-body">
            <tree-dnd
                    template-url="modules/advertiser/views/partials/sites-tree-table-dnd.html"
                    tree-data="target_sites.siteTree.data"
                    tree-control="target_sites.control"
                    column-defs="target_sites.columns"
                    expand-on="target_sites.expanding_property"
                    primary-key="_id"
                    enable-drag="false"
                    enable-drop="true"
                    enable-move="false"
                    icon-leaf="fa fa-lg fa-tags"
                    icon-expand="fa fa-lg fa-minus"
                    icon-collapse="fa fa-lg fa-plus-circle"
                    ></tree-dnd>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4><i class="fa fa-minus-circle"></i>  Blocked</h4>
        </div>
        <div class="panel-body">
            <tree-dnd
                    template-url="modules/advertiser/views/partials/sites-tree-table-dnd.html"
                    tree-data="blocked_sites.siteTree.data"
                    tree-control="blocked_sites.control"
                    column-defs="blocked_sites.columns"
                    expand-on="blocked_sites.expanding_property"
                    primary-key="_id"
                    enable-drag="false"
                    enable-drop="true"
                    enable-move="false"
                    icon-leaf="fa fa-lg fa-tags"
                    icon-expand="fa fa-lg fa-minus"
                    icon-collapse="fa fa-lg fa-plus-circle"
                    ></tree-dnd>
        </div>
    </div>
</div>