<!--- This template switches between a ui-view hook & actual viewAdvertiser
template, depending on the UI Router State. Not ideal, but couldn't figure out
simple way to have full child template exist inside of parent state w/out
adding hook in parent template ---->
<div ng-switch on="$state.$current.self.name">
    <div ng-switch-default>
        <!-- View hook for child views -->
        <section data-ui-view="main"></section>
    </div>
    <div ng-switch-when="app.advertiser.allAdvertisers.viewAdvertiser">
        <!-------------------------------------->
        <!--- BEGIN ViewAdvertiser Template ---->
        <!-------------------------------------->
        <!--showNewModal toggles on or off depending on query param showModal-->
        <section data-ng-init="showNewModal()"></section>
        <section data-ng-init="findOne()">
            <div ng-show="creation_error" class="alert alert-danger col-md-12">{{ creation_error }}</div>
            <!--Upper left panel-->
            <div class="col-sm-4 mt-lg">
                <!--BEGIN CAMPAIGN PANEL-->
                <div class="custom-section-title no-font-style ml-sm">All Campaigns</div>
                <div class="btn-third-white-horizontal mt" ng-click="newCampaign()">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp; CREATE NEW CAMPAIGN
                </div>
                <!-- Placeholder if there is no campaigns yet -->
                <div class="box-placeholder text-center mv-lg pv-xl" data-ng-if="advertiser.campaigns.length === 0">
                    <h4>No Campaigns yet, why don't you <br><a ng-click="newCampaign()" analytics-on="click" analytics-event="ViewAdvertiser_NewCampaign">create one</a>?</h4>
                </div>
                <ul class="list-group mt-lg">
                    <a data-ng-repeat="campaign in advertiser.campaigns" data-ng-href="#!/advertiser/{{advertiser._id}}/campaign/{{campaign._id}}" class="list-group-item" analytics-on="click" analytics-event="ViewAdvertiser_SelectCampaign">
                        <div class="row row-table">
                            <div class="col-sm-2">
                                <div class="label" ng-class="campaign.active ? 'label-success':'label-default'">{{ campaign.active ? "Active":"Inactive"}}</div>
                            </div>
                            <div class="col-sm-5">
                                <h4 class="list-group-item-heading" data-ng-bind="campaign.name"></h4>
                                <p class="list-group-item-text">{{ campaign.clique }}</p>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="list-group-item-heading">{{ campaign.budget | currency:"$":"0" }}</h4>
                                <p class="list-group-item-text">Budget</p>
                            </div>
                            <div class="col-sm-2">
                                <radial percent="campaign.percent_spent" size="sm"></radial>
                            </div>
                        </div>
                    </a>
                </ul>
            </div>
            <div class="col-md-8 mt-lg">
                <div class="custom-section-title no-font-style pl-xl">
                    <span>Advertiser QuickStats</span>
                    <span class="pull-right">
                        Want to see more data? &nbsp;
                        <a href="/#!/analytics" class=" text-underline" analytics-on="click" analytics-event="ViewAdvertiser_Analytics"><i class="fa fa-signal"></i> Go to Analytics</a>
                    </span>
                </div>
                <div id="advertiserGraphPanel" class="panel panel-default ml-xl mt" data-ng-init="getAdvertiserGraph('7d')">
                    <div class="panel-heading">
                        <div class="panel-title">{{ dateRanges[dateRangeSelection].label }} &nbsp&nbsp&nbsp
                            <small>
                                <em class="text-muted">
                                    Reporting Timezone: {{ authentication.user.tz }}
                                </em>
                            </small>
                            <span class="pull-right">
                                <button class="btn btn-sm btn-default" ng-click="getAdvertiserGraph('7d')" analytics-on="click" analytics-event="ViewAdvertiser_Query7d">7d</button>
                                <button class="btn btn-sm btn-default" ng-click="getAdvertiserGraph('30d')" analytics-on="click" analytics-event="ViewAdvertiser_Query30d">30d</button>
                                <button class="btn btn-sm btn-default" ng-click="getAdvertiserGraph('90d')" analytics-on="click" analytics-event="ViewAdvertiser_Query90d">90d</button>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6 text-center">
                                <p>Impressions</p>
                                <div class="h3">{{ impressions | number: 0 }}</div>
                            </div>
                            <div class="col-sm-3 col-xs-6 text-center">
                                <p>CTR</p>
                                <div class="h3">{{ CTR | percentage:2 }}</div>
                            </div>
                            <div class="col-sm-3 col-xs-6 text-center">
                                <p>Clicks</p>
                                <div class="h3">{{ clicks | number: 0 }}</div>
                            </div>
                            <div class="col-sm-3 col-xs-6 text-center">
                                <p>Spend</p>
                                <div class="h3">{{ spend | currency:"$":"0" }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <daily-ad-stats-graph time-series="timeSeries" show-points="showPoints" height="250px"></daily-ad-stats-graph>
                    </div>
                </div>
            </div>
        </section>
        <!------------------------------------>
        <!--- END ViewAdvertiser Template ---->
        <!------------------------------------>
    </div>
</div>
