<h3>
	<div class="pull-right" data-ng-show="authentication.user._id == advertiser.user">
		<!--<a class="btn btn-primary" href="/#!/advertiser/{{advertiser._id}}/edit">-->
			<!--<i class="fa fa-edit"></i>-->
		<!--</a>-->
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="fa fa-trash"></i>
		</a>
	</div>
	{{advertiser.name}}
	<ul class="breadcrumb">
	  <li><a ui-sref="app.home">Home</a>
	  </li>
	  <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
	     <span ng-switch-when="true">{{state.title}}</span>
	  </li>
	</ul>
</h3>
<section data-ng-init="findOne()">
    {{ data }}
	<div>
        <small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="advertiser.tstamp | date:'mediumDate'"></span>
			by
			<span data-ng-bind="advertiser.user.displayName"></span>
		</em>
	    </small>
    </div>
    <div ng-show="creation_error" class="alert alert-danger col-md-12">{{ creation_error }}</div>

    <!--Upper left panel-->
    <div class="col-sm-4">
        <advertiser-inline advertiser="advertiser" onaftersave="update()"></advertiser-inline>

        <!-- START Campaign panel-->
        <div id="campaignPanel" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Campaigns</div>
            </div>
            <div class="panel-body">
                <table ng-table="" class="table ng-table-rowselected">
                    <thead>
                    <th>Name</th>
                    <th>Clique</th>
                    <th>Budget</th>
                    </thead>
                    <tr ng-repeat="campaign in advertiser.campaigns" ng-click="campaign.$selected = !campaign.$selected" ng-class="{'active': campaign.$selected}">
                        <td data-title="Campaign">{{campaign.name}}</td>
                        <td data-title="Clique">{{campaign.clique}}</td>
                        <td data-title="Budget">{{campaign.budget|currency:"$":"0"}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="advertiserGraphPanel" class="panel panel-default" data-ng-init="getAdvertiserGraph()">
            <div class="panel-heading">
                <div class="panel-title">{{ dateRanges[dateRangeSelection].label }}
                    <span class="pull-right">
                        <button class="btn btn-sm btn-default" ng-click="getAdvertiserGraph('7d')">7d</button>
                        <button class="btn btn-sm btn-default" ng-click="getAdvertiserGraph('30d')">30d</button>
                        <button class="btn btn-sm btn-default" ng-click="getAdvertiserGraph('90d')">90d</button>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <flot dataset="lineData" options="lineOptions" height="300px"></flot>
            </div>
        </div>
    </div>
</section>