<section data-ng-init="showModal()"></section>
<!--- This template switches between a ui-view hook & actual viewCampaign
template, depending on the UI Router State. Not ideal, but couldn't figure out
simple way to have full child template exist inside of parent state w/out
adding hook in parent template ---->
<div ng-switch on="$state.$current.self.name">
    <div ng-switch-default>
        <!-- View hook for child views -->
        <section data-ui-view="main"></section>
    </div>
    <div ng-switch-when="app.advertiser.allAdvertisers.viewAdvertiser.viewCampaign">
        <!--showNewModal toggles on or off depending on query param showModal-->
        <section data-ng-init="showNewModal()"></section>
        <section>
            <div ng-show="creation_error" class="alert alert-danger col-md-12">{{ creation_error }}</div>
            <div class="col-md-5">
                <!--BEGIN Campaign Basics Panel-->
                <div class="custom-section-title no-font-style ml-sm">Campaigns Settings</div>
                <!--<div class="panel panel-default mt-sm">-->
                    <tabset class="mt-sm">
                        <tab heading="Basics">
                            <!--<div class="panel-body">-->
                                <!--Only show activate controls for admins right now-->
                                <fieldset ng-if="orgIsType('networkAdmin') || userIsRole('readWrite','admin')">
                                    <small><em class="text-muted">Status</em></small>
                                    <div class="form-horizontal">
                                        <div class="form-group m0">
                                            <label class="col-sm-4 control-label">Active</label>
                                            <div class="col-sm-8 form-control-static">
                                                <campaign-status-switch campaign="campaign" advertiser="advertiser"></campaign-status-switch>
                                                <campaign-status-label campaign="campaign"></campaign-status-label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <small><em class="text-muted">Basics</em></small>
                                    <form editable-form name="campaignBasicsInline" onaftersave="update()">
                                        <div class="form-horizontal">
                                            <div class="form-group m0">
                                                <label class="col-sm-4 control-label">Name</label>
                                                <div class="col-sm-6">
                                                    <p class="form-control-static">
                                                        <span editable-text="campaign.name" e-name="name" e-required>{{ campaign.name }}</span>
                                                    </p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="#" class="pull-right" ng-click="campaignBasicsInline.$show()" ng-show="!campaignBasicsInline.$visible" analytics-on="click" analytics-event="ViewCampaign_ShowBasics">
                                                        <span class="fa fa-edit"></span>
                                                    </a>
                                                </div>
                                                <label class="col-sm-4 control-label">Type</label>
                                                <div class="col-sm-6">
                                                    <p class="form-control-static">
                                                        {{ campaign.type === 'native' ? 'Native' : 'Display'}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group m0">
                                                <label class="col-sm-4 control-label">Description</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">
                                                        <span editable-text="campaign.description" e-name="description" >{{ campaign.description }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group m0">
                                                <label class="col-sm-4 control-label">External ID</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">
                                                        <span editable-text="campaign.externalId" e-name="externalId" >{{ campaign.externalId }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group m0">
                                                <label class="col-sm-4 control-label">Budget</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">
                                                        <span editable-number="campaign.budget" e-name="budget" >{{ campaign.budget| currency:"$":"0"}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <!-- buttons to submit / cancel form -->
                                            <span ng-show="campaignBasicsInline.$visible">
                                                <button type="submit" class="btn btn-xs btn-primary" ng-disabled="campaignBasicsInline.$waiting" analytics-on="click" analytics-event="ViewCampaign_SaveCampaign">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-xs btn-default" ng-disabled="campaignBasicsInline.$waiting" ng-click="campaignBasicsInline.$cancel()" analytics-on="click" analytics-event="ViewCampaign_CancelSaving">
                                                    Cancel
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </fieldset>
                                <fieldset>
                                    <small><em class="text-muted">Flight Dates</em></small>
                                    <form editable-form name="flightDates" onaftersave="update()">
                                        <div class="form-horizontal">
                                            <span ng-show="flightDates.$visible">
                                                <flight-dates startdatemodel="campaign.start_date" enddatemodel="campaign.end_date"></flight-dates>
                                            </span>
                                            <span ng-show="!flightDates.$visible">
                                                <div class="form-group m0">
                                                    <label class="col-sm-4 control-label">Start Date</label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static">{{ campaign.start_date | date:'MM/dd/yyyy' }}</p>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a href="#" class="pull-right" ng-click="flightDates.$show()" ng-show="!flightDates.$visible" analytics-on="click" analytics-event="ViewCampaign_ShowFlightDates">
                                                            <span class="fa fa-edit"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="form-group m0">
                                                    <label class="col-sm-4 control-label">End Date</label>
                                                    <div class="col-sm-8">
                                                        <p class="form-control-static">{{ campaign.end_date | date:'MM/dd/yyyy' }}</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="pull-right">
                                            <!-- buttons to submit / cancel form -->
                                            <span ng-show="flightDates.$visible">
                                                <br/>
                                                <button type="submit" class="btn btn-xs btn-primary" ng-disabled="flightDates.$waiting" analytics-on="click" analytics-event="ViewCampaign_SaveFlightDates">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-xs btn-default" ng-disabled="flightDates.$waiting" ng-click="flightDates.$cancel()" analytics-on="click" analytics-event="ViewCampaign_CancelSaveFlightDates">
                                                    Cancel
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </fieldset>
                            <!--</div>-->
                        </tab>
                        <tab heading="Bids">
                            <div class="panel-body">
                                <fieldset>
                                    <form editable-form name="bidsInline" onaftersave="update()">
                                        <div class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group m0">
                                                    <label class="col-sm-4 control-label">Base Bid</label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static">
                                                            <span editable-number="campaign.base_bid" e-name="base_bid" e-min="{{ min_base_bid }}" e-max="{{ campaign.max_bid }}" e-required e-step="0.01">{{ campaign.base_bid | currency:"$":2 }}</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a href="#" class="pull-right" ng-click="bidsInline.$show()" ng-show="!bidsInline.$visible" analytics-on="click" analytics-event="ViewCampaign_ShowBids">
                                                            <span class="fa fa-edit"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="form-group m0">
                                                    <label class="col-sm-4 control-label">Max Bid</label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static">
                                                            <span editable-number="campaign.max_bid" e-name="name" e-min="{{ campaign.base_bid }}" e-step="0.01" e-required>{{ campaign.max_bid | currency:"$":2 }}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <!-- TODO: resolve deploymentMode differences -->
                                            <fieldset ng-if="deploymentMode === 'contentNetwork'">
                                                <div class="form-horizontal">
                                                    <div class="form-group m0">
                                                        <label class="col-sm-4 control-label">
                                                            Multi-Bid
                                                        </label>

                                                        <div class="col-sm-8 form-control-static">
                                                            <label class="switch">
                                                                <input type="checkbox" checked="checked" ng-model="campaign.multi_bid" ng-click="toggleMultiBid()"/>
                                                                <span></span>
                                                            </label>
                                                            <div class="label" ng-class="campaign.multi_bid ? 'label-success':'label-default'">{{ campaign.multi_bid ? "On":"Off"}}</div>
                                                            <a href="#" tooltip="{{ TOOLTIPS.multi_bid }}" tooltip-class="wd-md" tooltip-placement="right" analytics-on="click" analytics-event="CampaignWizard_TooltipMultiBid">
                                                                <em class="fa fa-question-circle"></em>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <!-- TODO: resolve deploymentMode differences -->
                                            <fieldset>
                                                <div class="form-horizontal">
                                                    <div class="form-group m0">
                                                        <label class="col-sm-4 control-label">
                                                            Even Pacing
                                                        </label>

                                                        <div class="col-sm-8 form-control-static">
                                                            <label class="switch">
                                                                <input type="checkbox" checked="checked" ng-model="campaign.even_pacing" ng-click="toggleEvenPacing()"/>
                                                                <span></span>
                                                            </label>
                                                            <div class="label" ng-class="campaign.even_pacing ? 'label-success':'label-default'">{{ campaign.even_pacing ? "On":"Off"}}</div>
                                                            <a href="#" tooltip="{{ TOOLTIPS.even_pacing }}" tooltip-class="wd-md" tooltip-placement="right" analytics-on="click" analytics-event="CampaignWizard_TooltipEvenPacing">
                                                                <em class="fa fa-question-circle"></em>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="pull-right">
                                            <!-- buttons to submit / cancel form -->
                                            <span ng-show="bidsInline.$visible">
                                                <button type="submit" class="btn btn-xs btn-primary" ng-disabled="bidsInline.$waiting" analytics-on="click" analytics-event="ViewCampaign_SaveBids">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-xs btn-default" ng-disabled="bidsInline.$waiting" ng-click="bidsInline.$cancel()" analytics-on="click" analytics-event="ViewCampaign_CancelSaveBids">
                                                    Cancel
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </tab>
                        <tab heading="Targeting">
                            <div class="panel-body">
                                <!-- Frequency cap setting -->
                                <fieldset>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Frequency Cap</label>
                                        <div class="col-sm-8">
                                            <a href="#"
                                                editable-text="campaign.frequency"
                                                e-type="number"
                                                onaftersave="saveCampaignFrequency()">
                                                {{ campaign.frequency || 0 }} impressions
                                            </a> / 24 hrs
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- Inventory targeting panel -->
                                <fieldset>
                                    <small><em class="text-muted">Inventory</em></small>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Sites, Pages & Placements</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">
                                                <strong>
                                                    <a data-ng-href="#!/advertiser/{{advertiser._id}}/campaign/{{campaign._id}}/placement-targets" analytics-on="click" analytics-event="ViewCampaign_PlacementTargets"><span class="fa fa-sliders"></span>  {{ campaign.inventory_targets.length + campaign.blocked_inventory.length || 0 }} Inventory Targets Set</a>
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- Geographical targeting panel -->
                                <fieldset>
                                    <small><em class="text-muted">Geographical</em></small>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Countries, Regions & Cities</label>
                                        <div class="col-sm-8">
                                            <strong>
                                                <a data-ng-href="#!/advertiser/{{advertiser._id}}/campaign/{{campaign._id}}/geo-targets"
                                                    analytics-on="click"
                                                    analytics-event="ViewCampaign_GeoTargets">
                                                    <div ng-if="campaign.target_only_geos.length">
                                                        <i class="fa fa-map-marker"></i> <strong>Whitelist</strong>
                                                        <ul>
                                                            <li ng-repeat="geo in campaign.target_only_geos">
                                                                <strong>{{ geo.name ? geo.name : geo.target }} ({{ geo.children.length ? geo.children.length + " Child Targets": "Entire Region"}})</strong>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div ng-if="campaign.geo_targets.length">
                                                        <i class="fa fa-sliders"></i> <strong>Custom Bids</strong>
                                                        <ul>
                                                            <li ng-repeat="geo in campaign.geo_targets">
                                                                <strong>{{ geo.name ? geo.name : geo.target }} ({{ geo.children.length ? geo.children.length + " Child Targets": "Entire Region"}})</strong>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div ng-if="campaign.blocked_geos.length">
                                                        <i class="fa fa-ban"></i> <strong>Blacklist</strong>
                                                        <ul>
                                                            <li ng-repeat="geo in campaign.blocked_geos">
                                                                <strong>{{ geo.name ? geo.name : geo.target }} ({{ geo.children.length ? geo.children.length + " Child Targets": "Entire Region"}})</strong>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div ng-if="!campaign.geo_targets.length && !campaign.blocked_geos.length && !campaign.target_only_geos.length">
                                                        <i class="fa fa-sliders"></i> 0 Geo Targets Set
                                                    </div>
                                                </a>
                                            </strong>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- Keyword targeting panel -->
                                <fieldset>
                                    <small><em class="text-muted">Keyword</em></small>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Page Keywords</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">
                                                <strong>
                                                    <a data-ng-href="#!/advertiser/{{advertiser._id}}/campaign/{{campaign._id}}/keyword-targets"
                                                        analytics-on="click"
                                                        analytics-event="ViewCampaign_KeywordTargets">
                                                        <span class="fa fa-sliders"></span> 
                                                        {{ campaign.keyword_targets.length + campaign.blocked_keywords.length || 0 }} Keyword Targets Set
                                                    </a>
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </tab>
                        <tab heading="Creatives">
                            <div class="row mb">
                                <small><em class="text-muted">Creatives</em></small>
                                <div class="pull-right">
                                    <strong>
                                        <a data-ng-href="#!/advertiser/{{advertiser._id}}/campaign/{{campaign._id}}/edit-creatives" analytics-on="click" analytics-event="ViewCampaign_EditCreatives">
                                            <i class="fa fa-edit"></i> Manage Creatives
                                        </a>
                                    </strong>
                                    &nbsp;|&nbsp;
                                    <button type="button" class="btn btn-xs btn-labeled btn-primary" ng-click="addNewCreatives()" analytics-event="ViewCampaign_UploadCreatives" analytics-on="click">
                                            <span class="btn-label"><i class="fa fa-plus"></i></span> Add New
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="box-placeholder" ng-show="!campaign.creativegroups.length">
                                    <span class="fa fa-exclamation-circle"></span>&nbsp;&nbsp;<em>No creatives yet.</em>
                                </div>
                                <div ng-repeat="creativegroup in campaign.creativegroups">
                                    <fieldset>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr ng-repeat="creative in creativegroup.creatives" ng-click="creativePreview(creative)">
                                                        <td class="col-sm-1"><span class="label" ng-class="creative.active ? 'label-success':'label-default'">{{ creative.active ? "Active":"Inactive"}}</span></td>
                                                        <td class="col-sm-3">
                                                            <div ng-switch="creative.hostingType">
                                                                <div ng-switch-when="doubleclick">
                                                                    <em><i class="fa fa-image"></i> Click to Preview</em>
                                                                </div>
                                                                <div ng-switch-default>
                                                                    <img ng-src="{{ creative.type === 'native' ? creative.native.secureImageUrl : creative.secureUrl }}" class="smallthumbnail"/>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-6">
                                                            <span ng-class="creative.active ? 'text-bold':'text-thin'">
                                                                <hm-read-more
                                                                    hm-text="{{ creative.type === 'native' ? creative.native.headline : creative.name }}"
                                                                    hm-limit="40"
                                                                    hm-more-text="more"
                                                                    hm-less-text="less"
                                                                    hm-dots-class="dots"
                                                                    hm-link-class="links" ng-click="$event.stopPropagation()">
                                                                </hm-read-more>
                                                            </span>
                                                        </td>
                                                        <td class="col-sm-2">{{ creative.type === 'native' ? 'Native' : creativegroup.w + 'x' + creativegroup.h }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                <!--</div>-->
            </div>
            <div class="col-md-7">
                <div class="custom-section-title no-font-style pl-xl">
                    <span>Advertiser QuickStats</span>
                    <span class="pull-right">
                        Want to see more data? &nbsp;
                        <a href="/#!/analytics" class=" text-underline" analytics-on="click" analytics-event="ViewCampaign_Analytics"><i class="fa fa-signal"></i> Go to Analytics</a>
                    </span>
                </div>
                <div id="campaignGraphPanel" class="panel panel-default ml-xl mt-sm" data-ng-init="getTabData(dateRangeSelection)">
                    <div class="panel-heading">
                        <div class="panel-title">
                            {{ dateRanges[dateRangeSelection].label }}
                            &nbsp&nbsp&nbsp
                            <small>
                                <em class="text-muted">
                                    Reporting Timezone: {{ authentication.user.tz }}
                                </em>
                            </small>
                            <span class="pull-right">
                                <button class="btn btn-sm btn-default" ng-click="getTabData('7d')" analytics-on="click" analytics-event="ViewCampaign_Query7d">7d</button>
                                <button class="btn btn-sm btn-default" ng-click="getTabData('30d')" analytics-on="click" analytics-event="ViewCampaign_Query30d">30d</button>
                                <button class="btn btn-sm btn-default" ng-click="getTabData('90d')" analytics-on="click" analytics-event="VIewCampaign_Query90d">90d</button>
                            </span>
                        </div>
                    </div>
                    <tabset>
                        <tab heading="Performance Summary" select="getTabData(dateRangeSelection, 'summary')">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6 text-center">
                                        <p>Impressions</p>
                                        <div class="h3">{{ impressions | number: 0 }}</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <p>CTR</p>
                                        <div class="h3">{{ CTR | percentage:2 }}</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <p>Clicks</p>
                                        <div class="h3">{{ clicks | number: 0 }}</div>
                                    </div>
                                    <div class="col-sm-1 col-xs-6 text-center">
                                        <p>Actions</p>
                                        <div class="h3">{{ actions | number: 0 }}</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <p>Spend</p>
                                        <div class="h3">{{ spend | currency:"$":"0" }}</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <p>Avg. {{ pricing }}</p>
                                        <div class="h3">
                                            {{ pricing === 'CPC' ? spend / clicks : spend / impressions * 1000 | currency:"$":"2" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <daily-ad-stats-graph time-series="campaignTimeSeries" show-points="showPoints" height="250px"></daily-ad-stats-graph>
                            </div>
                        </tab>
                        <tab heading="Sites" select="getTabData(dateRangeSelection,'sites')">
                            <table datatable="ng" dt-options="dtOptions_site" dt-column-defs="dtColumnDefs_site" class="row-border hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Spend</th>
                                    <th>Impressions</th>
                                    <th>
                                        Win Rate
                                        <!--<a href="#" tooltip="Bids / Impressions" tooltip-placement="right">-->
                                            <!--<em class="fa fa-question-circle"></em>-->
                                        <!--</a>-->
                                    </th>
                                    <th>
                                        CTR
                                        <!--<a href="#" tooltip="Clicks / Impressions" tooltip-placement="right">-->
                                            <!--<em class="fa fa-question-circle"></em>-->
                                        <!--</a>-->
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in siteData">
                                    <td><img ng-src="{{ row._id.site.logo_secure_url }}" class="client-logo-sm"/></td>
                                    <td style="max-width: 120px; word-wrap: break-word">{{ row._id.site.name }}<em ng-hide="row._id.site.name">Deleted Site!</em></td>
                                    <td>{{ row.spend | currency:"$":"0" }}</td>
                                    <td>{{ row.imps | number: 0 }}</td>
                                    <td>{{ row.imps / row.bids | percentage: 0 }}</td>
                                    <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                    <td>{{ row.view_convs + row.click_convs }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading="Creatives" select="getTabData(dateRangeSelection,'creatives')">
                            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Impressions</th>
                                    <th>CTR</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in creativeData">
                                    <td><img ng-src="{{ row._id.creative.url }}" class="xsthumbnail"/></td>
                                    <td style="max-width: 150px; word-wrap: break-word">{{ row._id.creative.name }}<em ng-hide="row._id.creative.name">Deleted Creative!</em></td>
                                    <td>{{ row._id.creative.w }}{{ row._id.creative.w ? 'x' : ''}}{{ row._id.creative.h }}</td>
                                    <td>{{ row.imps | number: 0 }}</td>
                                    <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                    <td>{{ row.view_convs + row.click_convs }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                    </tabset>
                </div>
            </div>
        </section>
    </div>
</div>