<h3>
    <div class="pull-right col-sm-1" style="text-align: right">
        <logo-widget model="advertiser" size="sm" oncompleteall="update()" onremove="update()"></logo-widget>
        <small class="text-muted"><span class="icon-share"></span>&nbsp;&nbsp;{{ campaign.clique }}</small>
    </div>
    {{campaign.name}}
    <ul class="breadcrumb">
        <li><a ui-sref="app.home">Home</a>
        </li>
        <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
            <span ng-switch-when="true">{{state.title}}</span>
        </li>
    </ul>
</h3>
<section data-ng-init="findOne()">
    <!--<div>-->
        <!--<small>-->
            <!--<em class="text-muted">-->
                <!--Created on-->
                <!--<span data-ng-bind="campaign.tstamp | date:'mediumDate'"></span>-->
                <!--by-->
                <!--<span data-ng-bind="advertiser.user.displayName"></span>-->
            <!--</em>-->
        <!--</small>-->
    <!--</div>-->
    <div ng-show="creation_error" class="alert alert-danger col-md-12">{{ creation_error }}</div>
    <div class="col-md-5">
        <!--BEGIN Campaign Basics Panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Campaign Settings
                </div>
            </div>
            <tabset>
                <tab heading="Basics">
                    <div class="panel-body">
                        <!--Only show activate controls for admins right now-->
                        <fieldset ng-show="authentication.user.roles.indexOf('admin') > -1">
                            <small><em class="text-muted">Status</em></small>
                            <div class="form-horizontal">
                                <div class="form-group m0">
                                    <label class="col-sm-4 control-label">Active</label>
                                    <div class="col-sm-8 form-control-static">
                                        <label class="switch">
                                            <input type="checkbox" checked="checked" ng-model="campaign.active" ng-click="toggleCampaignActive()"/>
                                            <span></span>
                                        </label>
                                        <div class="label" ng-class="campaign.active ? 'label-success':'label-default'">{{ campaign.active ? "Active":"Inactive"}}</div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <small><em class="text-muted">Basics</em></small>
                            <form editable-form name="campaignBasicsInline" onaftersave="update()">
                                <div class="form-horizontal">
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Name</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">
                                                <span editable-text="campaign.name" e-name="name" e-required>{{ campaign.name }}</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="#" class="pull-right" ng-click="campaignBasicsInline.$show()" ng-show="!campaignBasicsInline.$visible">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Description</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">
                                                <span editable-text="campaign.description" e-name="description" >{{ campaign.description }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Budget</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">
                                                <span editable-number="campaign.budget" e-name="budget" >{{ campaign.budget| currency:"$":"0"}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <!-- buttons to submit / cancel form -->
                                    <span ng-show="campaignBasicsInline.$visible">
                                        <button type="submit" class="btn btn-xs btn-primary" ng-disabled="campaignBasicsInline.$waiting">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-xs btn-default" ng-disabled="campaignBasicsInline.$waiting" ng-click="campaignBasicsInline.$cancel()">
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </fieldset>
                        <fieldset>
                            <small><em class="text-muted">Flight Dates</em></small>
                            <form editable-form name="flightDates" onaftersave="update()">
                                <div class="form-horizontal">
                                    <span ng-show="flightDates.$visible">
                                        <flight-dates startdatemodel="campaign.start_date" enddatemodel="campaign.end_date"></flight-dates>
                                    </span>
                                    <span ng-show="!flightDates.$visible">
                                        <div class="form-group m0">
                                            <label class="col-sm-4 control-label">Start Date</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">{{ campaign.start_date | date:'MM/dd/yyyy' }}</p>
                                            </div>
                                            <div class="col-sm-2">
                                                <a href="#" class="pull-right" ng-click="flightDates.$show()" ng-show="!flightDates.$visible">
                                                    <span class="fa fa-edit"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group m0">
                                            <label class="col-sm-4 control-label">End Date</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{ campaign.end_date | date:'MM/dd/yyyy' }}</p>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="pull-right">
                                    <!-- buttons to submit / cancel form -->
                                    <span ng-show="flightDates.$visible">
                                        <br/>
                                        <button type="submit" class="btn btn-xs btn-primary" ng-disabled="flightDates.$waiting">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-xs btn-default" ng-disabled="flightDates.$waiting" ng-click="flightDates.$cancel()">
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </tab>
                <tab heading="Bids">
                    <div class="panel-body">
                        <fieldset>
                            <form editable-form name="bidsInline" onaftersave="update()">
                                <div class="form-horizontal">
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Base Bid</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">
                                                <span editable-number="campaign.base_bid" e-name="base_bid" e-min="{{ min_base_bid }}" e-max="{{ campaign.max_bid }}" e-required>{{ campaign.base_bid | currency:"$":2 }}</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="#" class="pull-right" ng-click="bidsInline.$show()" ng-show="!bidsInline.$visible">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group m0">
                                        <label class="col-sm-4 control-label">Max Bid</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">
                                                <span editable-number="campaign.max_bid" e-name="name" e-min="{{ campaign.base_bid }}" e-required>{{ campaign.max_bid | currency:"$":2 }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <!-- buttons to submit / cancel form -->
                                    <span ng-show="bidsInline.$visible">
                                        <button type="submit" class="btn btn-xs btn-primary" ng-disabled="bidsInline.$waiting">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-xs btn-default" ng-disabled="bidsInline.$waiting" ng-click="bidsInline.$cancel()">
                                            Cancel
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </tab>
                <tab heading="Targeting">
                    <div class="panel-body">
                        <fieldset>
                            <small><em class="text-muted">Inventory</em></small>
                            <div class="form-group m0">
                                <label class="col-sm-4 control-label">Sites</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">
                                        <strong>
                                            <a href="#" ng-click="editPlacementTargets()"><span class="fa fa-sliders"></span>  {{ campaign.placement_targets.length || 0 }} Placement Targets Set</a>
                                        </strong>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <small><em class="text-muted">Geographical</em></small>
                            <div class="form-group m0">
                                <label class="col-sm-4 control-label">DMAs</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">
                                        <strong>
                                            <a href="#" ng-click="editDMATargets()"><span class="fa fa-sliders"></span>  {{ campaign.dma_targets.length || 0 }} DMA Targets Set</a>
                                        </strong>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </tab>
                <tab heading="Creatives">
                    <div class="panel-body">
                        <a href="#" class="pull-right" ng-click="editCreatives()">
                            <span class="fa fa-edit"></span>
                        </a>
                        <div class="box-placeholder" ng-show="!campaign.creativegroups.length">
                            <span class="fa fa-exclamation-circle"></span>&nbsp;&nbsp;<em>No creatives yet.</em>
                        </div>
                        <div ng-repeat="creativegroup in campaign.creativegroups">
                            <fieldset>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr ng-repeat="creative in creativegroup.creatives">
                                                <td class="col-sm-3" ng-click="creativePreview(creative)"><img src="{{ creative.secureUrl }}" class="smallthumbnail"/></td>
                                                <td class="col-sm-6"><b>{{ creative.name }}</b></td>
                                                <td class="col-sm-3">{{ creativegroup.w }}x{{ creativegroup.h }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="col-md-7">
        <div id="campaignGraphPanel" class="panel panel-default" data-ng-init="getTabData(dateRangeSelection)">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ dateRanges[dateRangeSelection].label }}
                    &nbsp&nbsp&nbsp
                    <small>
                        <em class="text-muted">
                            Reporting Timezone: {{ authentication.user.tz }}
                        </em>
                    </small>
                    <span class="pull-right">
                        <button class="btn btn-sm btn-default" ng-click="getTabData('7d')">7d</button>
                        <button class="btn btn-sm btn-default" ng-click="getTabData('30d')">30d</button>
                        <button class="btn btn-sm btn-default" ng-click="getTabData('90d')">90d</button>
                    </span>
                </div>
            </div>
            <tabset>
                <tab heading="Performance Summary" select="getTabData(dateRangeSelection, 'summary')">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2 col-xs-6 text-center">
                                <p>Impressions</p>
                                <div class="h3">{{ impressions | number: 0 }}</div>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <p>CTR</p>
                                <div class="h3">{{ CTR | percentage:2 }}</div>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <p>Clicks</p>
                                <div class="h3">{{ clicks | number: 0 }}</div>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <p>Actions</p>
                                <div class="h3">{{ actions | number: 0 }}</div>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <p>Spend</p>
                                <div class="h3">{{ spend | currency:"$":"0" }}</div>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <p>Avg. CPM</p>
                                <div class="h3">{{ (spend / impressions) * 1000 | currency:"$":"2" }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <daily-ad-stats-graph time-series="timeSeries" show-points="showPoints" height="250px"></daily-ad-stats-graph>
                    </div>
                </tab>
                <tab heading="Sites" select="getTabData(dateRangeSelection,'sites')">
                    <table datatable="ng" dt-options="dtOptions_site" dt-column-defs="dtColumnDefs_site" class="row-border hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Spend</th>
                            <th>Impressions</th>
                            <th>
                                Win Rate
                                <a href="#" tooltip="Bids / Impressions">
                                    <em class="fa fa-question-circle"></em>
                                </a>
                            </th>
                            <th>
                                CTR
                                <a href="#" tooltip="Clicks / Impressions">
                                    <em class="fa fa-question-circle"></em>
                                </a>
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in siteData">
                            <td><img src="{{ row._id.site.logo_secure_url }}" class="client-logo-sm"/></td>
                            <td style="max-width: 120px; word-wrap: break-word">{{ row._id.site.name }}<em ng-hide="row._id.site.name">Deleted Site!</em></td>
                            <td>{{ row.spend | currency:"$":"0" }}</td>
                            <td>{{ row.imps | number: 0 }}</td>
                            <td>{{ row.imps / row.bids | percentage: 0 }}</td>
                            <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                            <td>{{ row.view_convs + row.click_convs }}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
                <tab heading="Creatives" select="getTabData(dateRangeSelection,'creatives')">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Impressions</th>
                            <th>CTR</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in creativeData">
                            <td><img src="{{ row._id.creative.url }}" class="xsthumbnail"/></td>
                            <td style="max-width: 150px; word-wrap: break-word">{{ row._id.creative.name }}<em ng-hide="row._id.creative.name">Deleted Creative!</em></td>
                            <td>{{ row._id.creative.w }}{{ row._id.creative.w ? 'x' : ''}}{{ row._id.creative.h }}</td>
                            <td>{{ row.imps | number: 0 }}</td>
                            <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                            <td>{{ row.view_convs + row.click_convs }}</td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</section>