<h3>
    <div class="pull-right" data-ng-show="authentication.user._id == advertiser.user">
        <!--<a class="btn btn-primary" href="/#!/advertiser/{{advertiser._id}}/edit">-->
        <!--<i class="fa fa-edit"></i>-->
        <!--</a>-->
    </div>
    {{campaign.name}}
    <ul class="breadcrumb">
        <li><a ui-sref="app.home">Home</a>
        </li>
        <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
            <span ng-switch-when="true">{{state.title}}</span>
        </li>
    </ul>
</h3>
<section data-ng-init="findOne()">
    <div>
        <small>
            <em class="text-muted">
                Created on
                <span data-ng-bind="campaign.tstamp | date:'mediumDate'"></span>
                by
                <span data-ng-bind="advertiser.user.displayName"></span>
            </em>
        </small>
    </div>
    <div ng-show="creation_error" class="alert alert-danger col-md-12">{{ creation_error }}</div>

    <div class="col-md-4"><campaign-inline campaign="campaign" onaftersave="update()"></campaign-inline></div>
    <div class="col-md-12 box-placeholder">
        <h4>Clique&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><span class="fa fa-edit"></span></a></h4>
        <div class="col-sm-4"><b>Clique</b></div><div class="col-sm-8">{{ campaign.clique }}</div>
    </div>
    <div class="col-md-12 box-placeholder">
        <h4>Campaign Targeting&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><span class="fa fa-edit"></span></a></h4>
        <div class="col-sm-4"><b>Base Bid</b></div><div class="col-sm-8">{{ campaign.base_bid | currency:"$":2 }}</div>
        <div class="col-sm-4"><b>Max Bid</b></div><div class="col-sm-8">{{ campaign.max_bid | currency:"$":2 }}</div>
        <div class="col-sm-4"><b>DMA Targets</b></div>
        <div class="col-sm-8">
            <div ng-repeat="target in campaign.dma_targets">
                {{ target.name }} - {{ Math.min(target.weight * campaign.base_bid, campaign.max_bid) | currency : "$" : 2}}
            </div>
        </div>
    </div>
    <div class="col-md-12 box-placeholder">
        <h4>Creatives&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><span class="fa fa-edit"></span></a></h4>
        <div ng-repeat="creativegroup in campaign.creativegroups">
            <div ng-repeat="creative in creativegroup.creatives">
            <div class="col-sm-6"><b>{{ creative.name }}</b></div><div class="col-sm-6"><span class="icon-cursor mr"></span>{{ creative.click_url }}</div>
            </div>
        </div>
    </div>
</section>