<div class="unwrap">
    <section ui-view="cover"></section>
    <div class="text-center bg-gray-dark">
        <div class="row row-table">
            <div class="col-xs-3 br p mb hover-gray" ng-click="$state.transitionTo('app.settings.profile')" ng-class="{'bg-gray': $state.$current.name === 'app.settings.profile'}">
                <h4 class="m0"><i class="fa fa-user"></i> My Profile</h4>
                <small>Manage Your Account</small>
            </div>
            <div class="col-xs-3 br p mb hover-gray" ng-click="$state.transitionTo('app.settings.organization')" ng-class="{'bg-gray': $state.$current.name === 'app.settings.organization'}">
                <h4 class="m0"><i class="fa fa-building-o"></i> Organization</h4>
                <small>Edit Organization Preferences, Manage Users</small>
            </div>
            <div class="col-xs-3 p-lg mb-xl hover-gray" ng-click="$state.transitionTo('app.settings.billing')" ng-class="{'bg-gray': $state.$current.name === 'app.settings.billing'}">
                <h4 class="m0"><i class="fa fa-credit-card"></i> Billing</h4>
                <small>Billing History & Preferences (Admin Only)</small>
            </div>
            <div class="col-xs-3 br p mb hover-gray" ng-click="$state.transitionTo('app.settings.password')" ng-class="{'bg-gray': $state.$current.name === 'app.settings.password'}">
                <h4 class="m0"><i class="fa fa-lock"></i> Security</h4>
                <small>Change Your Password</small>
            </div>
        </div>
    </div>
    <div class="p-lg">
        <div class="row">
            <!-- Main Content Panel - SubViews in Profile State -->
            <div ng-switch on="user.role">
                <div ng-switch-when="admin">
                    <section ui-view="main"></section>
                </div>
                <div ng-switch-default>
                    <div ng-switch on="$state.$current.data.adminOnly">
                        <div ng-switch-when="true">
                            <div class="col-md-12 text-center">
                                <h4><i class="fa fa-2x fa-times-circle"></i>  Sorry, only admins have access to this page.</h4>.
                                <p>Please contact your Organization's administrator, <a href="mailto:{{ organization.owner.email}}">{{ organization.owner.displayName }}</a></p>
                            </div>
                        </div>
                        <div ng-switch-default>
                            <section ui-view="main"></section>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-lg-3">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-body">-->
                        <!--<div class="text-center">-->
                            <!--<h3 class="mt0">Ted Berry</h3>-->
                            <!--<p>Lead director</p>-->
                        <!--</div>-->
                        <!--<hr/>-->
                        <!--<ul class="list-unstyled ph-xl">-->
                            <!--<li>-->
                                <!--<em class="fa fa-home fa-fw mr-lg"></em>Somewhere, Neverland</li>-->
                            <!--<li>-->
                                <!--<em class="fa fa-briefcase fa-fw mr-lg"></em><a href="#">Themicon.co</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<em class="fa fa-graduation-cap fa-fw mr-lg"></em>Master Designer</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>