<section data-ng-init="find()">
    <div class="jumbotron text-center">
        <h3 class="text-gray-darker"><i class="fa fa-rocket"></i> We're just getting started.</h3>
        <p class="lead">The following websites are some of the finest outdoor-focused publications in existence, and we're excited to partner with all of them. <strong>But this is only the beginning.</strong> We'll keep you posted as more sites join Cliques in the coming months!</p>
    </div>
    <div class="site-container">
        <div class="col-md-3 col-sm-4 col-xs-5"
            ng-repeat="site in allSites | orderBy: 'name'" >
            <div class="site-block"
                ng-click="getDescription(site)">
                <div class="logo">
                    <img src="{{ site.logo_url }}" alt="">
                </div>
                <h3>{{ site.name }}</h3>
                <div class="description">{{ site.shortDescription }}</div>
            </div>
        </div>
    </div>
</section>