<!-- top navbar-->
<header ng-include="'/modules/core/views/partials/top-navbar.html'" ng-controller="HeaderController" class="topnavbar-wrapper"></header>
<!-- Main section-->
<img src="https://storage.googleapis.com/cliquesads-images/photo-1439694458393-78ecf14da7f9.jpg" class="bg">
<div class="loggedout">
   <!-- Page content-->
   <div data-ui-view class="content-wrapper"></div>
    <!-- Page footer-->
</div>
<!--<footer ng-include="'/modules/core/views/partials/footer.html'"></footer>-->