<h4>Invite New Organization to Join Cliques</h4>
<hr/>
<form name="accessLinkForm" id="accessLinkForm" data-ng-submit="submit()" autocomplete="off">
    <fieldset>
        <table>
            <thead>
                <th class="col-sm-4"><strong>First Name*</strong></th>
                <th class="col-sm-4"><strong>Last Name*</strong></th>
                <th class="col-sm-4"><strong>Email*</strong></th>
            </thead>
            <tbody>
                <tr>
                    <td class="col-sm-4">
                        <input type="text" id="firstName" required="required" name="firstName" class="form-control" data-ng-model="accessLink.firstName" placeholder="John">
                    </td>
                    <td class="col-sm-4">
                        <input type="text" id="lastName" required="required" name="lastName" class="form-control" data-ng-model="accessLink.lastName" placeholder="Snow">
                    </td>
                    <td class="col-sm-4">
                        <input type="email" id="email" required="required" name="email" class="form-control" data-ng-model="accessLink.email" placeholder="john-snow@gmail.com">
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset>
        <table class="mt">
            <thead>
                <th class="col-sm-7"><strong>Organization Type</strong></th>
                <th class="col-sm-5"><strong>
                    <span ng-if="accessLink.orgType === 'advertiser'">
                        Delegated Advertiser
                    </span>
                    <span ng-if="accessLink.orgType === 'publisher'">
                        Delegated Advertiser
                    </span>
                </strong></th>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-7">
                        <div class="col-sm-4 p0">
                            <div class="radio c-radio">
                                <label ng-class="disabled ? 'text-muted': ''">
                                    <input type="radio" name="Advertiser" ng-model="accessLink.orgType" value="advertiser" />
                                    <span class="fa fa-circle"></span>Advertiser
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 p0">
                            <div class="radio c-radio">
                                <label ng-class="disabled ? 'text-muted': ''">
                                    <input type="radio" name="Publisher" ng-model="accessLink.orgType" value="publisher" />
                                    <span class="fa fa-circle"></span>Publisher
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 p0">
                            <div class="radio c-radio">
                                <label ng-class="disabled ? 'text-muted': ''">
                                    <input type="radio" name="Unspecified" ng-model="accessLink.orgType" value="" />
                                    <span class="fa fa-circle"></span><em>None</em>
                                </label>
                            </div>
                        </div>
                    </td>
                    <!--Min-width just set to prevent left cell from collapsing when no select is present-->
                    <td class="col-md-5" style="min-width: 240px">
                        <div class="form-group pt" ng-if="accessLink.orgType === 'advertiser'">
                            <select name="advertiserSelect" id="advertiserSelect" class="form-control chosen-select" data-ng-model="accessLink.delegatedAdvertiser" ng-options="advertiser.id as advertiser.name for advertiser in advertisers track by advertiser.id">
                                <option value="" selected>Select an Advertiser to delegate.</option>
                            </select>
                        </div>
                        <div class="form-group pt" ng-if="accessLink.orgType === 'publisher'">
                            <select name="publisherSelect" id="publisherSelect" class="form-control chosen-select" data-ng-model="accessLink.delegatedPublisher" ng-options="publisher.id as publisher.name for publisher in publishers track by publisher.id">
                                <option value="" selected>Select a Publisher to delegate.</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <small class="text-muted">* Required</small>
    <div class="row text-center">
        <div class="text-center form-group mt-xl">
            <button type="submit" class="btn btn-large btn-primary">Save</button>
        </div>
        <div data-ng-show="error" class="alert alert-danger">
            <strong data-ng-bind="error"></strong>
        </div>
        <div ng-show="loading">
            <div class="ball-pulse">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</form>