<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="description">Description*</label>
            <input type="text" id="description" required="required" name="description" class="form-control" data-ng-model="promo.description" placeholder="10% off">
        </div>
    </div>
    <div class="col-md-2">
        <label>Active*</label>
        <div class="form-group form-control-static" ng-init="promo.active = promo.active || true">
            <label class="switch">
                <input type="checkbox" checked="checked" ng-model="promo.active"/>
                <span></span>
            </label>
            <div class="label" ng-class="promo.active ? 'label-success':'label-default'">{{ promo.active ? "Active":"Inactive"}}</div>
        </div>
    </div>
    <div class="col-md-4">
        <label>Promo Type*</label>
        <div class="form-group">
            <div class="radio c-radio" ng-init="promo.type = promo.type || 'advertiser'">
                <label ng-repeat="type in typeChoices">
                    <input type="radio" ng-model="promo.type" value="{{ type }}">
                    <span class="fa fa-circle"></span>{{ type | capitalize }} &nbsp;
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row pt">
    <div class="col-md-4">
        <div class="form-group">
            <label for="promoAmount" class="mb0 pb0">Promo Fixed $ Amount</label>
            <p><small class="text-muted pb-sm">Promo amounts should be <strong>negative</strong></small></p>
            <div class="input-group">
                <span class="input-group-addon align-top">$</span>
                <input type="number" id="promoAmount" max="0" step="0.01" name="promoAmount" class="form-control" data-ng-model="promo.promoAmount" placeholder="500">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="minimumSpend" class="mb0 pb0">Minimum Spend $ Amount</label>
            <p><small class="text-muted pb-sm">Min. spend level to get this promo</small></p>
            <div class="input-group">
                <span class="input-group-addon align-top">$</span>
                <input type="number" id="minimumSpend" name="minimumSpend" class="form-control" data-ng-model="promo.minimumSpend" placeholder="500">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label for="percentage" class="mb0 pb0">Percentage Discount</label>
        <p><small class="text-muted pb-sm">Fixed % Discount/Credit</small></p>
        <div class="form-group">
            <input type="number" ng-min="0" ng-max="0.999" step="0.001" id="percentage" name="percentage" class="form-control" data-ng-model="promo.percentage">
        </div>
    </div>
</div>