<section data-ng-controller="AdminDashboardController">
    <em class="custom-section-title">Year-To-Date Stats</em>
    <br/><br/>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <!-- START widget-->
            <a href="/#!/advertiser" analytics-on="click" analytics-event="AdminDashboard_Advertiser">
                <div class="panel widget bg-primary">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-primary-dark pv-md">
                            <em class="icon-bar-chart fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-md pt pb">
                            <div class="h3 mt0">{{ advertisers.length }}</div>
                            <div class="text-uppercase">Advertisers</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <!-- START widget-->
            <a href="/#!/publisher" analytics-on="click" analytics-event="AdminDashboard_Publisher">
                <div class="panel widget bg-green">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-green-dark pv-md">
                            <em class="icon-book-open fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-md pt pb">
                            <div class="h3 mt0">{{ publishers.length }}</div>
                            <div class="text-uppercase">Publishers</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <!-- START widget-->
            <div class="panel widget bg-primary-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-primary pv-md">
                        <em class="icon-graph fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-md pt pb">
                        <div class="h3 mt0">{{ adStats[0].imps | number:"0" }}</div>
                        <div class="text-uppercase">Impressions</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <!-- START widget-->
            <div class="panel widget bg-green-light">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green pv-md">
                        <em class="icon-graph fa-3x"></em>
                    </div>
                    <div class="col-xs-8 pv-md pt pb">
                        <div class="h3 mt0">{{ adStats[0].spend | currency:"$":"0" }}</div>
                        <div class="text-uppercase">Total Ad Spend</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <em>Graphs & Stuff</em>
    <br/><br/>
    <div class="row">
        <div class="col-md-6">
            <div id="dashboardGraphPanel" class="panel panel-default" data-ng-init="getDashboardGraph('7d')">
                <div class="panel-heading">
                    <div class="panel-title">{{ dateRanges[summaryDateRangeSelection].label }}
                        &nbsp&nbsp&nbsp
                        <small>
                            <em class="text-muted">
                                Reporting Timezone: {{ authentication.user.tz }}
                            </em>
                        </small>
                        <span class="pull-right">
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('7d')" analytics-on="click" analytics-event="AdminDashboard_Query7d">7d</button>
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('30d')" analytics-on="click" analytics-event="AdminDashboard_Query30d">30d</button>
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('90d')" analytics-on="click" analytics-event="AdminDashboard_Query90d">90d</button>
                        </span>
                    </div>
                </div>
                <div class="panel-body">
                    <daily-ad-stats-graph time-series="timeSeries" show-points="showPoints" height="250px"></daily-ad-stats-graph>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        {{ dateRanges[dateRangeSelection].label }}
                        &nbsp&nbsp&nbsp
                        <small>
                            <em class="text-muted">
                                Reporting Timezone: {{ authentication.user.tz }}
                            </em>
                        </small>
                        <span class="pull-right">
                            <button class="btn btn-sm btn-default" ng-click="getTabData('7d')" analytics-on="click" analytics-event="AdminDashboard_QueryTabData7d">7d</button>
                            <button class="btn btn-sm btn-default" ng-click="getTabData('30d')" analytics-on="click" analytics-event="AdminDashboard_QueryTabData30d">30d</button>
                            <button class="btn btn-sm btn-default" ng-click="getTabData('90d')" analytics-on="click" analytics-event="AdminDashboard_QueryTabData90d">90d</button>
                        </span>
                    </div>
                </div>
                <tabset>
                    <tab heading="Publishers" select="getTabData(dateRangeSelection,'publishers')">
                        <table datatable="ng" dt-options="dtOptions_pubs" dt-column-defs="dtColumnDefs_pubs" class="row-border hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Publisher</th>
                                <th>Impressions</th>
                                <th>Spend</th>
                                <th>Avg. {{ pricing }}</th>
                                <th>CTR</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in publisherData">
                                <td><img ng-src="{{ row._id.publisher.logo_secure_url }}" class="client-logo-sm"/></td>
                                <td style="max-width: 120px; word-wrap: break-word">{{ row._id.publisher.name }}<em ng-hide="row._id.publisher.name">Deleted Publisher!</em></td>
                                <td>{{ row.imps | number: 0 }}</td>
                                <td>{{ row.spend | currency:"$":"0" }}</td>
                                <td>
                                    <avg-pricing-currency-format imps="{{ row.imps }}" spend="{{ row.spend }}" clicks="{{ row.clicks }}>
                                    </avg-pricing-currency-format>
                                </td>
                                <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                <td>{{ row.view_convs + row.click_convs }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </tab>
                    <tab heading="Advertisers" select="getTabData(dateRangeSelection,'advertisers')">
                        <table datatable="ng" dt-options="dtOptions_advs" dt-column-defs="dtColumnDefs_advs" class="row-border hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Advertiser</th>
                                <th>Impressions</th>
                                <th>Spend</th>
                                <th>Avg. {{ pricing }}</th>
                                <th>CTR</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in advertiserData">
                                <td><img ng-src="{{ row._id.advertiser.logo_secure_url }}" class="client-logo-sm"/></td>
                                <td style="max-width: 120px; word-wrap: break-word">{{ row._id.advertiser.name }}<em ng-hide="row._id.advertiser.name">Deleted Publisher!</em></td>
                                <td>{{ row.imps | number: 0 }}</td>
                                <td>{{ row.spend | currency:"$":"0" }}</td>
                                <td>
                                    <avg-pricing-currency-format imps="{{ row.imps }}" spend="{{ row.spend }}" clicks="{{ row.clicks }}>
                                    </avg-pricing-currency-format>
                                </td>
                                <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                <td>{{ row.view_convs + row.click_convs }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</section>