<section data-ng-controller="AdvertiserDashboardController">
    <div class="jumbotron text-center" ng-show="advertisers.length == 0">
        <div class="text-center">
            Thanks for being a part of the Cliques Beta Program!
        </div>
        <br>
        <div class="row">
            <p class="lead">
                It looks like you haven't set up any campaigns yet.  <strong>Let's change that now.</strong>
            </p>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-primary btn-lg" href="#!/advertiser/create">Get Started</a>
            </p>
        </div>
    </div>
    <section ng-show="advertisers.length > 0">
        <em class="custom-section-title">Year-To-Date Stats</em>
        <br/><br/>

        <!-- YCX -->
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="stat-block">
                    <div class="text-center stat-icon">
                        <i class="fa fa-eye fa-5x"></i>
                    </div>
                    <div class="stat-value">
                        <div class="value-text">
                            <strong>{{ adStats[0].imps | number:"0" }}</strong>
                        </div>
                        <div class="note-text text-uppercase">Impressions</div>
                    </div>
                </div>

                <div class="stat-block">
                    <div class="text-center stat-icon">
                        <i class="fa fa-usd fa-5x"></i>
                    </div>
                    <div class="stat-value">
                        <div class="value-text">
                            <strong>{{ adStats[0].spend | currency:"$":"0" }}</strong>
                        </div>
                        <div class="note-text text-uppercase">Total Ad Spend</div>
                    </div>
                </div>

                <div class="stat-block"
                    ng-if="isShowingAllStats">
                    <div class="text-center stat-icon">
                        <i class="fa fa-hand-pointer-o fa-5x"></i>
                    </div>
                    <div class="stat-value">
                        <div class="value-text">
                            <strong>{{ adStats[0].spend | currency:"$":"0" }}</strong>
                        </div>
                        <div class="note-text text-uppercase">CTR</div>
                    </div>
                </div>

                <div class="stat-block"
                    ng-if="isShowingAllStats">
                    <div class="text-center stat-icon">
                        <i class="fa fa-exchange fa-5x"></i>
                    </div>
                    <div class="stat-value">
                        <div class="value-text">
                            <strong>{{ adStats[0].spend | currency:"$":"0" }}</strong>
                        </div>
                        <div class="note-text text-uppercase">Total Conversions</div>
                    </div>
                </div>

                <!-- Show more stats button -->
                <div ng-if="!isShowingAllStats">
                    <button class="toggle-stat-button btn btn-block"
                        ng-click="showMoreStats()">
                        <span>More&nbsp;</span>
                        <i class="fa fa-sort-desc fa-2x"></i>
                    </button>
                </div>

                <!-- Hide more stats button -->
                <div ng-if="isShowingAllStats">
                    <button class="toggle-stat-button btn btn-block"
                        ng-click="hideMoreStats()">
                        <span>Hide&nbsp;</span>
                        <i class="fa fa-sort fa-2x"></i>
                    </button>
                </div>

            </div>
        </div>
        <!-- End of YCX -->

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <!-- START widget-->
                <a href="/#!/advertiser">
                    <div class="panel widget bg-primary">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center bg-primary-dark pv-md">
                                <em class="icon-bar-chart fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-md pt pb">
                                <div class="h3 mt0">{{ advertisers.length }}</div>
                                <div class="text-uppercase">Advertiser{{ advertisers.length != 1 ? 's' : ''}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- START widget-->
                <div class="panel widget bg-primary-light">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-primary pv-md">
                            <em class="icon-graph fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-md pt pb">
                            <div class="h3 mt0">{{ adStats[0].imps | number:"0" }}</div>
                            <div class="text-uppercase">Impressions</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- START widget-->
                <div class="panel widget bg-green-light">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-green pv-md">
                            <em class="icon-wallet fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-md pt pb">
                            <div class="h3 mt0">{{ adStats[0].spend | currency:"$":"0" }}</div>
                            <div class="text-uppercase">Total Ad Spend</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- START widget-->
                <div class="panel widget bg-green">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-green-dark pv-md">
                            <em class="icon-cursor fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-md pt pb">
                            <div class="h3 mt0">{{ adStats[0].clicks / adStats[0].imps | percentage : 2}}</div>
                            <div class="text-uppercase">CTR</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <em>Graphs & Stuff</em>
        <br/><br/>
        <div class="row">
            <div class="col-md-6">
                <div id="dashboardGraphPanel" class="panel panel-default" data-ng-init="getDashboardGraph('7d')">
                    <div class="panel-heading">
                        <div class="panel-title">{{ dateRanges[summaryDateRangeSelection].label }}
                            &nbsp&nbsp&nbsp
                            <small>
                                <em class="text-muted">
                                    Reporting Timezone: {{ authentication.user.tz }}
                                </em>
                            </small>
                            <span class="pull-right">
                                <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('7d')">7d</button>
                                <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('30d')">30d</button>
                                <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('90d')">90d</button>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <daily-ad-stats-graph time-series="timeSeries" show-points="showPoints" height="250px"></daily-ad-stats-graph>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            {{ dateRanges[dateRangeSelection].label }}
                            &nbsp&nbsp&nbsp
                            <small>
                                <em class="text-muted">
                                    Reporting Timezone: {{ authentication.user.tz }}
                                </em>
                            </small>
                            <span class="pull-right">
                                <button class="btn btn-sm btn-default" ng-click="getTabData('7d')">7d</button>
                                <button class="btn btn-sm btn-default" ng-click="getTabData('30d')">30d</button>
                                <button class="btn btn-sm btn-default" ng-click="getTabData('90d')">90d</button>
                            </span>
                        </div>
                    </div>
                    <tabset>
                        <tab heading="Top Publishers" select="getTabData(dateRangeSelection,'publishers')">
                            <table datatable="ng" dt-options="dtOptions_pubs" dt-column-defs="dtColumnDefs_pubs" class="row-border hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Publisher</th>
                                    <th>Impressions</th>
                                    <th>Spend</th>
                                    <th>Avg. CPM</th>
                                    <th>CTR</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in publisherData">
                                    <td><img ng-src="{{ row._id.publisher.logo_secure_url }}" class="client-logo-sm"/></td>
                                    <td style="max-width: 120px; word-wrap: break-word">{{ row._id.publisher.name }}<em ng-hide="row._id.publisher.name">Deleted Publisher!</em></td>
                                    <td>{{ row.imps | number: 0 }}</td>
                                    <td>{{ row.spend | currency:"$":"0" }}</td>
                                    <td>{{ row.spend / row.imps * 1000 |  currency:"$":"2" }}</td>
                                    <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                    <td>{{ row.view_convs + row.click_convs }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading="My Advertisers" select="getTabData(dateRangeSelection,'advertisers')">
                            <table datatable="ng" dt-options="dtOptions_advs" dt-column-defs="dtColumnDefs_advs" class="row-border hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Advertiser</th>
                                    <th>Impressions</th>
                                    <th>Spend</th>
                                    <th>Avg. CPM</th>
                                    <th>CTR</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in advertiserData">
                                    <td><img ng-src="{{ row._id.advertiser.logo_secure_url }}" class="client-logo-sm"/></td>
                                    <td style="max-width: 120px; word-wrap: break-word">{{ row._id.advertiser.name }}<em ng-hide="row._id.advertiser.name">Deleted Publisher!</em></td>
                                    <td>{{ row.imps | number: 0 }}</td>
                                    <td>{{ row.spend | currency:"$":"0" }}</td>
                                    <td>{{ row.spend / row.imps * 1000 |  currency:"$":"2" }}</td>
                                    <td>{{ row.clicks / row.imps | percentage: 2 }}</td>
                                    <td>{{ row.view_convs + row.click_convs }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
    <hr/>
    <em>Notes</em>
    <div class="row">
        <div class="col-md-4">
            <h2>
                <strong>A</strong>dvertisers & Campaigns
            </h2>
            <p>An Advertiser is a top-level entity, and can contain many Campaigns. For example, "Coca-Cola" would be an Advertiser, "Summer 2016" would be a Campaign. All targeting & creative settings are stored in Campaigns. Use the menu items on the left to create, view & edit your Advertiser & Campaign settings.</p>
        </div>
        <div class="col-md-4">
            <h2>
                <strong>F</strong>eedback
            </h2>
            <p>Cliques is built for you, and only you can help make it better! As a beta tester, we strongly encourage you to send us feedback on the platform. Please email <a href="mailto:bliang@cliquesads.com">bliang@cliquesads.com</a> with all feedback.</p>
        </div>
        <div class="col-md-4">
            <h2>
                <strong>R</strong>esources & Support
            </h2>
            <p>If you have any quick questions or issues, or want to learn more about our technology, please wander over to our <a target="_blank" href="http://support.cliquesads.com/">Support Center</a></p>
        </div>
    </div>
    <section ng-show="advertisers.length > 0">
        <hr/>
        <em>Creative Showcase</em>
        <br/><br/>
        <div class="row">
            <div class="container-fluid">
                <div deckgrid="" source="creatives" cardtemplate="modules/core/views/partials/grid-masonry-deck-card.html" class="deckgrid clearfix"></div>
            </div>
        </div>
    </section>
</section>