<section data-ng-controller="AdvertiserDashboardController">
    <div class="jumbotron text-center" ng-show="advertisers.$resolved && !loadingCampaigns && allCampaigns.length === 0">
        <div class="text-center">
            Thanks for being a part of the Cliques Beta Program!
        </div>
        <br>
        <div class="row">
            <p class="lead">
                It looks like you haven't set up any campaigns yet.  <strong>Let's change that now.</strong>
            </p>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-primary btn-lg" href="#!/new-campaign" analytics-on="click" analytics-event="AdvDashboard_GetStarted">Get Started</a>
            </p>
        </div>
    </div>

    <div class="row" ng-show="advertisers.$resolved">
        <!-- My Campaigns Section -->
        <div class="col-lg-6 col-sm-12">
            <div class="width-90">
                <span class="custom-section-title no-font-style mb"><i class="fa fa-bullhorn"></i> My Campaigns</span>
                <span class="pull-right">
                    <a href="/#!/all-campaigns" analytics-on="click" analytics-event="AdvDashboard_AllCampaigns"><i class="fa fa-bullhorn"></i> All Campaigns</a>
                </span>
            </div>
            <!-- Begin Loader-->
            <section ng-show="loadingCampaigns">
                <div class="panel panel-default width-90">
                    <div class="panel-body text-center">
                        <h4>Loading...</h4>
                        <div class="ball-pulse"><div></div><div></div><div></div></div>
                    </div>
                </div>
            </section>

            <!--Begin campaign section contents -->
            <section ng-show="!loadingCampaigns">
                <!-- scroll up campaigns button -->
                <div ng-if="showingCampaignEndIndex > CAMPAIGNS_TO_SHOW - 1">
                    <button class="btn btn-block btn-third-white-horizontal width-90 p-sm"
                        ng-click="scrollUpShowingCampaigns()" analytics-on="click" analytics-event="AdvDashboard_UpCampaigns">
                        <span>Up&nbsp;</span>
                        <i class="fa fa-sort-asc fa-2x mb-lg-neg"></i>
                    </button>
                </div>
                <a data-ng-repeat="campaign in currentlyShowingCampaigns track by campaign._id"
                    data-ng-href="#!/advertiser/{{campaign.parentAdvertiserId}}/campaign/{{campaign._id}}"
                    class="campaign-list-item" analytics-on="click" analytics-event="AdvDashboard_GoToCampaign">
                    <div class="col-sm-2">
                        <div class="label" ng-class="campaign.active ? 'label-success':'label-default'">{{ campaign.active ? "Active":"Inactive"}}</div>
                    </div>
                    <div class="col-sm-2">
                        <img src="{{ campaign.adv_logo_url }}" alt="Adv Logo" class="client-logo-md-lg">
                    </div>
                    <div class="col-sm-5">
                        <h4 class="campaign-list-item-heading mb-sm">{{ campaign.name | limitTo: 27 }}{{campaign.name.length > 27 ? '...' : ''}}</h4>
                        <p class="campaign-list-item-text">{{ campaign.clique }}</p>
                    </div>
                    <div class="col-sm-2">
                        <radial percent="campaign.percent_spent" size="sm"></radial>
                    </div>

                    <div class="col-sm-2">
                        <h4 class="campaign-list-item-heading">{{ (campaign.ctr||0) | percentage:"2" }}</h4>
                        <p class="campaign-list-item-text">CTR</p>
                    </div>
                </a>
                <!-- scroll down campaigns button -->
                <div ng-if="showingCampaignEndIndex < (allCampaigns.length - 1)">
                    <button class="btn btn-block btn-third-white-horizontal width-90 p-sm"
                        ng-click="scrollDownShowingCampaigns()" analytics-on="click" analytics-event="AdvDashboard_MoreCampaigns">
                        More &nbsp;
                        <i class="fa fa-sort-desc fa-2x mt-lg-neg"></i>
                    </button>
                </div>
            </section>
        </div>
        <!-- End of My Campaigns Section -->

        <!-- Year-To-Date Stats Section -->
        <div class="col-lg-6 col-sm-12 pl">
            <span class="custom-section-title no-font-style mb"><i class="fa fa-signal"></i> QuickStats</span>
            <span class="pull-right">
                <a href="/#!/analytics"><i class="fa fa-signal" analytics-on="click" analytics-event="AdvDashboard_GoToAnalytics"></i> Go to Analytics</a>
            </span>
            <div id="dashboardGraphPanel" class="panel panel-default" data-ng-init="getDashboardGraph('7d')">
                <div class="panel-heading">
                    <div class="panel-title">{{ dateRanges[summaryDateRangeSelection].label }}
                        <span class="pull-right">
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('7d')" analytics-on="click" analytics-event="AdvDashboard_StatsRange7d">7d</button>
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('30d')" analytics-on="click" analytics-event="AdvDashboard_StatsRange30d">30d</button>
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('90d')" analytics-on="click" analytics-event="AdvDashboard_StatsRange90d">90d</button>
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('ytd')" analytics-on="click" analytics-event="AdvDashboard_StatsRangeYTD">YTD</button>
                        </span>
                    </div>
                </div>
                <div class="panel-body pt-sm">
                    <!-- BEGIN Loader-->
                    <section ng-hide="timeSeries">
                        <div class="text-center">
                            <h4>Loading...</h4>
                            <div class="ball-pulse"><div></div><div></div><div></div></div>
                        </div>
                    </section>
                    <!-- BEGIN Actual Graph & Stats -->
                    <section ng-show="timeSeries">
                        <div class="row mb">
                            <div class="col-sm-3 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ impressions | number: 0 }}</div>
                                <small class="text-muted">Impressions</small>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center ">
                                <div class="h3 mt-sm mb0">{{ CTR | percentage:2 }}</div>
                                <small class="text-muted">CTR</small>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ clicks | number: 0 }}</div>
                                <small class="text-muted">Clicks</small>
                            </div>
                            <div class="col-sm-1 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ actions | number: 0 }}</div>
                                <small class="text-muted">Actions</small>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ spend | currency:"$":"0" }}</div>
                                <small class="text-muted">Spend</small>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ (spend / impressions) * 1000 | currency:"$":"2" }}</div>
                                <small class="text-muted">Avg. CPM</small>
                            </div>
                        </div>
                        <daily-ad-stats-graph time-series="timeSeries" show-points="showPoints" height="170px"></daily-ad-stats-graph>
                    </section>
                </div>
            </div>
        </div>
        <!-- End of Year-To-Date Stats Section -->
    </div>

    <div class="row">
        <span class="custom-section-title no-font-style"><i class="fa fa-camera-retro"></i> Recent Screenshots</span>
        <span class="pull-right">
            <a href="/#!/screenshots"><i class="fa fa-camera-retro" analytics-on="click" analytics-event="AdvDashboard_GoToScreenshots"></i> View all Screenshots</a>
        </span>
        <br/>
        <section ng-hide="screenshots" class="text-center">
            <div class="col-sm-12 text-center">
                <h4>Loading...</h4>
                <div class="ball-pulse"><div></div><div></div><div></div></div>
            </div>
        </section>
        <section ng-show="screenshots && screenshots.length > 0">
            <div class="screenshots-showcase">
                <!-- Last screenshot button -->
                <div ng-if="showingScreenshotEndIndex > 2">
                    <button class="btn btn-third-white-vertical"
                            ng-click="showLastScreenshot()" analytics-on="click" analytics-event="AdvDashboard_ScreenshotsScrollLeft">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </div>
                <!-- Screenshot images -->
                <div class="screenshot"
                     ng-repeat="screenshot in currentlyShowingScreenshots track by screenshot._id">
                    <!--<img src="{{ screenshot.image_url }}" alt="Screenshot" ng-click="viewScreenshot(screenshot)">-->
                    <screenshot-thumbnail screenshot="screenshot"></screenshot-thumbnail>
                </div>

                <!-- Next screenshot button -->
                <div ng-if="showingScreenshotEndIndex < screenshots.length - 1">
                    <button class="btn btn-third-white-vertical"
                            ng-click="showNextScreenshot()" analytics-on="click" analytics-event="AdvDashboard_ScreenshotsScrollRight">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </section>
        <section ng-show="screenshots && screenshots.length === 0">
            <div class="screenshots-showcase">
                <div class="screenshot"
                     ng-repeat="screenshot in demoScreenshots">
                    <screenshot-thumbnail screenshot="screenshot" demo="true"></screenshot-thumbnail>
                </div>
            </div>
        </section>
    </div>
</section>