<ul class="breadcrumb">
    <li>
        <a ng-show="$state.current.name != 'app.home'" ui-sref="app.home">Home</a>
        <span ng-show="$state.current.name === 'app.home'">Home</span>
    </li>
    <li ng-show="$state.current.name != 'app.home'" ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}">
        <a ng-switch-when="false" href="#!{{state.url.format($stateParams)}}">{{state.title}}</a>
        <strong><span ng-switch-when="true">{{state.title}}</span></strong>
    </li>
</ul>