<div class="col-sm-2">
    <strong>&copy; {{app.year}} Cliques Labs Inc.</strong>
    <p><small class="text-muted">Release v{{ consoleVersion }}</em></small></p>
</div>
<div class="col-sm-2">
    <strong>Legal</strong>
    <ul class="media-box-list">
        <li class=""><a class="text-muted" href="/#!/terms-and-conditions">Terms & Conditions</a></li>
        <li class=""><a class="text-muted" href="/#!/privacy-policy">Privacy</a></li>
    </ul>
</div>
<div class="col-sm-2">
    <strong>Resources</strong>
    <ul class="media-box-list">
        <li class=""><a class="text-muted" href="http://support.cliquesads.com">Support <i class="fa fa-external-link"></i></a></li>
    </ul>
</div>
<div class="col-sm-3">
    <strong>Reporting Data Last Updated:</strong>
    <p class="text-muted"><i class="fa fa-clock-o"></i> {{ latestHour }}</p>
</div>