<div class="col-sm-2">
    <strong>&copy; {{app.year}} Cliques Labs Inc.</strong>
    <p class="text-muted">Release v{{ consoleVersion }}</p>
</div>
<div class="col-sm-2">
    <strong>Legal</strong>
    <ul class="media-box-list">
        <li class=""><a class="text-muted" href="/#!/terms-and-conditions">Terms & Conditions</a></li>
        <li class=""><a class="text-muted" href="/#!/privacy-policy">Privacy</a></li>
    </ul>
</div>
<div class="col-sm-2">
    <strong>Resources</strong>
    <ul class="media-box-list">
        <li class=""><a class="text-muted" href="http://support.cliquesads.com">Support</a></li>
    </ul>
</div>
<div class="col-sm-3">
    <strong>Reporting Data As Of</strong>
    <span class="text-muted"><i class="fa fa-clock-o"> {{ latestHour }}</i></span>
</div>

