<div class="col-sm-12 text-muted">
<!--</div>-->
    <strong>&copy; {{app.year}} <a class="text-muted" href="http://cliquesads.com">Cliques Labs Inc.</a></strong>
    <small class="mr-lg ml-sm">v{{ consoleVersion }}</small>
    &nbsp;&nbsp;
    <a class="text-muted m-lg" href="/#!/terms-and-conditions">Terms & Conditions</a>
    <!--</div>-->
    <!--<div class="col-sm-1">-->
    <a class="text-muted m-lg" href="/#!/privacy-policy">Privacy</a>
    <!--</div>-->
    <!--<div class="col-sm-2">-->
    <a class="text-muted m-lg" href="http://support.cliquesads.com">Support</a>
    <!--</ul>-->
    &nbsp;&nbsp;
    <strong class="ml-lg">Data Last Updated:</strong>
    <i class="fa fa-clock-o"> {{ latestHour }}</i>
</div>

