<section data-ng-controller="PublisherDashboardController">
    <div class="jumbotron text-center" ng-show="publishers.$resolved && !loadingSites && publishers.length === 0">
        <div class="text-center">
            Thanks for being a part of the Cliques Beta Program!
        </div>
        <br>
        <div class="row">
            <p class="lead">
                It looks like you haven't set up a Publisher yet.  <strong>Let's change that now.</strong>
            </p>
        </div>
        <div class="row" ng-show="publishers.length == 0">
            <p>
                <a class="btn btn-primary btn-lg" href="#!/publisher/create" analytics-on="click" analytics-event="PubDashboard_Create">Get Started</a>
            </p>
        </div>
    </div>

    <div class="row" ng-show="publishers.$resolved">
        <!-- My Sites Section -->
        <div class="col-lg-6 col-sm-12">
            <div class="width-90">
                <span class="custom-section-title no-font-style mb"><i class="fa fa-bookmark-o"></i> My Sites</span>
                <span class="pull-right">
                    <a href="/#!/all-sites" analytics-on="click" analytics-event="PubDashboard_AllSites"><i class="fa fa-bookmark-o"></i> All Sites</a>
                </span>
            </div>
            <!-- Begin Loader-->
            <section ng-show="loadingSites">
                <div class="panel panel-default width-90">
                    <div class="panel-body text-center">
                        <h4>Loading...</h4>
                        <div class="ball-pulse"><div></div><div></div><div></div></div>
                    </div>
                </div>
            </section>

            <!--Begin site section contents -->
            <section ng-show="!loadingSites">
                <!-- scroll up sites button -->
                <div ng-if="showingSiteEndIndex > SITES_TO_SHOW - 1">
                    <button class="btn btn-block btn-third-white-horizontal width-90 p-sm"
                        ng-click="scrollUpShowingSites()" analytics-on="click" analytics-event="PubDashboard_UpSites">
                        <span>Up&nbsp;</span>
                        <i class="fa fa-sort-asc fa-2x mb-lg-neg"></i>
                    </button>
                </div>
                <a data-ng-repeat="site in currentlyShowingSites track by site._id"
                    data-ng-href="#!/publisher/{{site.parentPublisherId}}/site/{{site._id}}"
                    class="campaign-list-item" analytics-on="click" analytics-event="PubDashboard_GoToSite">
                    <div class="col-sm-2">
                        <div class="label" ng-class="site.active ? 'label-success':'label-default'">{{ site.active ? "Active":"Inactive"}}</div>
                    </div>
                    <div class="col-sm-2">
                        <img src="{{ site.pub_logo_url || default_logo_url }}" alt="Pub Logo" class="client-logo-md-lg">
                    </div>
                    <div class="col-sm-5">
                        <h4 class="campaign-list-item-heading mb-sm">{{ site.name | limitTo: 27 }}{{site.name.length > 27 ? '...' : ''}}</h4>
                        <p class="campaign-list-item-text">{{ site.clique }}</p>
                    </div>
                    <div class="col-sm-2">
                        <h4 class="campaign-list-item-heading">{{ site.rpm || "$0.00" }}</h4>
                        <p class="campaign-list-item-text">RPM</p>
                    </div>

                    <div class="col-sm-2">
                        <h4 class="campaign-list-item-heading">{{ site.ctr || "0.00%" }}</h4>
                        <p class="campaign-list-item-text">CTR</p>
                    </div>
                </a>
                <!-- scroll down campaigns button -->
                <div ng-if="showingSiteEndIndex < (allSites.length - 1)">
                    <button class="btn btn-block btn-third-white-horizontal width-90 p-sm"
                        ng-click="scrollDownShowingSites()" analytics-on="click" analytics-event="PubDashboard_MoreSites">
                        More &nbsp;
                        <i class="fa fa-sort-desc fa-2x mt-lg-neg"></i>
                    </button>
                </div>
            </section>
        </div>
        <!-- End of My Campaigns Section -->

        <!-- Year-To-Date Stats Section -->
        <div class="col-lg-6 col-sm-12 pl">
            <span class="custom-section-title no-font-style mb"><i class="fa fa-signal"></i> QuickStats</span>
            <span class="pull-right">
                <a href="/#!/analytics"><i class="fa fa-signal" analytics-on="click" analytics-event="PubDashboard_GoToAnalytics"></i> Go to Analytics</a>
            </span>
            <div id="dashboardGraphPanel" class="panel panel-default" data-ng-init="getDashboardGraph('7d')">
                <div class="panel-heading">
                    <div class="panel-title">{{ dateRanges[summaryDateRangeSelection].label }}
                        <span class="pull-right">
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('7d')" analytics-on="click" analytics-event="PubDashboard_StatsRange7d">7d</button>
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('30d')" analytics-on="click" analytics-event="PubDashboard_StatsRange30d">30d</button>
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('90d')" analytics-on="click" analytics-event="PubDashboard_StatsRange90d">90d</button>
                            <button class="btn btn-sm btn-default" ng-click="getDashboardGraph('ytd')" analytics-on="click" analytics-event="PubDashboard_StatsRangeYTD">YTD</button>
                        </span>
                    </div>
                </div>
                <div class="panel-body pt-sm">
                    <!-- BEGIN Loader-->
                    <section ng-hide="timeSeries">
                        <div class="text-center">
                            <h4>Loading...</h4>
                            <div class="ball-pulse"><div></div><div></div><div></div></div>
                        </div>
                    </section>
                    <!-- BEGIN Actual Graph & Stats -->
                    <section ng-show="timeSeries">
                        <div class="row mb">
                            <div class="col-sm-3 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ impressions | number: 0 }}</div>
                                <small class="text-muted">Impressions</small>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ defaults | number: 0 }}</div>
                                <small class="text-muted">Defaults</small>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ fillRate | percentage: 2 }}</div>
                                <small class="text-muted">Fill Rate</small>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ revenue | currency: "$":"0" }}</div>
                                <small class="text-muted">Revenue</small>
                            </div>
                            <div class="col-sm-1 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ RPM | currency:"$":"2" }}</div>
                                <small class="text-muted">RPM</small>
                            </div>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <div class="h3 mt-sm mb0">{{ CTR | percentage: 2 }}</div>
                                <small class="text-muted">CTR</small>
                            </div>
                        </div>
                        <daily-ad-stats-graph time-series="timeSeries" show-points="showPoints" height="170px"></daily-ad-stats-graph>
                    </section>
                </div>
            </div>
        </div>
        <!-- End of Year-To-Date Stats Section -->
    </div>

    <!-- Screenshots -->
    <div class="row">
        <span class="custom-section-title no-font-style"><i class="fa fa-camera-retro"></i> Recent Screenshots</span>
        <span class="pull-right">
            <a href="/#!/screenshots"><i class="fa fa-camera-retro" analytics-on="click" analytics-event="PubDashboard_GoToScreenshots"></i> View all Screenshots</a>
        </span>
        <br/>
        <section ng-hide="screenshots" class="text-center">
            <div class="col-sm-12 text-center">
                <h4>Loading...</h4>
                <div class="ball-pulse"><div></div><div></div><div></div></div>
            </div>
        </section>
        <section ng-show="screenshots && screenshots.length > 0">
            <div class="screenshots-showcase">
                <!-- Last screenshot button -->
                <div ng-if="showingScreenshotEndIndex > 2">
                    <button class="btn btn-third-white-vertical"
                            ng-click="showLastScreenshot()" analytics-on="click" analytics-event="PubDashboard_ScreenshotsScrollLeft">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </div>
                <!-- Screenshot images -->
                <div class="screenshot"
                     ng-repeat="screenshot in currentlyShowingScreenshots track by screenshot._id">
                    <!--<img src="{{ screenshot.image_url }}" alt="Screenshot" ng-click="viewScreenshot(screenshot)">-->
                    <screenshot-thumbnail screenshot="screenshot"></screenshot-thumbnail>
                </div>

                <!-- Next screenshot button -->
                <div ng-if="showingScreenshotEndIndex < screenshots.length - 1">
                    <button class="btn btn-third-white-vertical"
                            ng-click="showNextScreenshot()" analytics-on="click" analytics-event="PubDashboard_ScreenshotsScrollRight">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </section>
        <section ng-show="screenshots && screenshots.length === 0">
            <div class="screenshots-showcase">
                <div class="screenshot"
                     ng-repeat="screenshot in demoScreenshots">
                    <screenshot-thumbnail screenshot="screenshot" demo="true"></screenshot-thumbnail>
                </div>
            </div>
        </section>
    </div>
</section>