<!-- Inline template with sidebar items markup and ng-directives-->
<script type="text/ng-template" id="sidebar-renderer.html">
  <span ng-if="item.heading">{{(item.translate | translate) || item.title}}</span>
  <a href="/#!/{{item.link}}" ng-href="/#!/{{item.link}}" title="{{item.title}}">
    <em ng-hide="inSubmenu" class="{{item.iconClass}}"></em>
    <div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">{{item.alert}}</div>
    <i ng-if="inSubmenu" class="{{item.iconClass}}"></i><span class="ml-sm">{{(item.translate | translate) || item.title}}</span>
  </a>
  <ul ng-if="item.items.length" 
      collapse="isCollapse(pIndex)" 
      ng-init="addCollapse(pIndex, item)" 
      ng-click="$event.stopPropagation();" 
      class="nav sidebar-subnav">
        <li class="sidebar-subnav-header">{{(item.translate | translate) || item.title}}</li>
        <li ng-repeat="item in item.items | orderBy: 'position'" 
            ng-include="'sidebar-renderer.html'" 
            ng-class="{active: ($uiRoute)}"
            ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true;"
            ng-click="toggleCollapse(pIndex)"
            data-ng-if="item.shouldRender(authentication.user);"
            ui-route="{{item.uiRoute}}"></li>
  </ul>
</script>
<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav sidebar="" class="sidebar">
      <!-- START sidebar nav-->
      <ul class="nav">
         <li  ng-class="{active: ($uiRoute)}" 
              ng-repeat="item in menu.items | orderBy: 'position'" 
              ng-include="'sidebar-renderer.html'" 
              data-ng-if="item.shouldRender(authentication.user);"
              ui-route="{{item.uiRoute}}"
              ng-init="pIndex = $index;"
              ng-click="toggleCollapse(pIndex, true)"
              ></li>
      </ul>
      <!-- END sidebar nav-->

      <!-- Sidebar footer -->
      <div class="sidebar-footer">
        <div class="margin-top-16">
          <strong>Resources</strong>
          <ul class="media-box-list">
            <li>
              <a href="http://support.cliquesads.com" class="color-white">
                Support <i class="fa fa-external-link"></i>
              </a>
            </li>
            <li>
              <a href="/#!/terms-add-conditions" class="color-white">
                Terms & Conditions
              </a>
            </li>
            <li>
              <a href="/#!/privacy-policy" class="color-white">Privacy</a>
            </li>
          </ul>
        </div>

        <div class="margin-top-16">
          <strong>Data Last Updated</strong>
          <p class="color-white">
            <i class="fa fa-clock-o"></i> {{ latestHour }}
          </p>
        </div>

        <div class="margin-top-16">
          <small><strong>&copy; {{app.year}} Cliques Labs Inc.</strong></small>
          <p><small class="color-white">Release v{{ consoleVersion }}</small></p>
        </div>
      </div>
      <!-- END sidebar footer -->

   </nav>
</div>
<!-- END Sidebar (left)-->